workflows/cascade_test.json
{
  "name": "Cascade Logic Test",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// MOCK DATA: 3 сегменти × 2 мови\nreturn [\n  { json: { segment_id: 'seg_001', lang: 'de', real_duration_sec: 6.2, en_start_sec: 0.0 } },\n  { json: { segment_id: 'seg_002', lang: 'de', real_duration_sec: 5.8, en_start_sec: 6.0 } },\n  { json: { segment_id: 'seg_003', lang: 'de', real_duration_sec: 7.1, en_start_sec: 12.0 } },\n  { json: { segment_id: 'seg_001', lang: 'es', real_duration_sec: 5.5, en_start_sec: 0.0 } },\n  { json: { segment_id: 'seg_002', lang: 'es', real_duration_sec: 5.2, en_start_sec: 6.0 } },\n  { json: { segment_id: 'seg_003', lang: 'es', real_duration_sec: 6.8, en_start_sec: 12.0 } }\n];"
      },
      "id": "2",
      "name": "Mock Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const MIN_GAP = 0.4;\n\nconst rows = $input.all().map(item => item.json);\n\nif (rows.length === 0) {\n  throw new Error('No rows from Sheet');\n}\n\nconst requiredFields = ['segment_id', 'lang', 'real_duration_sec', 'en_start_sec'];\nfor (const field of requiredFields) {\n  if (rows[0][field] === undefined) {\n    throw new Error(`Column '${field}' missing in Sheet. Check schema.`);\n  }\n}\n\nconst byLang = {};\nfor (const row of rows) {\n  if (!byLang[row.lang]) byLang[row.lang] = [];\n  byLang[row.lang].push(row);\n}\n\nconsole.log(`Languages found: ${Object.keys(byLang).join(', ')}`);\n\nconst results = [];\n\nfor (const lang in byLang) {\n  const sorted = byLang[lang].sort((a, b) =>\n    String(a.segment_id).localeCompare(String(b.segment_id))\n  );\n\n  let prevEnd = null;\n\n  for (const row of sorted) {\n    const realDur = parseFloat(row.real_duration_sec);\n    const enStart = parseFloat(row.en_start_sec);\n\n    if (isNaN(realDur) || isNaN(enStart)) {\n      console.log(`Skip ${row.segment_id} ${lang}: invalid numbers`);\n      continue;\n    }\n\n    const positionStart = (prevEnd === null)\n      ? enStart\n      : Math.max(enStart, prevEnd + MIN_GAP);\n\n    const positionEnd = positionStart + realDur;\n    const driftFromEn = parseFloat((positionStart - enStart).toFixed(3));\n\n    results.push({\n      json: {\n        segment_id: row.segment_id,\n        lang: row.lang,\n        position_start_sec: parseFloat(positionStart.toFixed(3)),\n        position_end_sec: parseFloat(positionEnd.toFixed(3)),\n        drift_from_en_sec: driftFromEn,\n        row_key: `${row.segment_id}_${row.lang}`\n      }\n    });\n\n    prevEnd = positionEnd;\n  }\n\n  const langResults = results.filter(r => r.json.lang === lang);\n  const finalDrift = langResults[langResults.length - 1]?.json.drift_from_en_sec;\n  console.log(`Lang ${lang}: ${langResults.length} segments, final drift ${finalDrift}s`);\n}\n\nreturn results;"
      },
      "id": "3",
      "name": "Cascade Positioning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Mock Data", "type": "main", "index": 0 }]]
    },
    "Mock Data": {
      "main": [[{ "node": "Cascade Positioning", "type": "main", "index": 0 }]]
    }
  }
}
