workflows/synthesize_v2_post_cleanup.json
{
  "name": "W3 - Synthesize v2",
  "nodes": [
    {
      "parameters": {},
      "id": "16fcd090-befd-490f-a9ba-28d28afddc4a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "24792247-56d2-413f-a482-7d4d0ba986de",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "list",
          "cachedResultName": "dubbing-pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 493375466,
          "mode": "list",
          "cachedResultName": "voices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=493375466"
        },
        "options": {}
      },
      "id": "4b4e36d8-70c1-4366-9b04-d38aed5960de",
      "name": "Get Voices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -160,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "list",
          "cachedResultName": "dubbing-pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 124804121,
          "mode": "list",
          "cachedResultName": "localizations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=124804121"
        },
        "options": {}
      },
      "id": "76451d52-b7c2-461e-8f83-a827c7becaf1",
      "name": "Get Localizations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -160,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const voices = $('Get Voices').all().map(item => item.json);\n\nconst voiceMap = {};\nfor (const v of voices) {\n  if (v.lang) voiceMap[v.lang] = v;\n}\n\nconst segments = $input.all().map(item => item.json);\n\nconst merged = [];\nlet skippedNoVoice = 0;\nlet skippedNoTranslation = 0;\nlet skippedAlreadyDone = 0;\n\nfor (const seg of segments) {\n  const voice = voiceMap[seg.lang];\n  \n  if (!voice) {\n    skippedNoVoice++;\n    continue;\n  }\n  \n  if (!seg.text_translated || String(seg.text_translated).trim() === '') {\n    skippedNoTranslation++;\n    continue;\n  }\n  \n  if (seg.real_duration_sec && parseFloat(seg.real_duration_sec) > 0) {\n    skippedAlreadyDone++;\n    continue;\n  }\n  \n  merged.push({\n    json: {\n      segment_id: seg.segment_id,\n      lang: seg.lang,\n      text_translated: String(seg.text_translated).replace(/\"/g, \"'\"),\n      en_start_sec: parseFloat(seg.en_start_sec) || 0,\n      voice_id: voice.voice_id,\n      model: voice.model || 'eleven_multilingual_v2',\n      stability: parseFloat(voice.stability) || 0.5,\n      similarity_boost: parseFloat(voice.similarity_boost) || 0.75,\n      style: parseFloat(voice.style) || 0,\n      speed: parseFloat(voice.speed) || 1.0,\n      row_key: `${seg.segment_id}_${seg.lang}`\n    }\n  });\n}\n\nconsole.log(`Prepared ${merged.length} TTS jobs`);\nconsole.log(`Skipped: ${skippedNoVoice} no voice, ${skippedNoTranslation} no translation, ${skippedAlreadyDone} already done`);\n\nif (merged.length === 0) {\n  throw new Error('No segments to synthesize. Check Localizations and Voices sheets.');\n}\n\nreturn merged;"
      },
      "id": "3725a7e6-e279-40a1-a788-7c59a2f03050",
      "name": "Merge Voices to Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b9783d68-28db-4804-afe0-6a76c936aab9",
      "name": "Loop Over Segments",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_192"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text_translated }}\",\n  \"model_id\": \"{{ $json.model }}\",\n  \"voice_settings\": {\n    \"stability\": {{ $json.stability }},\n    \"similarity_boost\": {{ $json.similarity_boost }},\n    \"style\": {{ $json.style }},\n    \"speed\": {{ $json.speed }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "921f7c9d-d01f-48a5-9e14-896b51cafd21",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOMqSSnHPZPvS7PK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "62c663ed-2502-4b4f-b3b5-164f5f12c960",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        640,
        112
      ],
      "webhookId": "fdcd1090-b305-468e-9da6-9faaacd4a1d9"
    },
    {
      "parameters": {
        "jsCode": "// Estimate mp3 duration from binary size\n// Works for CBR mp3 (ElevenLabs output_format=mp3_44100_192 = 192 kbps)\n\nconst inputItem = $input.first();\nconst binary = inputItem.binary?.data;\n\nif (!binary) {\n  throw new Error('No binary from TTS. Check Response Format = File in HTTP Request');\n}\n\nlet fileSizeBytes;\n\nif (typeof binary === 'string') {\n  fileSizeBytes = Buffer.from(binary, 'base64').length;\n} else if (binary.data) {\n  fileSizeBytes = Buffer.from(binary.data, 'base64').length;\n} else {\n  fileSizeBytes = Buffer.byteLength(binary);\n}\n\nconst BITRATE_BYTES_PER_SEC = 24000;\nconst durationSec = fileSizeBytes / BITRATE_BYTES_PER_SEC;\nconst realDuration = parseFloat(durationSec.toFixed(3));\n\nconsole.log(`${inputItem.json.segment_id}_${inputItem.json.lang}: ${realDuration}s (${(fileSizeBytes/1024).toFixed(1)} KB)`);\n\nreturn [{\n  json: {\n    ...inputItem.json,\n    real_duration_sec: realDuration,\n    file_size_bytes: fileSizeBytes\n  },\n  binary: inputItem.binary\n}];"
      },
      "id": "3d009ca2-adfb-4bd8-934e-1a4515f49bc0",
      "name": "Estimate Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        112
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.segment_id }}_{{ $json.lang }}.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/u/0/folders/1VIsXePlTjUP7D58nvWQ03Gksc_Bp-GCB",
          "mode": "url"
        },
        "options": {}
      },
      "id": "7fb18f06-5ee4-45d8-b5c1-2496e3aaf192",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "list",
          "cachedResultName": "dubbing-pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 124804121,
          "mode": "list",
          "cachedResultName": "localizations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=124804121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "real_duration_sec": "={{ $('Estimate Duration').first().json.real_duration_sec }}",
            "audio_drive_file_id": "={{ $json.id }}",
            "row_number": 0
          },
          "matchingColumns": [
            "row_key"
          ],
          "schema": [
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text_translated",
              "displayName": "text_translated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "real_duration_sec",
              "displayName": "real_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_start_sec",
              "displayName": "position_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position_end_sec",
              "displayName": "position_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "audio_drive_file_id",
              "displayName": "audio_drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "_",
              "displayName": "_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2b3003b-717c-428b-af94-485a618b6c6d",
      "name": "Save Duration to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1248,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get Voices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Localizations": {
      "main": [
        [
          {
            "node": "Merge Voices to Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Voices to Segments": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Segments": {
      "main": [
        [],
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Estimate Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estimate Duration": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Save Duration to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Duration to Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voices": {
      "main": [
        [
          {
            "node": "Merge Voices to Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfc91350-1586-45f0-8f1f-0c59c015a94c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "pqn6O1gJkRPwURZ9",
  "tags": []
}