workflows/W1_STT_and_Segment.json
{
  "name": "W1 - STT_and_Segment",
  "nodes": [
    {
      "parameters": {},
      "id": "164d086c-1851-4026-bb43-4ccc32b5f8d8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "7c3cf856-856e-48d3-8036-ab527b50881a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept params from either Execute Workflow Trigger (parent passes {file_id, lesson_id})\n// or Manual Trigger (fall back to hardcoded test defaults).\nconst incoming = $input.first()?.json || {};\nconst file_id = incoming.file_id || '1gDRuwWEtfeHcQwEjEMbg4cQOHZQC_nYR';\nconst lesson_id = incoming.lesson_id || 'sleep_001';\nif (!file_id) throw new Error('Missing file_id');\nif (!lesson_id) throw new Error('Missing lesson_id');\nreturn [{ json: { file_id, lesson_id } }];"
      },
      "id": "6f6bbf51-b7cf-4bdc-b47e-7393d646dd9a",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        80
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "20f784ce-17f6-4a30-a9a3-01f84daca11e",
      "name": "Download Audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/listen?model=nova-3&punctuate=true&smart_format=true&utterances=true&utt_split=1.5&language=en",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "139ecde9-c26e-491c-acf7-dcd913078947",
      "name": "Deepgram STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pkPNMab5kHBstRKT",
          "name": "Deepgram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst lesson_id = $('Get Params').first().json.lesson_id;\nconst MAX_CHARS            = 150;\nconst MAX_GAP_FOR_GROUPING = 1.0;\n\nconst alt           = data.results?.channels?.[0]?.alternatives?.[0];\nconst paragraphs    = alt?.paragraphs?.paragraphs || [];\nconst audioDuration = parseFloat(data.metadata?.duration) || null;\nconst segments      = [];\nlet current         = null;\n\nfunction flush() { if (current) { segments.push(current); current = null; } }\n\nfor (const para of paragraphs) {\n  flush();\n  for (const s of (para.sentences || [])) {\n    if (current === null) {\n      current = { text: s.text, start: s.start, end: s.end };\n      continue;\n    }\n    const combined = current.text + ' ' + s.text;\n    const gap      = s.start - current.end;\n    if (combined.length <= MAX_CHARS && gap <= MAX_GAP_FOR_GROUPING) {\n      current.text = combined;\n      current.end  = s.end;\n    } else {\n      flush();\n      current = { text: s.text, start: s.start, end: s.end };\n    }\n  }\n}\nflush();\n\n// Fallback if paragraphs missing\nif (!segments.length) {\n  const utts = data.results?.utterances || [];\n  if (!utts.length) throw new Error('No sentences/utterances returned from Deepgram');\n  for (const u of utts) segments.push({ text: u.transcript, start: u.start, end: u.end });\n}\n\n// Extend last segment to full audio duration so concatenated slot sum = EN total.\n// Deepgram's last word.end stops at the last spoken word; audio may have trailing silence.\nif (audioDuration && segments.length > 0) {\n  const last = segments[segments.length - 1];\n  if (audioDuration > last.end) {\n    last.end = audioDuration;\n  }\n}\n\nreturn segments.map((seg, i) => ({\n  json: {\n    segment_id: lesson_id + '_seg_' + String(i + 1).padStart(3, '0'),\n    lesson_id,\n    en_text: seg.text,\n    en_start_sec: parseFloat(seg.start.toFixed(3)),\n    en_end_sec: parseFloat(seg.end.toFixed(3)),\n    en_duration_sec: parseFloat((seg.end - seg.start).toFixed(3)),\n    de_text: '',\n    es_text: '',\n    fr_text: '',\n    pl_text: '',\n    pt_text: '',\n    it_text: '',\n    tr_text: '',\n    status: 'pending',\n    notes: '',\n  }\n}));"
      },
      "id": "0e8dda14-3cb2-4433-b231-b615025354b8",
      "name": "Segment Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "segments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "segment_id": "={{ $json.segment_id }}",
            "en_text": "={{ $json.en_text }}",
            "status": "pending",
            "en_start_sec": "={{ $json.en_start_sec }}",
            "en_end_sec": "={{ $json.en_end_sec }}",
            "en_duration_sec": "={{ $json.en_duration_sec }}"
          },
          "matchingColumns": [
            "segment_id"
          ],
          "schema": [
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_text",
              "displayName": "en_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_end_sec",
              "displayName": "en_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "de_text",
              "displayName": "de_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "es_text",
              "displayName": "es_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fr_text",
              "displayName": "fr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pl_text",
              "displayName": "pl_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pt_text",
              "displayName": "pt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "it_text",
              "displayName": "it_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tr_text",
              "displayName": "tr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_lang",
              "displayName": "target_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "translated_text",
              "displayName": "translated_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_type",
              "displayName": "segment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "movement",
              "displayName": "movement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "undefined_text",
              "displayName": "undefined_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2d912d70-2358-493b-a0e3-ae133a166265",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1008,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Deepgram STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment Transcript": {
      "main": [
        [
          {
            "node": "Write to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepgram STT": {
      "main": [
        [
          {
            "node": "Segment Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13c1c245-f43f-488d-adb2-561ef563c2a2",
  "meta": {
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "WBsnWAyagEkenM6U",
  "tags": []
}
