workflows/W2_Translate_v2.json
{
  "name": "W2 - Translate v2",
  "nodes": [
    {
      "parameters": {},
      "id": "ded0a4d7-2215-4a2c-a7a4-5963ce21c86d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        192
      ]
    },
    {
      "parameters": {},
      "id": "3747d5ff-86a8-48e1-9e3d-63fa31d12545",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept lesson_id from parent workflow (W_Master) via Execute Workflow Trigger.\n// Manual Trigger has no payload — lesson_id stays null and Code nodes downstream\n// skip the lesson_id filter (operate on ALL segments — backward-compatible legacy behavior).\nconst incoming = $input.first()?.json || {};\nconst lesson_id = incoming.lesson_id || null;\nreturn [{ json: { lesson_id } }];"
      },
      "id": "3b733e5e-8f13-4a2b-bad0-9c562244d32d",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        272
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "9265e6df-33f2-4c83-a276-f7ef87c70f7a",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -192,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "prompts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "prompts1-w2-4abc-9def-readpromptssht",
      "name": "Read Prompts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "options": {}
      },
      "id": "f5bb31ba-5492-4ef2-97a5-8be60acbb8ba",
      "name": "Read Pending Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Batches tone analysis into chunks of TONE_BATCH so a long lesson (100+ segments)\n// doesn't overflow a single Claude call or exceed max_tokens.\nconst TONE_BATCH = 40;\nconst lesson_id = $('Get Params').first().json.lesson_id;\nlet segments = $input.all()\n  .filter(i => i.json.segment_id && i.json.en_text)\n  .map(i => ({ segment_id: i.json.segment_id, en_text: i.json.en_text }));\nif (lesson_id) segments = segments.filter(s => s.segment_id.startsWith(lesson_id + '_'));\nif (segments.length === 0) throw new Error('No segments to analyze' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst sysPrompt = loadPrompt('tone_analysis_system');\n\nconst batches = [];\nfor (let i = 0; i < segments.length; i += TONE_BATCH) {\n  batches.push(segments.slice(i, i + TONE_BATCH));\n}\n\nreturn batches.map(batch => ({\n  json: {\n    model: 'claude-sonnet-4-5',\n    max_tokens: 4000,\n    system: sysPrompt,\n    messages: [{ role: 'user', content: 'Segments:\\n\\n' + JSON.stringify(batch, null, 2) }],\n  },\n}));"
      },
      "id": "dd7f9745-a7c4-4849-ac63-a65c58b71122",
      "name": "Prepare Tone Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a0c9d74b-1260-485d-bea2-42c37e3d7491",
      "name": "Claude Tone Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "OX04ALIGnl0azgXe",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merges tone analysis from one or more batched Claude responses — emits per-segment items.\nconst merged = {};\nfor (const item of $input.all()) {\n  try {\n    let raw = item.json.content?.[0]?.text?.trim() || '{}';\n    const match = raw.match(/\\{[\\s\\S]*\\}/);\n    if (!match) { console.error('Parse Tone Map: no JSON in batch response'); continue; }\n    const batchMap = JSON.parse(match[0]);\n    Object.assign(merged, batchMap);\n  } catch (e) {\n    console.error('Parse Tone Map: parse failed for one batch:', e.message);\n  }\n}\nif (Object.keys(merged).length === 0) throw new Error('Tone analysis returned empty results across all batches');\nreturn Object.entries(merged).map(([segment_id, meta]) => ({\n  json: { segment_id, segment_type: meta.segment_type || 'narrative', movement_keywords: meta.movement_keywords || '', key_concepts: meta.key_concepts || '' }\n}));"
      },
      "id": "6261bd83-bb8b-4238-9913-b485e7776c1b",
      "name": "Parse Tone Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "segment_id": "={{ $json.segment_id }}",
            "segment_type": "={{ $json.segment_type }}",
            "movement_keywords": "={{ $json.movement_keywords }}"
          },
          "matchingColumns": [
            "segment_id"
          ],
          "schema": [
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_text",
              "displayName": "en_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "en_end_sec",
              "displayName": "en_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "segment_type",
              "displayName": "segment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "movement_keywords",
              "displayName": "movement_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "de_text",
              "displayName": "de_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "es_text",
              "displayName": "es_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fr_text",
              "displayName": "fr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pl_text",
              "displayName": "pl_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pt_text",
              "displayName": "pt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "it_text",
              "displayName": "it_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tr_text",
              "displayName": "tr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "de_adaptation_attempts",
              "displayName": "de_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "es_adaptation_attempts",
              "displayName": "es_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fr_adaptation_attempts",
              "displayName": "fr_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pl_adaptation_attempts",
              "displayName": "pl_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pt_adaptation_attempts",
              "displayName": "pt_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "it_adaptation_attempts",
              "displayName": "it_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tr_adaptation_attempts",
              "displayName": "tr_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "00bc5199-a817-4d67-934f-25addfe37de2",
      "name": "Update Tone Columns",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        624,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Batched translation: groups segments into batches of BATCH_SIZE and emits one Claude request per batch.\n// This dramatically reduces Anthropic API request count (31 → 4 for a typical lesson) and stays under\n// the default tier's output-tokens-per-minute ceiling (8K), which 1-segment-per-call hits at ~14 segments.\nconst lesson_id = $('Get Params').first().json.lesson_id;\nconst configItems = $('Read Config').all();\nconst configMap = {};\nconfigItems.forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst TOV = loadPrompt('tone_of_voice');\n\nconst toneItems = $('Parse Tone Map').all();\nconst toneMap = {};\ntoneItems.forEach(i => { if (i.json.segment_id) toneMap[i.json.segment_id] = i.json; });\n\nconst BATCH_SIZE = 8;\n\nconst segments = $('Read Pending Segments').all()\n  .filter(i => i.json.segment_id && i.json.en_text)\n  .filter(i => !lesson_id || i.json.segment_id.startsWith(lesson_id + '_'));\n\nconst systemBlocks = [\n  { type: 'text', text: loadPrompt('translate_system', { tov: TOV }), cache_control: { type: 'ephemeral' } },\n];\n\nconst batches = [];\nfor (let i = 0; i < segments.length; i += BATCH_SIZE) {\n  batches.push(segments.slice(i, i + BATCH_SIZE));\n}\n\nreturn batches.map((batch, bIdx) => {\n  const userMap = {};\n  const batchInfo = [];\n  for (const s of batch) {\n    const sid = s.json.segment_id;\n    const enText = (s.json.en_text || '').replace(/\"/g, \"'\");\n    const tone = toneMap[sid] || {};\n    userMap[sid] = { text: enText };\n    if (tone.segment_type) userMap[sid].type = tone.segment_type;\n    if (tone.key_concepts) userMap[sid].key_concepts = tone.key_concepts;\n    batchInfo.push({ segment_id: sid, en_text: s.json.en_text, en_duration_sec: s.json.en_duration_sec });\n  }\n  return {\n    json: {\n      batch_index: bIdx,\n      batch_size: batch.length,\n      batch_segments: batchInfo,\n      claude_body: {\n        model: 'claude-sonnet-4-5',\n        max_tokens: 8000,\n        system: systemBlocks,\n        messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n      },\n    },\n  };\n});"
      },
      "id": "fcb07b13-df55-4408-b95f-f8ca65e5388d",
      "name": "Prepare and Expand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        272
      ]
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        272
      ],
      "id": "a05f3913-e098-410e-a214-558b0d3a9a42",
      "name": "Wait",
      "webhookId": "3fe3dde2-e6b6-45fd-bcce-422e713834fa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claude_body) }}",
        "options": {}
      },
      "id": "f59ddc4b-99fd-4f1c-b46e-300fe9152d0d",
      "name": "Claude Translate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        272
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "OX04ALIGnl0azgXe",
          "name": "Anthropic account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parses batched Claude response → emits one item per segment.\n// Each batch's Claude reply is a JSON object: { segment_id: { de, es, fr, pl, pt, it, tr }, ... }.\nconst REQUIRED_LANGS = ['de', 'es', 'fr', 'pl', 'pt', 'it', 'tr'];\nconst preparedItems = $('Prepare and Expand').all();\nconst claudeItems = $input.all();\nconst results = [];\n\nfor (let i = 0; i < claudeItems.length; i++) {\n  const claudeResp = claudeItems[i].json;\n  const batchSegments = preparedItems[i]?.json?.batch_segments || [];\n  const batchIdx = preparedItems[i]?.json?.batch_index ?? i;\n\n  let batchTranslations = {};\n  try {\n    let text = claudeResp.content?.[0]?.text?.trim() || '{}';\n    text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) batchTranslations = JSON.parse(match[0]);\n  } catch(e) {\n    console.error(`Extract Translations: parse error on batch ${batchIdx}: ${e.message}`);\n  }\n\n  for (const seg of batchSegments) {\n    const translations = batchTranslations[seg.segment_id] || {};\n    const filled = REQUIRED_LANGS.filter(l => translations[l] && translations[l].trim());\n    if (filled.length === 0) {\n      console.error(`Extract Translations: skip ${seg.segment_id} — empty/missing in batch ${batchIdx}. Sheet row preserved.`);\n      continue;\n    }\n    if (filled.length < REQUIRED_LANGS.length) {\n      const missing = REQUIRED_LANGS.filter(l => !filled.includes(l));\n      console.warn(`Extract Translations: ${seg.segment_id} missing langs: ${missing.join(',')}`);\n    }\n    results.push({ json: {\n      segment_id:      seg.segment_id,\n      en_text:         seg.en_text || '',\n      en_duration_sec: seg.en_duration_sec || 0,\n      de_text: translations.de || '',\n      es_text: translations.es || '',\n      fr_text: translations.fr || '',\n      pl_text: translations.pl || '',\n      pt_text: translations.pt || '',\n      it_text: translations.it || '',\n      tr_text: translations.tr || '',\n    }});\n  }\n}\nreturn results;"
      },
      "id": "16f67f6b-f6f3-41fa-bf70-93a46e9dd537",
      "name": "Extract Translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        272
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "segment_id"
          ],
          "schema": [
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "en_text",
              "displayName": "en_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "en_end_sec",
              "displayName": "en_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_type",
              "displayName": "segment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "movement_keywords",
              "displayName": "movement_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "de_text",
              "displayName": "de_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "es_text",
              "displayName": "es_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fr_text",
              "displayName": "fr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pl_text",
              "displayName": "pl_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pt_text",
              "displayName": "pt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "it_text",
              "displayName": "it_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tr_text",
              "displayName": "tr_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "de_adaptation_attempts",
              "displayName": "de_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "es_adaptation_attempts",
              "displayName": "es_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fr_adaptation_attempts",
              "displayName": "fr_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pl_adaptation_attempts",
              "displayName": "pl_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pt_adaptation_attempts",
              "displayName": "pt_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "it_adaptation_attempts",
              "displayName": "it_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tr_adaptation_attempts",
              "displayName": "tr_adaptation_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "09d764e3-5c26-47ab-b1bb-962683a8166c",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1248,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verify Translations — QA pass on Sonnet's initial output.\n// Batches segments (8 at a time), sends to Claude with anti-pattern rules.\n// Applies corrections when Claude returns a different value; pass-through otherwise.\n// QA_SYSTEM is sized ≥1024 tokens so cache_control: ephemeral activates on Sonnet 4.5.\nconst QA_BATCH_SIZE = 8;\nconst LANGS = ['de', 'es', 'fr', 'pl', 'pt', 'it', 'tr'];\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst apiKey = configMap.anthropic_api_key || '';\nif (!apiKey) throw new Error('anthropic_api_key missing from config sheet');\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst QA_SYSTEM = loadPrompt('qa_verify_system');\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nasync function callQA(body) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.anthropic.com/v1/messages',\n        headers: { 'x-api-key': apiKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.content?.[0]?.text?.trim() || '';\n    } catch (e) {\n      if (attempt === MAX_TRIES - 1) { console.error('Verify Translations QA failed after retries:', e.message); return ''; }\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nconst items = $input.all();\nconst batches = [];\nfor (let i = 0; i < items.length; i += QA_BATCH_SIZE) batches.push(items.slice(i, i + QA_BATCH_SIZE));\n\n// Bounded-concurrent batch processing: process CHUNK batches in parallel via\n// Promise.all, sequential between chunks. Avoids n8n's 300s task-runner timeout\n// on big lessons while keeping concurrency within Anthropic Tier 1 rate limits.\n// Cap=3: existing exponential backoff in callQA absorbs any 429s gracefully.\nconst CHUNK = 3;\nconst corrections = {};\nasync function runOneVerifyBatch(batch) {\n  const userMap = {};\n  for (const it of batch) {\n    const j = it.json;\n    userMap[j.segment_id] = {\n      en: j.en_text || '',\n      de: j.de_text || '', es: j.es_text || '', fr: j.fr_text || '',\n      pl: j.pl_text || '', pt: j.pt_text || '', it: j.it_text || '', tr: j.tr_text || '',\n    };\n  }\n  const body = {\n    model: 'claude-sonnet-4-5',\n    max_tokens: 8000,\n    system: [{ type: 'text', text: QA_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n  };\n  const raw = await callQA.call(this, body);\n  try {\n    const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) return JSON.parse(match[0]);\n  } catch (e) { console.error('Verify Translations parse error:', e.message); }\n  return {};\n}\nfor (let i = 0; i < batches.length; i += CHUNK) {\n  const slice = batches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneVerifyBatch.call(this, b)));\n  for (const p of partial) Object.assign(corrections, p);\n}\n\n// Apply corrections: if QA returned a value for a lang, use it; else keep original.\nreturn items.map(it => {\n  const sid = it.json.segment_id;\n  const corr = corrections[sid] || {};\n  const out = { ...it.json };\n  for (const lang of LANGS) {\n    const key = `${lang}_text`;\n    if (corr[lang] && corr[lang].trim()) out[key] = corr[lang].trim();\n  }\n  return { json: out };\n});\n"
      },
      "id": "fe4e4714-aabc-42bf-8b7c-0e5fcfc09a19",
      "name": "Verify Translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gemini Editor — cross-model second-pass review on Sonnet's QA-corrected output.\n// Same input/output schema as Verify Translations (drop-in compatible). Reads\n// gemini_api_key from config sheet. Calls Gemini 3.5 Flash via OpenAI-compatible endpoint with\n// retries with exponential backoff (4 attempts: 2s/4s/8s). On final failure,\n// returns empty corrections → all items pass through with Verify-cleaned text.\n//\n// EDITOR_SYSTEM is sized ≥1024 tokens so Gemini's prompt cache (when prefix ≥ threshold) activates\n// on batches 2-4 (no explicit cache_control needed — Google handles shared\n// system-prompt prefixes).\nconst QA_BATCH_SIZE = 8;\nconst LANGS = ['de', 'es', 'fr', 'pl', 'pt', 'it', 'tr'];\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst apiKey = configMap.gemini_api_key || '';\nif (!apiKey) throw new Error('gemini_api_key missing from config sheet');\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst EDITOR_SYSTEM = loadPrompt('editor_system');\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nasync function callGemini(body) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions',\n        headers: { 'Authorization': `Bearer ${apiKey}`, 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.choices?.[0]?.message?.content?.trim() || '';\n    } catch (e) {\n      if (attempt === MAX_TRIES - 1) { console.error('Gemini Editor failed after retries:', e.message); return ''; }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nconst items = $input.all();\nconst batches = [];\nfor (let i = 0; i < items.length; i += QA_BATCH_SIZE) batches.push(items.slice(i, i + QA_BATCH_SIZE));\n\n// Bounded-concurrent batch processing: process CHUNK batches in parallel via\n// Promise.all, sequential between chunks. Avoids n8n's 300s task-runner timeout\n// on big lessons (GPT-5 is ~30s/batch, 7 batches sequential = 210s).\n// Cap=3 respects OpenAI Tier 1 (~30K TPM on GPT-5).\nconst CHUNK = 3;\nconst corrections = {};\nasync function runOneGeminiBatch(batch) {\n  const userMap = {};\n  for (const it of batch) {\n    const j = it.json;\n    userMap[j.segment_id] = {\n      en: j.en_text || '',\n      de: j.de_text || '', es: j.es_text || '', fr: j.fr_text || '',\n      pl: j.pl_text || '', pt: j.pt_text || '', it: j.it_text || '', tr: j.tr_text || '',\n    };\n  }\n  const body = {\n    model: 'gemini-3.5-flash',\n    messages: [\n      { role: 'system', content: EDITOR_SYSTEM },\n      { role: 'user',   content: JSON.stringify(userMap, null, 2) },\n    ],\n    response_format: { type: 'json_object' },\n  };\n  const raw = await callGemini.call(this, body);\n  try {\n    const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) return JSON.parse(match[0]);\n  } catch (e) { console.error('Gemini Editor parse error:', e.message); }\n  return {};\n}\nfor (let i = 0; i < batches.length; i += CHUNK) {\n  const slice = batches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneGeminiBatch.call(this, b)));\n  for (const p of partial) Object.assign(corrections, p);\n}\n\n// Apply corrections: if Gemini returned a value for a lang, use it; else keep original.\nreturn items.map(it => {\n  const sid = it.json.segment_id;\n  const corr = corrections[sid] || {};\n  const out = { ...it.json };\n  for (const lang of LANGS) {\n    const key = `${lang}_text`;\n    if (corr[lang] && corr[lang].trim()) out[key] = corr[lang].trim();\n  }\n  return { json: out };\n});\n"
      },
      "id": "gemini01-editor-4abc-9def-flash35editor",
      "name": "Gemini Editor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// OpenAI Editor — cross-model second-pass review on Sonnet's QA-corrected output.\n// Same input/output schema as Verify Translations (drop-in compatible). Reads\n// openai_api_key from config sheet. Calls GPT-5 with JSON response_format and\n// retries with exponential backoff (4 attempts: 2s/4s/8s). On final failure,\n// returns empty corrections → all items pass through with Verify-cleaned text.\n//\n// EDITOR_SYSTEM is sized ≥1024 tokens so OpenAI's automatic prompt cache activates\n// on batches 2-4 (no explicit cache_control needed — OpenAI auto-detects shared\n// system-prompt prefixes).\nconst QA_BATCH_SIZE = 8;\nconst LANGS = ['de', 'es', 'fr', 'pl', 'pt', 'it', 'tr'];\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst apiKey = configMap.openai_api_key || '';\nif (!apiKey) throw new Error('openai_api_key missing from config sheet');\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst EDITOR_SYSTEM = loadPrompt('editor_system');\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nasync function callEditor(body) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.openai.com/v1/chat/completions',\n        headers: { 'Authorization': `Bearer ${apiKey}`, 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.choices?.[0]?.message?.content?.trim() || '';\n    } catch (e) {\n      if (attempt === MAX_TRIES - 1) { console.error('OpenAI Editor failed after retries:', e.message); return ''; }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nconst items = $input.all();\nconst batches = [];\nfor (let i = 0; i < items.length; i += QA_BATCH_SIZE) batches.push(items.slice(i, i + QA_BATCH_SIZE));\n\n// Bounded-concurrent batch processing: process CHUNK batches in parallel via\n// Promise.all, sequential between chunks. Avoids n8n's 300s task-runner timeout\n// on big lessons (GPT-5 is ~30s/batch, 7 batches sequential = 210s).\n// Cap=3 respects OpenAI Tier 1 (~30K TPM on GPT-5).\nconst CHUNK = 3;\nconst corrections = {};\nasync function runOneEditorBatch(batch) {\n  const userMap = {};\n  for (const it of batch) {\n    const j = it.json;\n    userMap[j.segment_id] = {\n      en: j.en_text || '',\n      de: j.de_text || '', es: j.es_text || '', fr: j.fr_text || '',\n      pl: j.pl_text || '', pt: j.pt_text || '', it: j.it_text || '', tr: j.tr_text || '',\n    };\n  }\n  const body = {\n    model: 'gpt-5',\n    messages: [\n      { role: 'system', content: EDITOR_SYSTEM },\n      { role: 'user',   content: JSON.stringify(userMap, null, 2) },\n    ],\n    response_format: { type: 'json_object' },\n  };\n  const raw = await callEditor.call(this, body);\n  try {\n    const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) return JSON.parse(match[0]);\n  } catch (e) { console.error('OpenAI Editor parse error:', e.message); }\n  return {};\n}\nfor (let i = 0; i < batches.length; i += CHUNK) {\n  const slice = batches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneEditorBatch.call(this, b)));\n  for (const p of partial) Object.assign(corrections, p);\n}\n\n// Apply corrections: if GPT-5 returned a value for a lang, use it; else keep original.\nreturn items.map(it => {\n  const sid = it.json.segment_id;\n  const corr = corrections[sid] || {};\n  const out = { ...it.json };\n  for (const lang of LANGS) {\n    const key = `${lang}_text`;\n    if (corr[lang] && corr[lang].trim()) out[key] = corr[lang].trim();\n  }\n  return { json: out };\n});\n"
      },
      "id": "openai01-editor-4abc-9def-gpt5crossqa01",
      "name": "OpenAI Editor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const LANG_CPS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\nconst LANGS = ['de', 'es', 'fr', 'pl', 'pt', 'it', 'tr'];\nconst BUDGET_FACTOR = 1.05;\nconst MAX_ATTEMPTS = 3;\nconst MIN_RETAIN = 0.60;  // never accept shortening below 60% of input\nconst ANTHROPIC_URL = 'https://api.anthropic.com/v1/messages';\n\nconst configItems = $('Read Config').all();\nconst configMap = {};\nconfigItems.forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst apiKey = configMap['anthropic_api_key'] || '';\nif (!apiKey) throw new Error('anthropic_api_key missing from config sheet');\n\n// Per-language CPS — defaults tuned against real ElevenLabs output; overridable via\n// config keys cps_estimate_de, cps_estimate_es, …, cps_estimate_tr. Computed below.\nconst CPS_DEFAULTS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  return Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{${k}\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n}\nconst SYSTEM_PROMPT = loadPrompt('adapt_shorten_system');\n\nconst ATTEMPT_PROMPTS = [\n  (lang, budget, est, en, trans, minChars) => loadPrompt('adapt_attempt_light',  { lang, budget, est, en, trans, min_chars: minChars }),\n  (lang, budget, est, en, trans, minChars) => loadPrompt('adapt_attempt_medium', { lang, budget, est, en, trans, min_chars: minChars }),\n  (lang, budget, est, en, trans, minChars) => loadPrompt('adapt_attempt_max',    { lang, budget, est, en, trans, min_chars: minChars }),\n];\n\n\n// Strip Claude meta-commentary.\n// Meditation translations are always single-line, so cut at the FIRST newline —\n// anything after is meta-commentary like \"(Already at N characters; cannot shorten further)\"\n// which Claude (esp. Sonnet) sometimes appends on a single newline (not \\n\\n).\nfunction sanitizeClaudeOutput(rawText) {\n  if (!rawText) return '';\n  let t = rawText.trim();\n  const nlIdx = t.indexOf('\\n');\n  if (nlIdx >= 0) t = t.substring(0, nlIdx).trim();\n  t = t.replace(/^[\\*_]+|[\\*_]+$/g, '').trim();\n  t = t.replace(/^[\"'`]+|[\"'`]+$/g, '').trim();\n  // Strip trailing parenthesized meta even on same line (\"text (12 chars)\")\n  t = t.replace(/\\s*\\([^)]*(character|char|cannot|already|maximally|minimal)[^)]*\\)\\s*$/i, '').trim();\n  return t;\n}\n\nfunction estimateDuration(text, lang) {\n  return text.length / (LANG_CPS[lang] || 15);\n}\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nasync function callClaude(userContent) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: ANTHROPIC_URL,\n        headers: { 'x-api-key': apiKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body: { model: 'claude-sonnet-4-5', max_tokens: 500, system: SYSTEM_PROMPT, messages: [{ role: 'user', content: userContent }] },\n        json: true,\n      });\n      return sanitizeClaudeOutput(resp.content?.[0]?.text || '');\n    } catch (e) {\n      const isLast = attempt === MAX_TRIES - 1;\n      if (isLast) { console.error('Adapt callClaude failed after retries:', e.message); return ''; }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const { segment_id, en_text, en_duration_sec } = item.json;\n  const budget = parseFloat(en_duration_sec) || 0;\n\n  // Parallelize 7 langs per segment via Promise.all. Each lang's 3-attempt shorten\n  // loop stays sequential inside its own async branch (each attempt refines the\n  // previous, so they're inherently dependent). Max 7 concurrent Claude requests\n  // at any moment — well below Sonnet Tier 1 RPM. The 5s/exponential backoff\n  // inside callClaude handles any rate-limit hits gracefully. Without this\n  // parallelization a 21-segment lesson can exceed n8n's default 300s task-runner\n  // timeout when many (segment × lang) pairs need shortening.\n  const langResults = await Promise.all(LANGS.map(async (lang) => {\n    let text = item.json[`${lang}_text`] || '';\n    let attempts = 0;\n    if (text && budget) {\n      for (let a = 0; a < MAX_ATTEMPTS; a++) {\n        const est = estimateDuration(text, lang);\n        if (est <= budget * BUDGET_FACTOR) break;\n        const minChars = Math.floor(text.length * MIN_RETAIN);\n        const shortened = await callClaude.call(this, ATTEMPT_PROMPTS[a](lang, budget.toFixed(1), est.toFixed(1), en_text, text, minChars));\n        // Length floor: reject Claude output that went below 60% of input length\n        if (shortened && shortened.length >= minChars) {\n          text = shortened;\n        }\n        attempts = a + 1;\n      }\n    }\n    return { lang, text, attempts };\n  }));\n\n  const out = { segment_id, en_text, en_duration_sec: budget };\n  let maxAttempts = 0;\n  for (const { lang, text, attempts } of langResults) {\n    out[`${lang}_text`] = text;\n    out[`${lang}_adaptation_attempts`] = attempts;\n    if (attempts > maxAttempts) maxAttempts = attempts;\n  }\n  out.adaptation_attempts = maxAttempts;\n  results.push({ json: out });\n}\nreturn results;"
      },
      "id": "8bfc96f3-7a22-46bd-9a1b-20cb67dbfc12",
      "name": "Adapt Translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        992
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Segments": {
      "main": [
        [
          {
            "node": "Prepare Tone Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tone Analysis": {
      "main": [
        [
          {
            "node": "Claude Tone Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Tone Analysis": {
      "main": [
        [
          {
            "node": "Parse Tone Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tone Map": {
      "main": [
        [
          {
            "node": "Update Tone Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tone Columns": {
      "main": [
        [
          {
            "node": "Prepare and Expand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare and Expand": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Claude Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Translate": {
      "main": [
        [
          {
            "node": "Extract Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Translations": {
      "main": [
        [
          {
            "node": "Verify Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapt Translations": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Translations": {
      "main": [
        [
          {
            "node": "Gemini Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Editor": {
      "main": [
        [
          {
            "node": "Adapt Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2c4bedd-725d-4d27-8743-10d1adb16634",
  "meta": {
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "9LqXZB7SRtYpnMEL",
  "tags": []
}
