workflows/W3_Dispatch.json
{
  "name": "W3 Dispatch (per-lang)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Orchestrator entry. lesson_id from parent (W_Master) or null (manual run → W3 treats\n// null as all-segments, legacy). The per-lang fan-out happens in Build Lang Jobs.\nconst incoming = $input.first()?.json || {};\nreturn [{ json: { lesson_id: incoming.lesson_id || null } }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        480,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Fan out one job per active language. Each drives a SEPARATE W3 sub-execution, run\n// strictly sequentially by the batchSize=1 loop → peak runner memory stays at ~1 lang\n// (the 44100 OOM fix). is_last_lang flags the final lang so only its W3 run posts Slack\n// (by then all langs are written to the sheet → the report is complete).\nconst cfg = {};\n$('Read Config').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\nconst lesson_id = $('Get Params').first().json.lesson_id;\nconst langs = (cfg.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean);\nif (!langs.length) throw new Error('active_langs produced empty list — check config');\nreturn langs.map((lang, i) => ({\n  json: { lesson_id, lang, is_last_lang: i === langs.length - 1 },\n}));\n"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Build Lang Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Loop Over Langs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MOZzjHF8ATMGkyjl",
          "mode": "list",
          "cachedResultUrl": "/workflow/MOZzjHF8ATMGkyjl",
          "cachedResultName": "W3 - Synthesize v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lesson_id": "={{ $json.lesson_id }}",
            "lang": "={{ $json.lang }}",
            "is_last_lang": "={{ $json.is_last_lang }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Execute W3 Per Lang",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        220
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Build Lang Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lang Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Langs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Langs": {
      "main": [
        [],
        [
          {
            "node": "Execute W3 Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W3 Per Lang": {
      "main": [
        [
          {
            "node": "Loop Over Langs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 14400
  },
  "tags": []
}
