workflows/W3_Dispatch.json
{
  "name": "W3 Dispatch (per-lang)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Continuation-chain kickoff/step. lesson_id from parent (W_Master/manual). lang_index =\n// which language to process this hop (default 0 = start of chain). The chain advances by\n// W3 calling this dispatcher back with the next index when a language finishes.\nconst incoming = $input.first()?.json || {};\nconst lesson_id = incoming.lesson_id || null;\nconst lang_index = Number(incoming.lang_index) || 0;\nreturn [{ json: { lesson_id, lang_index } }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        480,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Resolve langs[lang_index] from config active_langs and hand W3 an explicit single lang +\n// the flags it needs to (a) gate Slack to the final language and (b) chain to the next one.\nconst cfg = {};\n$('Read Config').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\nconst langs = (cfg.active_langs || 'de,es,fr,it,pl,pt,tr').split(',').map(s => s.trim()).filter(Boolean);\nif (!langs.length) throw new Error('active_langs produced empty list — check config');\nconst { lesson_id, lang_index } = $('Get Params').first().json;\nconst idx = Math.min(Math.max(lang_index, 0), langs.length - 1);\nreturn [{ json: {\n  lesson_id,\n  lang: langs[idx],\n  is_last_lang: idx === langs.length - 1,\n  next_index: idx + 1,\n} }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Resolve Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MOZzjHF8ATMGkyjl",
          "mode": "list",
          "cachedResultUrl": "/workflow/MOZzjHF8ATMGkyjl",
          "cachedResultName": "W3 - Synthesize v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lesson_id": "={{ $json.lesson_id }}",
            "lang": "={{ $json.lang }}",
            "is_last_lang": "={{ $json.is_last_lang }}",
            "next_index": "={{ $json.next_index }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Fire W3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        100
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Resolve Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Lang": {
      "main": [
        [
          {
            "node": "Fire W3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 14400
  },
  "id": "tKWQr2u81BvxtWfV",
  "tags": []
}
