workflows/W3_Synthesize_v2.json
{
  "name": "W3 - Synthesize v2",
  "nodes": [
    {
      "parameters": {},
      "id": "f30252ee-938d-45d0-803b-669c6e09d439",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3872,
        1456
      ]
    },
    {
      "parameters": {},
      "id": "6cec5857-ddc9-4623-ba55-cb136d0c609e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3872,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept lesson_id from parent workflow (W_Master) via Execute Workflow Trigger.\n// Manual Trigger has no payload — lesson_id stays null and Code nodes downstream\n// skip the lesson_id filter (operate on ALL segments — backward-compatible legacy behavior).\nconst incoming = $input.first()?.json || {};\nconst lesson_id = incoming.lesson_id || null;\nreturn [{ json: { lesson_id } }];"
      },
      "id": "fa28a272-c157-4428-a26f-398ee21a2775",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1536
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "fbc6c5a8-1118-49be-87ae-48edf55977a3",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4288,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "prompts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "prompts2-w3-4abc-9def-readpromptssht",
      "name": "Read Prompts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4384,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "voices",
          "mode": "name"
        },
        "options": {}
      },
      "id": "52822cec-cd79-46cd-a4f2-7e0c71f97490",
      "name": "Read Voices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4480,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "options": {}
      },
      "id": "018927e8-69e7-46ba-a29d-b75a850f967b",
      "name": "Read Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4688,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lesson_id = $('Get Params').first().json.lesson_id;\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs        = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr').split(',').map(s => s.trim());\nconst MIN_GAP            = parseFloat(configMap.min_inter_segment_gap_sec)  || 0.4;\nconst MAX_BORROW         = parseFloat(configMap.max_borrow_per_segment_sec) || 2.0;\nconst EXPANSION_THRESHOLD= parseFloat(configMap.expansion_threshold)        || 0.85;\nconst SILENCE_LEAD_RATIO = parseFloat(configMap.silence_lead_ratio)         || 0.2;\nconst SILENCE_LEAD_MAX_SEC = parseFloat(configMap.silence_lead_max_sec)    || 0.05;\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst sortedSegs = $input.all()\n  .filter(i => i.json.segment_id)\n  .filter(i => !lesson_id || i.json.segment_id.startsWith(lesson_id + '_'))\n  .sort((a, b) => (parseFloat(a.json.en_start_sec) || 0) - (parseFloat(b.json.en_start_sec) || 0));\nif (sortedSegs.length === 0) throw new Error('No segments to synthesize' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\n\nconst slotInfo = {};\nfor (let i = 0; i < sortedSegs.length; i++) {\n  const seg     = sortedSegs[i].json;\n  const prevEnd = i > 0 ? (parseFloat(sortedSegs[i-1].json.en_end_sec) || 0) : 0;\n  const start   = parseFloat(seg.en_start_sec)    || 0;\n  const end     = parseFloat(seg.en_end_sec)      || 0;\n  // Authoritative slot duration: end - start. Stored en_duration_sec can be\n  // corrupted in segments tab (root cause TBD); prefer computed value.\n  const storedDur = parseFloat(seg.en_duration_sec) || 0;\n  const computedDur = Math.max(0, end - start);\n  const dur = computedDur > 0 ? computedDur : storedDur;\n  if (computedDur > 0 && storedDur > 0 && Math.abs(computedDur - storedDur) > 0.5) {\n    console.warn(`W3 Expand TTS Jobs: segment ${seg.segment_id} stored en_duration_sec=${storedDur.toFixed(3)} disagrees with (end-start)=${computedDur.toFixed(3)}. Using computed.`);\n  }\n\n  const isLast = (i === sortedSegs.length - 1);\n  const nextStart = isLast ? end : (parseFloat(sortedSegs[i+1].json.en_start_sec) || 0);\n  const gapAfter = Math.max(0, nextStart - end);\n\n  // Unified signed adjustment: negative = steal needed; positive = borrow available\n  const signedAdj      = gapAfter - MIN_GAP;\n  const trailingSteal  = signedAdj < 0 ? -signedAdj : 0;\n  const maxBorrowable  = isLast ? 0 : Math.max(0, Math.min(signedAdj, MAX_BORROW));\n\n  // Audio budget WITHOUT borrow (steal already accounted)\n  const ttsBudget      = Math.max(dur * 0.5, dur - trailingSteal);\n  // Effective slot WITH borrow allowance\n  const effectiveSlot  = ttsBudget + maxBorrowable;\n\n  slotInfo[seg.segment_id] = {\n    slot_start_sec:           prevEnd,\n    slot_end_sec:             end,\n    lead_silence_natural_sec: Math.max(0, start - prevEnd),\n    tts_budget_sec:           parseFloat(ttsBudget.toFixed(3)),\n    effective_slot_sec:       parseFloat(effectiveSlot.toFixed(3)),\n    max_borrowable_sec:       parseFloat(maxBorrowable.toFixed(3)),\n    trailing_steal_sec:       parseFloat(trailingSteal.toFixed(3)),\n    gap_after_sec:            parseFloat(gapAfter.toFixed(3)),\n  };\n}\n\nconst results = [];\nfor (const item of sortedSegs) {\n  const seg = item.json;\n  // Re-derive dur authoritatively for result row (same logic as slotInfo loop).\n  const _segEnd   = parseFloat(seg.en_end_sec)   || 0;\n  const _segStart = parseFloat(seg.en_start_sec) || 0;\n  const _segDur   = Math.max(0, _segEnd - _segStart) || (parseFloat(seg.en_duration_sec) || 0);\n  for (const lang of activeLangs) {\n    const text = seg[`${lang}_text`];\n    if (!text || !text.trim()) continue;\n    const voice = voiceMap[lang] || {};\n    if (!voice.voice_id) continue;\n    const info = slotInfo[seg.segment_id] || {};\n    results.push({ json: {\n      segment_id:               seg.segment_id,\n      lesson_id:                seg.lesson_id || 'unknown',\n      lang,\n      text,\n      en_text:                  seg.en_text || '',\n      en_duration_sec:          _segDur,\n      en_start_sec:             parseFloat(seg.en_start_sec) || 0,\n      en_end_sec:               parseFloat(seg.en_end_sec) || 0,\n      slot_start_sec:           info.slot_start_sec           || 0,\n      slot_end_sec:             info.slot_end_sec             || 0,\n      lead_silence_natural_sec: info.lead_silence_natural_sec || 0,\n      tts_budget_sec:           info.tts_budget_sec           || (parseFloat(seg.en_duration_sec) || 0),\n      effective_slot_sec:       info.effective_slot_sec       || (parseFloat(seg.en_duration_sec) || 0),\n      max_borrowable_sec:       info.max_borrowable_sec       || 0,\n      trailing_steal_sec:       info.trailing_steal_sec       || 0,\n      gap_after_sec:            info.gap_after_sec            || 0,\n      silence_lead_ratio:       SILENCE_LEAD_RATIO,\n      silence_lead_max_sec:     SILENCE_LEAD_MAX_SEC,\n      expansion_threshold:      EXPANSION_THRESHOLD,\n      voice_id:                 voice.voice_id,\n      stability:                parseFloat(voice.stability)         || 0.5,\n      similarity_boost:         parseFloat(voice.similarity_boost)  || 0.75,\n      style:                    parseFloat(voice.style)             || 0,\n      speed:                    parseFloat(voice.speed)             || 1.0,\n      model:                    voice.model || 'eleven_multilingual_v2',\n    }});\n  }\n}\nreturn results;"
      },
      "id": "91f1393a-8f76-4269-98d8-c923162b40c2",
      "name": "Expand TTS Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        1536
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ad2810af-d75f-43af-bf8d-7c3b5bf37715",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5088,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}?output_format=pcm_22050",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $credentials.apiKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"model_id\": \"{{ $json.model }}\",\n  \"voice_settings\": {\n    \"stability\": {{ $json.stability }},\n    \"similarity_boost\": {{ $json.similarity_boost }},\n    \"style\": {{ $json.style }},\n    \"speed\": {{ $json.speed }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7499c43d-f0e4-4c2b-9acb-652d6e2ab45a",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        1536
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOMqSSnHPZPvS7PK",
          "name": "ElevenLabs"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const SAMPLE_RATE          = 22050;\nconst BPS                  = 2;\nconst BUDGET_FACTOR        = 1.05;\nconst MIN_RETAIN           = 0.60;\nconst MAX_RETAIN_EXPANSION = 1.5;\n// Per-language CPS — defaults tuned against real ElevenLabs output; overridable via\n// config keys cps_estimate_de, cps_estimate_es, …, cps_estimate_tr. Computed below.\nconst CPS_DEFAULTS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\nconst HAIKU_MODEL          = 'claude-haiku-4-5-20251001';\n\nconst job = $('Expand TTS Jobs').item.json;\nconst {\n  voice_id, en_text, en_duration_sec,\n  lead_silence_natural_sec, tts_budget_sec, effective_slot_sec, trailing_steal_sec,\n  silence_lead_ratio, silence_lead_max_sec, expansion_threshold,\n  stability, similarity_boost, segment_id, lang, lesson_id,\n} = job;\n\nconst enDur        = parseFloat(en_duration_sec)          || 0;\nconst naturalLead  = parseFloat(lead_silence_natural_sec) || 0;\nconst budget       = parseFloat(tts_budget_sec)           || enDur;\nconst slot         = parseFloat(effective_slot_sec)       || budget;\nconst trailSteal   = parseFloat(trailing_steal_sec)       || 0;\nconst leadRatio    = parseFloat(silence_lead_ratio)       || 0.2;\nconst leadMaxSec   = parseFloat(silence_lead_max_sec)    || 0.05;\nconst expThreshold = parseFloat(expansion_threshold)      || 0.75;\nconst enRef        = en_text || '';\n\nconst maxBorrowable = Math.max(0, slot - budget);\n// Conditional breath-borrow: maxAllowed computed below after configMap is built (needs short_seg_threshold_sec).\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst EL_KEY  = configMap.elevenlabs_api_key  || '';\nconst ANT_KEY = configMap.anthropic_api_key   || '';\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  const result = Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{\\\\s*${k}\\\\s*\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n  const leaks = result.match(/\\{\\{\\s*[a-z][a-z0-9_]*\\s*\\}\\}/g);\n  if (leaks) throw new Error(`Unsubstituted placeholders in prompt \"${key}\": ${leaks.join(', ')}`);\n  return result;\n}\nconst TOV     = loadPrompt('tone_of_voice');\n\n// Resolve per-language CPS from config (defaults from CPS_DEFAULTS above).\nconst LANG_CPS = {\n  de: parseFloat(configMap.cps_estimate_de) || CPS_DEFAULTS.de,\n  es: parseFloat(configMap.cps_estimate_es) || CPS_DEFAULTS.es,\n  fr: parseFloat(configMap.cps_estimate_fr) || CPS_DEFAULTS.fr,\n  pl: parseFloat(configMap.cps_estimate_pl) || CPS_DEFAULTS.pl,\n  pt: parseFloat(configMap.cps_estimate_pt) || CPS_DEFAULTS.pt,\n  it: parseFloat(configMap.cps_estimate_it) || CPS_DEFAULTS.it,\n  tr: parseFloat(configMap.cps_estimate_tr) || CPS_DEFAULTS.tr,\n};\nif (!EL_KEY)  throw new Error('elevenlabs_api_key missing from config sheet');\nif (!ANT_KEY) throw new Error('anthropic_api_key missing from config sheet');\n\n// Conditional breath-borrow: only short segments (< SHORT_SEG_THRESHOLD) with available\n// trailing silence (slot > enDur) may extend past en_duration into the gap. Bounded by\n// effective_slot_sec (= en_duration + maxBorrowable). Normal-length segments stay strict.\n// Set short_seg_threshold_sec=0 in config to fully disable (revert to strict alignment).\nconst SHORT_SEG_THRESHOLD = parseFloat(configMap.short_seg_threshold_sec) || 2.0;\nconst isShortSeg          = enDur > 0 && enDur < SHORT_SEG_THRESHOLD && slot > enDur;\nconst maxAllowed          = isShortSeg ? slot : enDur;\n\nconst inputItem = $input.first();\nconst binaryData = inputItem.binary?.data;\n\n// Capture diagnostic snapshot for the warning field — visible in n8n Output\n// panel without needing log-level visibility. Used only on TTS failure.\nconst failureDiag = {\n  hasBinarySlot:     !!inputItem.binary,\n  hasBinaryDataObj:  !!binaryData,\n  binaryDataKeys:    binaryData ? Object.keys(binaryData) : [],\n  binaryMimeType:    binaryData?.mimeType || null,\n  binaryFileName:    binaryData?.fileName || null,\n  binaryFileSize:    binaryData?.fileSize || null,\n  binaryDataId:      binaryData?.id || null,\n  pcmBytes:          0,\n  bufferLoadError:   null,\n  contentPreview:    null,\n};\n\n// CRITICAL: must use this.helpers.getBinaryDataBuffer() — NOT Buffer.from(binary.data.data).\n// With N8N_BINARY_DATA_MODE=filesystem, binary.data.data is a small placeholder\n// reference (~13 chars), not the actual base64 content. The real bytes live on\n// the filesystem behind binary.data.id and must be loaded via the helper.\n// Without this fix, every TTS response decoded as 9 bytes of garbage → empty\n// silent placeholder WAVs across the entire lesson.\nlet pcm = null;\nif (binaryData) {\n  try {\n    pcm = await this.helpers.getBinaryDataBuffer(0, 'data');\n    failureDiag.pcmBytes = pcm?.length || 0;\n    if (pcm && pcm.length > 0 && pcm.length < 500) {\n      // Only preview small buffers — large valid TTS audio doesn't need a preview\n      failureDiag.contentPreview = pcm.toString('utf8', 0, Math.min(200, pcm.length));\n    }\n  } catch (e) {\n    failureDiag.bufferLoadError = e.message;\n    console.error(`getBinaryDataBuffer failed for ${segment_id}_${lang}: ${e.message}`);\n  }\n}\n\n// Failure threshold: anything shorter than 100ms of PCM (4410 bytes at 22050Hz\n// mono 16-bit) is treated as a failed TTS response.\nconst MIN_VALID_PCM_BYTES = 4410;  // 0.1s × 22050 × 2\nif (pcm && pcm.length < MIN_VALID_PCM_BYTES) {\n  console.error(`TTS response too small for ${segment_id}_${lang}: ${pcm.length} bytes. Preview: ${JSON.stringify(failureDiag.contentPreview)}`);\n  pcm = null;\n}\nlet text = job.text;\nlet initialTtsFailed = !pcm;\nif (initialTtsFailed && !binaryData) console.error(`Initial ElevenLabs TTS produced no binary at all for ${segment_id}_${lang} — likely HTTP error swallowed by onError.`);\n\nfunction pcmDuration(buf) { return buf.length / (SAMPLE_RATE * BPS); }\n\nfunction buildWav(pcmBuf) {\n  const n = pcmBuf.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcmBuf]);\n}\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nasync function tts(t, speed) {\n  // Soft-fail: returns null on final failure instead of throwing. Caller checks for null and\n  // either keeps the previous PCM (for retries inside Check Timing) or builds a silent WAV\n  // with needs_attention=true (for initial TTS). Prevents one bad segment from killing W3\n  // and triggering an expensive full-workflow retry.\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.elevenlabs.io/v1/text-to-speech/${voice_id}?output_format=pcm_22050`,\n        headers: { 'xi-api-key': EL_KEY, 'content-type': 'application/json' },\n        body: { text: t, model_id: 'eleven_multilingual_v2', voice_settings: { stability, similarity_boost, speed } },\n        json: true, returnFullResponse: true, encoding: 'arraybuffer',\n      });\n      return Buffer.from(resp.body);\n    } catch (e) {\n      const isLast = attempt === MAX_TRIES - 1;\n      if (isLast) {\n        console.error(`tts() failed for ${segment_id}_${lang} after ${MAX_TRIES} tries:`, e.message);\n        return null;\n      }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return null;\n}\n\n// Strip Claude meta-commentary.\n// Meditation translations are always single-line; cut at FIRST newline — anything after is meta\n// like \"(Already at N characters; cannot shorten further)\" which Claude sometimes appends.\nfunction sanitizeClaudeOutput(rawText) {\n  if (!rawText) return '';\n  let t = rawText.trim();\n  const nlIdx = t.indexOf('\\n');\n  if (nlIdx >= 0) t = t.substring(0, nlIdx).trim();\n  // Strip leading/trailing markdown emphasis (*, **, __)\n  t = t.replace(/^[\\*_]+|[\\*_]+$/g, '').trim();\n  // Strip surrounding quotes\n  t = t.replace(/^[\"'`]+|[\"'`]+$/g, '').trim();\n  // Strip trailing parenthesized meta even on same line (\"text (12 chars)\")\n  t = t.replace(/\\s*\\([^)]*(character|char|cannot|already|maximally|minimal)[^)]*\\)\\s*$/i, '').trim();\n  return t;\n}\n\nasync function callClaude(systemBlocks, userText) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.anthropic.com/v1/messages',\n        headers: { 'x-api-key': ANT_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body: { model: HAIKU_MODEL, max_tokens: 500, system: systemBlocks, messages: [{ role: 'user', content: userText }] },\n        json: true,\n      });\n      return resp.content?.[0]?.text?.trim() || '';\n    } catch (e) {\n      const isLast = attempt === MAX_TRIES - 1;\n      if (isLast) { console.error('W3 callClaude failed after retries:', e.message); return ''; }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nconst SHORTEN_STATIC = loadPrompt('w3_shorten_system', { tov: TOV });\n\nasync function claudeShorten(currentText, realSec, level) {\n  const minChars       = Math.floor(currentText.length * MIN_RETAIN);\n  const targetChars    = Math.floor(slot * (LANG_CPS[lang] || 15));\n  const targetCharsLow = Math.floor(targetChars * 0.85);\n  const floorChars     = Math.max(minChars, targetCharsLow);\n\n  const dynamicPart = `Task — shorten this segment:\nLANG: ${lang}\nORIGINAL EN: ${enRef}\nCURRENT TRANSLATION: ${currentText}\nTARGET LENGTH: ~${targetChars} characters\nMINIMUM ALLOWED LENGTH: ${floorChars} characters — do NOT go below this\nATTEMPT LEVEL: ${level}`;\n\n  const systemBlocks = [\n    { type: 'text', text: SHORTEN_STATIC, cache_control: { type: 'ephemeral' } },\n    { type: 'text', text: dynamicPart },\n  ];\n  const raw = await callClaude.call(this, systemBlocks, currentText);\n  const result = sanitizeClaudeOutput(raw);\n  if (!result || result.length < floorChars) return currentText;\n  return result;\n}\n\n\nif (!enDur || enDur <= 0) {\n  const leadBytes   = Math.round(naturalLead * SAMPLE_RATE) * BPS;\n  const leadSilence = leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0);\n  const wav         = buildWav(Buffer.concat([leadSilence, pcm]));\n  const realSec     = pcmDuration(pcm);\n  const fileName    = `${segment_id}_${lang}.wav`;\n  return [{\n    json: { segment_id, lang, lesson_id, en_duration_sec: 0,\n            lead_silence_sec:              naturalLead,\n            tts_budget_sec:                0,\n            tail_silence_sec:              0,\n            borrowed_sec:                  0,\n            expansion_attempts:            0,\n            shorten_retries_in_synthesize: 0,\n            real_duration_sec:             parseFloat(realSec.toFixed(3)),\n            final_duration_sec:            parseFloat((naturalLead + realSec).toFixed(3)),\n            final_text:                    text,\n            final_speed: 1.0, needs_attention: true, file_name: fileName,\n            warning: 'en_duration_sec missing — file not strictly timed' },\n    binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n  }];\n}\n\nlet finalSpeed        = parseFloat(job.speed) || 1.0;\nlet needsAttention    = false;\nlet shortenRetries    = 0;\nlet expansionAttempts = 0;\n\n// Soft fallback: if initial TTS produced no audio, emit a silent placeholder WAV of\n// en_duration length so downstream Save to Drive / Build Full Audio Per Lang still run.\n// W3 finishes successfully; W_Master Slack notification still fires; flag for manual\n// review via needs_attention=true.\nif (!pcm) {\n  const silentBytes = Math.round(enDur * SAMPLE_RATE) * BPS;\n  const silentPcm   = silentBytes > 0 ? Buffer.alloc(silentBytes, 0) : Buffer.alloc(0);\n  const wav         = buildWav(silentPcm);\n  const fileName    = `${segment_id}_${lang}.wav`;\n  return [{\n    json: { segment_id, lang, lesson_id,\n            en_duration_sec:               enDur,\n            lead_silence_sec:              0,\n            tts_budget_sec:                0,\n            tail_silence_sec:              0,\n            borrowed_sec:                  0,\n            expansion_attempts:            0,\n            shorten_retries_in_synthesize: 0,\n            real_duration_sec:             0,\n            final_duration_sec:            parseFloat((silentBytes / (SAMPLE_RATE * BPS)).toFixed(3)),\n            final_text:                    text,\n            final_speed:                   1.0,\n            needs_attention:               true,\n            file_name:                     fileName,\n            warning:                       'ElevenLabs TTS failed — diag: ' + JSON.stringify(failureDiag) },\n    binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n  }];\n}\n\nconst LEVELS = ['light', 'medium', 'max'];\nfor (let i = 0; i < 3 && pcmDuration(pcm) > maxAllowed; i++) {\n  const realSec = pcmDuration(pcm);\n  const shorter = await claudeShorten.call(this, text, realSec, LEVELS[i]);\n  if (shorter && shorter !== text) {\n    const newPcm = await tts.call(this, shorter, 1.0);\n    if (newPcm) {\n      text = shorter;\n      pcm  = newPcm;\n    } else {\n      // TTS failed during shorten retry — keep previous text/pcm, abort shorten loop.\n      needsAttention = true;\n      shortenRetries = i + 1;\n      break;\n    }\n  }\n  shortenRetries = i + 1;\n}\n\nfor (const speed of [1.10, 1.15]) {\n  if (pcmDuration(pcm) <= maxAllowed) break;\n  const newPcm = await tts.call(this, text, speed);\n  if (!newPcm) {\n    // TTS failed during speed retry — keep previous pcm + finalSpeed, abort loop.\n    needsAttention = true;\n    break;\n  }\n  pcm = newPcm;\n  finalSpeed = speed;\n}\n\nif (pcmDuration(pcm) > maxAllowed) {\n  needsAttention = true;\n  const truncBytes = Math.round(maxAllowed * SAMPLE_RATE) * BPS;\n  pcm = pcm.subarray(0, truncBytes);\n}\n\n// Inline expansion removed — Phase 2 batch handles all expansion candidates.\n\nconst realDur = pcmDuration(pcm);\nlet leadSec, tailSec, borrowedSec;\n\nif (realDur <= enDur) {\n  const padding = enDur - realDur;\n  borrowedSec = 0;\n  if (naturalLead > 0) {\n    leadSec = naturalLead;\n    tailSec = padding;\n  } else {\n    // Cap breath-lead so dubbed words align with EN even when EN slot has a long trailing silence\n    leadSec = Math.min(padding * leadRatio, leadMaxSec);\n    tailSec = padding - leadSec;\n  }\n} else if (realDur <= maxAllowed) {\n  // Borrow case (short-seg path): TTS audio extends past en_duration into the trailing\n  // silence budgeted in effective_slot_sec. File duration = lead + real_dur, no tail.\n  // borrowed_sec = how much we extended beyond en_duration. Not flagged for attention —\n  // this is intentional breath-borrow for ultra-short segments.\n  borrowedSec = parseFloat((realDur - enDur).toFixed(3));\n  leadSec     = naturalLead;\n  tailSec     = 0;\n} else {\n  // Defensive: real_dur exceeds even the borrow ceiling. Hard-truncate earlier in the\n  // shorten/speed loop should have prevented this; flag for manual review if reached.\n  borrowedSec = parseFloat((maxAllowed - enDur).toFixed(3));\n  leadSec     = naturalLead;\n  tailSec     = 0;\n  needsAttention = true;\n}\n\nconst leadBytes = Math.round(leadSec * SAMPLE_RATE) * BPS;\nconst tailBytes = Math.round(tailSec * SAMPLE_RATE) * BPS;\nconst finalPcm  = Buffer.concat([\n  leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0),\n  pcm,\n  tailBytes > 0 ? Buffer.alloc(tailBytes, 0) : Buffer.alloc(0),\n]);\n\nconst wav           = buildWav(finalPcm);\nconst finalDuration = (leadBytes + pcm.length + tailBytes) / (SAMPLE_RATE * BPS);\nconst fileName      = `${segment_id}_${lang}.wav`;\n\nreturn [{\n  json: {\n    segment_id, lang, lesson_id,\n    en_duration_sec:               enDur,\n    lead_silence_sec:              parseFloat(leadSec.toFixed(3)),\n    tts_budget_sec:                parseFloat(budget.toFixed(3)),\n    tail_silence_sec:              parseFloat(tailSec.toFixed(3)),\n    borrowed_sec:                  parseFloat(borrowedSec.toFixed(3)),\n    expansion_attempts:            expansionAttempts,\n    shorten_retries_in_synthesize: shortenRetries,\n    real_duration_sec:             parseFloat(realDur.toFixed(3)),\n    final_duration_sec:            parseFloat(finalDuration.toFixed(3)),\n    final_text:                    text,\n    final_speed:                   finalSpeed,\n    needs_attention:               needsAttention,\n    file_name:                     fileName,\n  },\n  binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n}];"
      },
      "id": "9c31580c-7ab5-4e53-8c26-50afa9bf6d4c",
      "name": "Check Timing + Pad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1536
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8c9357d8-c7d8-4263-bd3e-4cdc4dc97838",
      "name": "Save to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5680,
        1536
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Iterate over Drive Save responses (one per uploaded WAV in this batch) and JOIN with\n// Check Timing + Pad + Expand TTS Jobs by file_name. Item-pairing accessors (.item) break\n// when Loop Over Items uses batchSize > 1, so JOIN by file_name is more robust.\nconst checkAll = $('Check Timing + Pad').all();\nconst jobAll = $('Expand TTS Jobs').all();\nconst out = [];\nfor (const driveItem of $input.all()) {\n  const driveResp = driveItem.json || {};\n  const fileName = driveResp.name || '';\n  if (!fileName) { console.warn('Save to Drive response missing name; skipping'); continue; }\n\n  const checkEntry = checkAll.find(c => c.json && c.json.file_name === fileName);\n  if (!checkEntry) { console.warn('No Check Timing + Pad entry for', fileName); continue; }\n  const checkItem = checkEntry.json;\n  const jobEntry = jobAll.find(j => j.json && j.json.segment_id === checkItem.segment_id && j.json.lang === checkItem.lang);\n  const job = jobEntry ? jobEntry.json : {};\n\n  out.push({\n    json: {\n      row_key:                       `${checkItem.segment_id}_${checkItem.lang}`,\n      segment_id:                    checkItem.segment_id,\n      lang:                          checkItem.lang,\n      text_translated:               checkItem.final_text || job.text || '',\n      en_start_sec:                  job.en_start_sec,\n      en_duration_sec:               checkItem.en_duration_sec,\n      slot_start_sec:                job.slot_start_sec,\n      slot_end_sec:                  job.slot_end_sec,\n      lead_silence_sec:              checkItem.lead_silence_sec,\n      tts_budget_sec:                checkItem.tts_budget_sec,\n      tail_silence_sec:              checkItem.tail_silence_sec,\n      borrowed_sec:                  checkItem.borrowed_sec,\n      expansion_attempts:            checkItem.expansion_attempts,\n      shorten_retries_in_synthesize: checkItem.shorten_retries_in_synthesize,\n      real_duration_sec:             checkItem.real_duration_sec,\n      final_duration_sec:            checkItem.final_duration_sec,\n      final_speed:                   checkItem.final_speed,\n      needs_attention:               checkItem.needs_attention ? 'TRUE' : 'FALSE',\n      audio_drive_file_id:           driveResp.id || '',\n    },\n  });\n}\nreturn out;"
      },
      "id": "32016c65-6d26-4549-a20e-d1e72092612d",
      "name": "Prepare Localization Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5888,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_key"
          ],
          "schema": [
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_translated",
              "displayName": "text_translated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot_start_sec",
              "displayName": "slot_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot_end_sec",
              "displayName": "slot_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "lead_silence_sec",
              "displayName": "lead_silence_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tts_budget_sec",
              "displayName": "tts_budget_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tail_silence_sec",
              "displayName": "tail_silence_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "borrowed_sec",
              "displayName": "borrowed_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "expansion_attempts",
              "displayName": "expansion_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "shorten_retries_in_synthesize",
              "displayName": "shorten_retries_in_synthesize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "real_duration_sec",
              "displayName": "real_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_duration_sec",
              "displayName": "final_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_speed",
              "displayName": "final_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "needs_attention",
              "displayName": "needs_attention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "audio_drive_file_id",
              "displayName": "audio_drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d19cfca1-e0ea-47de-82aa-84ed0ea1d396",
      "name": "Update Localizations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        6080,
        1536
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "00fb688f-c80f-4e94-910a-4250e8bce424",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6288,
        1536
      ],
      "webhookId": "synth-v2-rate-limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "6dbdeef1-3816-4a82-a261-19acc8f3c8e0",
      "name": "Read Localizations Fresh",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5088,
        1744
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Concat per-segment WAVs into one full WAV per language.\n// Memory-conscious: iterates active_langs sequentially, no pre-grouping of all items,\n// explicit reference cleanup after each lang. Pairs with N8N_BINARY_DATA_MODE=filesystem\n// for further heap savings.\nconst SAMPLE_RATE = 22050;\nconst BPS         = 2;\n\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean).sort();\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Download Segment WAV must run first');\n\n// Map item reference → its original index in $input.all() so that, after\n// filter/sort, we can still pass the correct itemIndex to getBinaryDataBuffer.\n// (Critical for N8N_BINARY_DATA_MODE=filesystem support — see Check Timing + Pad.)\nconst indexMap = new Map(items.map((it, idx) => [it, idx]));\n\nconst results = [];\nfor (const lang of activeLangs) {\n  // Lazy filter for current lang only (no pre-grouping → no doubled refs).\n  const entries = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n\n  if (!entries.length) continue;\n\n  // Strip 44-byte WAV header from each segment, accumulate raw PCM.\n  //\n  // BORROW COMPENSATION (drift fix):\n  // When segment N has borrowed_sec > 0, its WAV extends past en_end[N] by that amount\n  // (breath-borrow path in Check Timing + Pad). To keep the concatenated lesson aligned\n  // with the EN timeline we trim that many seconds from the START of seg N+1's PCM —\n  // eating into its lead silence, never into TTS audio. The borrow budget in Expand\n  // TTS Jobs (max_borrowable ≤ gap_after − MIN_GAP, and lead_silence[N+1] == gap_after[N])\n  // guarantees trimSec ≤ lead_silence[N+1], so the bound is structural; the\n  // Math.min(prevBorrow, leadSec) clamp is belt-and-braces in case Sheet round-trip\n  // introduces rounding.\n  const pcmChunks = [];\n  let prevBorrow      = 0;\n  let trimmedLeadSum  = 0;\n  let skippedNoBinary = 0;\n  let skippedEmptyWav = 0;\n  for (const e of entries) {\n    if (!e.binary?.data) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — no binary slot on item`);\n      continue;\n    }\n    // CRITICAL: must use this.helpers.getBinaryDataBuffer() — see Check Timing\n    // + Pad for full explanation. With N8N_BINARY_DATA_MODE=filesystem the raw\n    // binary.data.data is a tiny placeholder, not the actual WAV bytes.\n    const originalIdx = indexMap.get(e);\n    if (originalIdx === undefined) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — could not resolve original item index`);\n      continue;\n    }\n    let wavBuf;\n    try {\n      wavBuf = await this.helpers.getBinaryDataBuffer(originalIdx, 'data');\n    } catch (err) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — getBinaryDataBuffer failed: ${err.message}`);\n      continue;\n    }\n    if (!wavBuf || wavBuf.length <= 44) {\n      skippedEmptyWav++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — WAV is ${wavBuf?.length ?? 0} bytes (header-only or empty)`);\n      continue;\n    }\n    let pcm = wavBuf.subarray(44);\n    if (prevBorrow > 0) {\n      const leadSec   = parseFloat(e.json.lead_silence_sec) || 0;\n      const trimSec   = Math.min(prevBorrow, leadSec);\n      const trimBytes = Math.round(trimSec * SAMPLE_RATE) * BPS;\n      if (trimBytes > 0 && trimBytes < pcm.length) {\n        pcm = pcm.subarray(trimBytes);\n        trimmedLeadSum += trimSec;\n      }\n    }\n    pcmChunks.push(pcm);\n    prevBorrow = parseFloat(e.json.borrowed_sec) || 0;\n  }\n\n  const fullPcm = Buffer.concat(pcmChunks);\n  pcmChunks.length = 0;  // explicit ref clear — helps GC reclaim per-segment buffers\n  const n = fullPcm.length;\n\n  // Build fresh WAV header (22050Hz mono 16-bit — matches segments)\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  const fullWav = Buffer.concat([h, fullPcm]);\n\n  const lessonId = String(entries[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.wav`;\n\n  if (skippedNoBinary > 0 || skippedEmptyWav > 0) {\n    console.warn(`Build Full: ${lang} skipped ${skippedNoBinary} items (no binary) + ${skippedEmptyWav} items (empty WAV) out of ${entries.length}`);\n  }\n  results.push({\n    json: {\n      lang,\n      lesson_id:              lessonId,\n      file_name:              fileName,\n      total_segments:         entries.length,\n      skipped_no_binary:      skippedNoBinary,\n      skipped_empty_wav:      skippedEmptyWav,\n      full_duration_sec:      parseFloat((n / (SAMPLE_RATE * BPS)).toFixed(3)),\n      trimmed_lead_total_sec: parseFloat(trimmedLeadSum.toFixed(3)),\n    },\n    binary: {\n      data: {\n        data:     fullWav.toString('base64'),\n        mimeType: 'audio/wav',\n        fileName,\n      },\n    },\n  });\n  // fullPcm + fullWav fall out of scope at next iteration — GC can reclaim.\n}\n\nif (!results.length) throw new Error('No localizations to concat' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;"
      },
      "id": "e08919c6-d1e9-48c2-a270-96f35564ea77",
      "name": "Build Full Audio Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1744
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8361800c-b64e-46b4-9242-555294daa292",
      "name": "Save Full to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5680,
        1744
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.audio_drive_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7fa19efb-032e-4583-a27b-246612d4cb02",
      "name": "Download Segment WAV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5280,
        1744
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build WebVTT subtitles per active language. One .vtt per lang, matching the\n// full-lesson WAV positions. Runs in parallel with Download Segment WAV (both read\n// the same Read Localizations Fresh output).\n//\n// Cue timings: en_start_sec → en_end_sec. After the borrow-compensation fix in\n// Build Full Audio Per Lang, each segment in the full WAV starts exactly at\n// en_start_sec — so EN-aligned cues match the dubbed audio for every language.\n// Cue text: text_translated (final version after Verify + Adapt + W3 shorten).\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean);\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Read Localizations Fresh must run first');\n\nfunction fmtTime(sec) {\n  // VTT timestamp: HH:MM:SS.mmm\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = sec - h * 3600 - m * 60;\n  return `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}:${s.toFixed(3).padStart(6, '0')}`;\n}\n\nconst results = [];\nfor (const lang of activeLangs) {\n  const segs = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n  if (!segs.length) continue;\n\n  const lines = ['WEBVTT', ''];\n  let cueIdx = 0;\n  for (const e of segs) {\n    const s = e.json;\n    const start = parseFloat(s.en_start_sec) || 0;\n    const dur   = parseFloat(s.en_duration_sec) || 0;\n    const end   = start + dur;\n    const text  = (s.text_translated || '').toString().trim().replace(/\\r?\\n/g, ' ');\n    if (!text) continue;\n    cueIdx++;\n    lines.push(String(cueIdx));\n    lines.push(`${fmtTime(start)} --> ${fmtTime(end)}`);\n    lines.push(text);\n    lines.push('');\n  }\n  if (cueIdx === 0) continue;\n  const vtt = lines.join('\\n');\n\n  const lessonId = String(segs[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.vtt`;\n  results.push({\n    json: {\n      lang,\n      lesson_id: lessonId,\n      file_name: fileName,\n      total_cues: cueIdx,\n      vtt_bytes:  Buffer.byteLength(vtt, 'utf8'),\n    },\n    binary: {\n      data: {\n        data: Buffer.from(vtt, 'utf8').toString('base64'),\n        mimeType: 'text/vtt',\n        fileName,\n      },\n    },\n  });\n}\n\nif (!results.length) throw new Error('No localizations for VTT' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;\n"
      },
      "id": "vtt00001-build-4abc-9def-perlangbuild",
      "name": "Build VTT Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1920
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_vtt_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "vtt00002-save-4abc-9def-tovttdrivefld",
      "name": "Save VTT to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5680,
        1920
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// W3 Phase 2: Batched late-stage expansion through Verify + Editor.\n// Reads all localizations rows from Read Localizations Fresh, identifies cells with\n// real_duration < en_duration × threshold (and needs_attention=false), runs a batch\n// Expansion (Anthropic Sonnet) → Verify (Sonnet QA) → Editor (Gemini Flash) → re-TTS\n// pipeline. For each accepted expansion, builds a new WAV (same lead silence + new TTS +\n// recomputed tail silence) and emits an item with new binary + updated metadata for\n// downstream Drive Update (overwrites file at same audio_drive_file_id) and Update\n// Localizations Sheet nodes. Items where expansion was rejected or not needed are NOT\n// emitted (this branch terminates side-effect only; Download Segment WAV continues\n// reading the original Read Localizations Fresh items in parallel branch).\n\nconst SAMPLE_RATE = 22050;\nconst BPS = 2;\nconst EXPAND_BATCH_SIZE = 8;\nconst CHUNK = 6;                 // Tier 2 Anthropic — higher parallelism than W2's CHUNK=3\nconst ELEVENLABS_CHUNK = 5;      // parallel TTS calls per slice\nconst MAX_RETAIN_EXPANSION = 1.5;\nconst ANTHROPIC_URL = 'https://api.anthropic.com/v1/messages';\nconst GEMINI_URL = 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions';\nconst ELEVENLABS_URL = (vid) => `https://api.elevenlabs.io/v1/text-to-speech/${vid}/stream?output_format=pcm_22050`;\n\n// --- read config + prompts + voices ---\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst THRESHOLD = parseFloat(configMap.expansion_threshold) || 0.85;\nconst apiKey = configMap.anthropic_api_key || '';\nconst geminiKey = configMap.gemini_api_key || '';\nconst elevenKey = configMap.elevenlabs_api_key || '';\nif (!apiKey || !geminiKey || !elevenKey) {\n  throw new Error('Phase 2: missing API key in config (anthropic_api_key/gemini_api_key/elevenlabs_api_key)');\n}\n\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  const result = Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{\\\\s*${k}\\\\s*\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n  const leaks = result.match(/\\{\\{\\s*[a-z][a-z0-9_]*\\s*\\}\\}/g);\n  if (leaks) throw new Error(`Unsubstituted placeholders in prompt \"${key}\": ${leaks.join(', ')}`);\n  return result;\n}\n\nconst TOV = loadPrompt('tone_of_voice');\nconst EXPAND_BATCH_SYSTEM = loadPrompt('w3_expand_batch_system', { tov: TOV });\nconst QA_SYSTEM = loadPrompt('qa_verify_system');\nconst EDITOR_SYSTEM = loadPrompt('editor_system');\n\nconst CPS_DEFAULTS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\nconst LANG_CPS = {};\nfor (const l of ['de','es','fr','pl','pt','it','tr']) {\n  LANG_CPS[l] = parseFloat(configMap['cps_estimate_' + l]) || CPS_DEFAULTS[l];\n}\n\n// --- collect candidates ---\nconst allItems = $input.all();\nconst candidates = {};  // { segment_id: { en, langs: { [lang]: { current, real, en_dur, lead, file_id, row_key, lesson_id, voice_id, voice_speed, ... } } } }\nfor (const it of allItems) {\n  const j = it.json;\n  // Skip needs_attention rows (Phase 1 already flagged for manual review)\n  if (j.needs_attention === true || j.needs_attention === 'TRUE' || j.needs_attention === 'true') continue;\n  const enDur = parseFloat(j.en_duration_sec) || 0;\n  const real = parseFloat(j.real_duration_sec) || 0;\n  if (enDur <= 0 || real <= 0) continue;\n  if (real >= enDur * THRESHOLD) continue;\n\n  const lang = j.lang;\n  const voice = voiceMap[lang];\n  if (!voice || !voice.voice_id) continue;\n\n  if (!candidates[j.segment_id]) {\n    candidates[j.segment_id] = { en: j.en_text || '', langs: {} };\n  }\n  candidates[j.segment_id].langs[lang] = {\n    current: j.text_translated || '',\n    real_duration: real,\n    en_duration: enDur,\n    lead_silence: parseFloat(j.lead_silence_sec) || 0,\n    audio_drive_file_id: j.audio_drive_file_id,\n    row_key: j.row_key,\n    segment_id: j.segment_id,\n    lesson_id: j.lesson_id || (j.segment_id || '').split('_seg_')[0],\n    lang,\n    voice_id: voice.voice_id,\n    voice_speed: parseFloat(voice.speed) || 1.0,\n    voice_model: voice.model || 'eleven_multilingual_v2',\n    voice_stability: parseFloat(voice.stability) || 0.5,\n    voice_similarity: parseFloat(voice.similarity_boost) || 0.75,\n    voice_style: parseFloat(voice.style) || 0,\n    en_start_sec: parseFloat(j.en_start_sec) || 0,\n    slot_start_sec: parseFloat(j.slot_start_sec) || 0,\n    slot_end_sec: parseFloat(j.slot_end_sec) || 0,\n    tts_budget_sec: parseFloat(j.tts_budget_sec) || enDur,\n  };\n}\n\nconst totalSegments = Object.keys(candidates).length;\nlet totalCells = 0;\nfor (const data of Object.values(candidates)) totalCells += Object.keys(data.langs).length;\n\nif (totalSegments === 0) {\n  console.log('Phase 2: no expansion candidates — branch terminates with 0 items');\n  return [];\n}\nconsole.log(`Phase 2: ${totalSegments} segments / ${totalCells} cells to expand`);\n\n// --- HTTP helpers ---\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function callAnthropic(body, retries = 3) {\n  for (let attempt = 0; attempt < retries; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: ANTHROPIC_URL,\n        headers: { 'x-api-key': apiKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.content?.[0]?.text?.trim() || '';\n    } catch (e) {\n      if (attempt === retries - 1) { console.error('Phase 2 Anthropic failed:', e.message); return ''; }\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nasync function callGemini(body, retries = 3) {\n  for (let attempt = 0; attempt < retries; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: GEMINI_URL,\n        headers: { Authorization: `Bearer ${geminiKey}`, 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.choices?.[0]?.message?.content?.trim() || '';\n    } catch (e) {\n      if (attempt === retries - 1) { console.error('Phase 2 Gemini failed:', e.message); return ''; }\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nfunction parseLLMJson(raw) {\n  try {\n    const cleaned = (raw || '').replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) return JSON.parse(match[0]);\n  } catch (e) {\n    console.error('Phase 2 parseLLMJson error:', e.message);\n  }\n  return {};\n}\n\n// --- group into batches of EXPAND_BATCH_SIZE segments ---\nconst segmentEntries = Object.entries(candidates);\nconst expandBatches = [];\nfor (let i = 0; i < segmentEntries.length; i += EXPAND_BATCH_SIZE) {\n  expandBatches.push(segmentEntries.slice(i, i + EXPAND_BATCH_SIZE));\n}\nconsole.log(`Phase 2: ${expandBatches.length} batches of up to ${EXPAND_BATCH_SIZE} segments each`);\n\n// --- Phase 2.1: BATCH EXPAND ---\nasync function runOneExpandBatch(batch) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    userMap[sid] = { en: data.en };\n    for (const [lang, info] of Object.entries(data.langs)) {\n      const targetChars = Math.round(info.en_duration * (LANG_CPS[lang] || 15) * 0.95);\n      userMap[sid][lang] = { current: info.current, target_chars: targetChars };\n    }\n  }\n  const body = {\n    model: 'claude-sonnet-4-5',\n    max_tokens: 8000,\n    system: [{ type: 'text', text: EXPAND_BATCH_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n  };\n  const raw = await callAnthropic.call(this, body);\n  return parseLLMJson(raw);\n}\n\nconst expandedMap = {};\nfor (let i = 0; i < expandBatches.length; i += CHUNK) {\n  const slice = expandBatches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneExpandBatch.call(this, b)));\n  for (const p of partial) Object.assign(expandedMap, p);\n}\nconsole.log(`Phase 2 expand complete — ${Object.keys(expandedMap).length} segments returned`);\n\n// --- Phase 2.2: BATCH VERIFY (using expanded text) ---\nasync function runOneVerifyBatch(batch) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    if (!expandedMap[sid]) continue;\n    userMap[sid] = { en: data.en };\n    for (const lang of Object.keys(data.langs)) {\n      const expanded = expandedMap[sid][lang];\n      if (expanded && expanded.trim()) userMap[sid][lang] = expanded.trim();\n    }\n  }\n  if (Object.keys(userMap).length === 0) return {};\n  const body = {\n    model: 'claude-sonnet-4-5',\n    max_tokens: 8000,\n    system: [{ type: 'text', text: QA_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n  };\n  const raw = await callAnthropic.call(this, body);\n  return parseLLMJson(raw);\n}\n\nconst verifiedMap = {};\nfor (let i = 0; i < expandBatches.length; i += CHUNK) {\n  const slice = expandBatches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneVerifyBatch.call(this, b)));\n  for (const p of partial) Object.assign(verifiedMap, p);\n}\n\n// Apply verify corrections: if verify returned text for (sid, lang), use it; else keep expanded\nconst postVerifyMap = {};\nfor (const [sid, data] of segmentEntries) {\n  const expanded = expandedMap[sid];\n  if (!expanded) continue;\n  postVerifyMap[sid] = {};\n  for (const lang of Object.keys(data.langs)) {\n    const expText = expanded[lang];\n    if (!expText || !expText.trim()) continue;\n    const verText = verifiedMap[sid]?.[lang];\n    postVerifyMap[sid][lang] = (verText && verText.trim()) ? verText.trim() : expText.trim();\n  }\n}\nconsole.log(`Phase 2 verify complete`);\n\n// --- Phase 2.3: BATCH EDITOR ---\nasync function runOneEditorBatch(batch) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    if (!postVerifyMap[sid]) continue;\n    userMap[sid] = { en: data.en };\n    for (const lang of Object.keys(data.langs)) {\n      const text = postVerifyMap[sid][lang];\n      if (text) userMap[sid][lang] = text;\n    }\n  }\n  if (Object.keys(userMap).length === 0) return {};\n  const body = {\n    model: 'gemini-3.5-flash',\n    messages: [\n      { role: 'system', content: EDITOR_SYSTEM },\n      { role: 'user', content: JSON.stringify(userMap, null, 2) },\n    ],\n    response_format: { type: 'json_object' },\n  };\n  const raw = await callGemini.call(this, body);\n  return parseLLMJson(raw);\n}\n\nconst editedMap = {};\nfor (let i = 0; i < expandBatches.length; i += CHUNK) {\n  const slice = expandBatches.slice(i, i + CHUNK);\n  const partial = await Promise.all(slice.map(b => runOneEditorBatch.call(this, b)));\n  for (const p of partial) Object.assign(editedMap, p);\n}\n\n// Final text per (sid, lang) — prefer editor > verify > expanded\nconst finalTextMap = {};\nfor (const [sid, data] of segmentEntries) {\n  if (!postVerifyMap[sid]) continue;\n  finalTextMap[sid] = {};\n  for (const lang of Object.keys(data.langs)) {\n    const postVerify = postVerifyMap[sid][lang];\n    if (!postVerify) continue;\n    const edited = editedMap[sid]?.[lang];\n    finalTextMap[sid][lang] = (edited && edited.trim()) ? edited.trim() : postVerify;\n  }\n}\nconsole.log(`Phase 2 editor complete`);\n\n// --- Phase 2.4: RE-TTS + WAV rebuild ---\nfunction buildWav(pcm) {\n  const n = pcm.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0); h.writeUInt32LE(36 + n, 4); h.write('WAVE', 8); h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16); h.writeUInt16LE(1, 20); h.writeUInt16LE(1, 22); h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28); h.writeUInt16LE(BPS, 32); h.writeUInt16LE(16, 34);\n  h.write('data', 36); h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcm]);\n}\n\nasync function reTtsOne(task) {\n  const { sid, lang, newText, info } = task;\n  if (!newText || newText.trim() === info.current.trim()) {\n    return { sid, lang, skipped: 'no_change' };\n  }\n  try {\n    const ttsResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: ELEVENLABS_URL(info.voice_id),\n      headers: { 'xi-api-key': elevenKey, 'content-type': 'application/json', accept: 'audio/pcm' },\n      body: {\n        text: newText,\n        model_id: info.voice_model,\n        voice_settings: {\n          stability: info.voice_stability,\n          similarity_boost: info.voice_similarity,\n          style: info.voice_style,\n          speed: info.voice_speed,\n        },\n      },\n      encoding: 'arraybuffer',\n      returnFullResponse: false,\n    });\n    const newPcm = Buffer.from(ttsResp);\n    if (!newPcm || newPcm.length < 4410) {\n      return { sid, lang, skipped: 'tts_too_short_or_empty', pcmLen: newPcm?.length || 0 };\n    }\n    const newRealDur = newPcm.length / (SAMPLE_RATE * BPS);\n\n    // Overshoot guard: if new audio exceeds en_duration, abort — keep Phase 1 audio\n    if (newRealDur > info.en_duration) {\n      return { sid, lang, skipped: 'overshoot', newRealDur, enDuration: info.en_duration };\n    }\n\n    // Recompute padding: lead stays same (naturalLead invariant), tail shrinks\n    const lead = info.lead_silence;\n    let tail = info.en_duration - lead - newRealDur;\n    if (tail < 0) {\n      return { sid, lang, skipped: 'negative_tail', lead, newRealDur, enDur: info.en_duration };\n    }\n    const leadBytes = Math.round(lead * SAMPLE_RATE) * BPS;\n    const tailBytes = Math.round(tail * SAMPLE_RATE) * BPS;\n    const fullPcm = Buffer.concat([\n      leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0),\n      newPcm,\n      tailBytes > 0 ? Buffer.alloc(tailBytes, 0) : Buffer.alloc(0),\n    ]);\n    const newWav = buildWav(fullPcm);\n    const finalDur = lead + newRealDur + tail;\n\n    return {\n      sid, lang, success: true,\n      newText,\n      newRealDur: parseFloat(newRealDur.toFixed(3)),\n      newTailSilence: parseFloat(tail.toFixed(3)),\n      newLeadSilence: parseFloat(lead.toFixed(3)),\n      newFinalDur: parseFloat(finalDur.toFixed(3)),\n      wavBase64: newWav.toString('base64'),\n      info,\n    };\n  } catch (e) {\n    return { sid, lang, error: e.message };\n  }\n}\n\n// Build re-TTS task list (only cells where text actually changed)\nconst reTtsTasks = [];\nfor (const [sid, data] of segmentEntries) {\n  if (!finalTextMap[sid]) continue;\n  for (const [lang, info] of Object.entries(data.langs)) {\n    const newText = finalTextMap[sid][lang];\n    if (!newText) continue;\n    if (newText.trim() === info.current.trim()) continue;\n    reTtsTasks.push({ sid, lang, newText, info });\n  }\n}\nconsole.log(`Phase 2: ${reTtsTasks.length} cells accepted for re-TTS (${totalCells - reTtsTasks.length} unchanged after LLM pipeline)`);\n\n// Process re-TTS in CHUNK-parallel slices\nconst reTtsResults = [];\nfor (let i = 0; i < reTtsTasks.length; i += ELEVENLABS_CHUNK) {\n  const slice = reTtsTasks.slice(i, i + ELEVENLABS_CHUNK);\n  const partial = await Promise.all(slice.map(t => reTtsOne.call(this, t)));\n  for (const r of partial) reTtsResults.push(r);\n}\n\n// Count outcomes\nconst accepted = reTtsResults.filter(r => r.success);\nconst skipped = reTtsResults.filter(r => r.skipped);\nconst errored = reTtsResults.filter(r => r.error);\nconsole.log(`Phase 2 re-TTS results: accepted=${accepted.length}, skipped=${skipped.length}, errored=${errored.length}`);\nif (skipped.length > 0) {\n  const reasons = {};\n  for (const s of skipped) reasons[s.skipped] = (reasons[s.skipped] || 0) + 1;\n  console.log(`Phase 2 skip reasons:`, JSON.stringify(reasons));\n}\n\n// Emit per-(sid, lang) items for accepted expansions only\nreturn accepted.map(r => ({\n  json: {\n    row_key:                       `${r.sid}_${r.lang}`,\n    segment_id:                    r.sid,\n    lang:                          r.lang,\n    lesson_id:                     r.info.lesson_id,\n    text_translated:               r.newText,\n    en_start_sec:                  r.info.en_start_sec,\n    en_duration_sec:               r.info.en_duration,\n    real_duration_sec:             r.newRealDur,\n    lead_silence_sec:              r.newLeadSilence,\n    slot_start_sec:                r.info.slot_start_sec,\n    slot_end_sec:                  r.info.slot_end_sec,\n    tts_budget_sec:                r.info.tts_budget_sec,\n    tail_silence_sec:              r.newTailSilence,\n    final_duration_sec:            r.newFinalDur,\n    borrowed_sec:                  0,\n    expansion_attempts:            1,\n    shorten_retries_in_synthesize: 0,\n    final_speed:                   r.info.voice_speed,\n    needs_attention:               false,\n    audio_drive_file_id:           r.info.audio_drive_file_id,\n    file_name:                     `${r.sid}_${r.lang}.wav`,\n  },\n  binary: {\n    data: {\n      data:     r.wavBase64,\n      mimeType: 'audio/wav',\n      fileName: `${r.sid}_${r.lang}.wav`,\n    },\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "mpks3aoucttrx7rj",
      "name": "Phase 2: Batch LLM+TTS",
      "position": [
        5288,
        1944
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.audio_drive_file_id }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "mpks3aout49kux09",
      "name": "Phase 2: Drive Update",
      "position": [
        5488,
        1944
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_key": "={{ $json.row_key }}",
            "segment_id": "={{ $json.segment_id }}",
            "lang": "={{ $json.lang }}",
            "text_translated": "={{ $json.text_translated }}",
            "en_start_sec": "={{ $json.en_start_sec }}",
            "en_duration_sec": "={{ $json.en_duration_sec }}",
            "real_duration_sec": "={{ $json.real_duration_sec }}",
            "lead_silence_sec": "={{ $json.lead_silence_sec }}",
            "slot_start_sec": "={{ $json.slot_start_sec }}",
            "slot_end_sec": "={{ $json.slot_end_sec }}",
            "tts_budget_sec": "={{ $json.tts_budget_sec }}",
            "tail_silence_sec": "={{ $json.tail_silence_sec }}",
            "final_duration_sec": "={{ $json.final_duration_sec }}",
            "borrowed_sec": "={{ $json.borrowed_sec }}",
            "expansion_attempts": "={{ $json.expansion_attempts }}",
            "shorten_retries_in_synthesize": "={{ $json.shorten_retries_in_synthesize }}",
            "final_speed": "={{ $json.final_speed }}",
            "needs_attention": "={{ $json.needs_attention }}",
            "audio_drive_file_id": "={{ $json.audio_drive_file_id }}"
          },
          "matchingColumns": [
            "row_key"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "id": "mpks3aoulge8uc4k",
      "name": "Phase 2: Update Localizations",
      "position": [
        5688,
        1944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voices": {
      "main": [
        [
          {
            "node": "Read Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Segments": {
      "main": [
        [
          {
            "node": "Expand TTS Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand TTS Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read Localizations Fresh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Check Timing + Pad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timing + Pad": {
      "main": [
        [
          {
            "node": "Save to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Drive": {
      "main": [
        [
          {
            "node": "Prepare Localization Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Localization Row": {
      "main": [
        [
          {
            "node": "Update Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Localizations": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations Fresh": {
      "main": [
        [
          {
            "node": "Phase 2: Batch LLM+TTS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Segment WAV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build VTT Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Audio Per Lang": {
      "main": [
        [
          {
            "node": "Save Full to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Segment WAV": {
      "main": [
        [
          {
            "node": "Build Full Audio Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VTT Per Lang": {
      "main": [
        [
          {
            "node": "Save VTT to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts": {
      "main": [
        [
          {
            "node": "Read Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Batch LLM+TTS": {
      "main": [
        [
          {
            "node": "Phase 2: Drive Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Drive Update": {
      "main": [
        [
          {
            "node": "Phase 2: Update Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ded4c96f-7f8d-4662-b2a2-be9e6fc190b7",
  "meta": {
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "MOZzjHF8ATMGkyjl",
  "tags": []
}
