workflows/W3_Synthesize_v2.json
{
  "name": "W3 - Synthesize v2",
  "nodes": [
    {
      "parameters": {},
      "id": "f30252ee-938d-45d0-803b-669c6e09d439",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        35840,
        13392
      ]
    },
    {
      "parameters": {},
      "id": "6cec5857-ddc9-4623-ba55-cb136d0c609e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        35840,
        13552
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept lesson_id from parent workflow (W_Master) via Execute Workflow Trigger.\n// Manual Trigger has no payload — lesson_id stays null and Code nodes downstream\n// skip the lesson_id filter (operate on ALL segments — backward-compatible legacy behavior).\nconst incoming = $input.first()?.json || {};\nconst lesson_id = incoming.lesson_id || null;\nreturn [{ json: { lesson_id } }];"
      },
      "id": "fa28a272-c157-4428-a26f-398ee21a2775",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        36048,
        13472
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "fbc6c5a8-1118-49be-87ae-48edf55977a3",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        36208,
        13472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "prompts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "prompts2-w3-4abc-9def-readpromptssht",
      "name": "Read Prompts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        36368,
        13472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "voices",
          "mode": "name"
        },
        "options": {}
      },
      "id": "52822cec-cd79-46cd-a4f2-7e0c71f97490",
      "name": "Read Voices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        36512,
        13472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "options": {}
      },
      "id": "018927e8-69e7-46ba-a29d-b75a850f967b",
      "name": "Read Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        36656,
        13472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lesson_id = $('Get Params').first().json.lesson_id;\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs        = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr').split(',').map(s => s.trim());\nconst MIN_GAP            = parseFloat(configMap.min_inter_segment_gap_sec)  || 0.4;\nconst MAX_BORROW         = parseFloat(configMap.max_borrow_per_segment_sec) || 2.0;\nconst EXPANSION_THRESHOLD= parseFloat(configMap.expansion_threshold)        || 0.85;\nconst SILENCE_LEAD_RATIO = parseFloat(configMap.silence_lead_ratio)         || 0.2;\nconst SILENCE_LEAD_MAX_SEC = parseFloat(configMap.silence_lead_max_sec)    || 0.05;\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst sortedSegs = $input.all()\n  .filter(i => i.json.segment_id)\n  .filter(i => !lesson_id || i.json.segment_id.startsWith(lesson_id + '_'))\n  .sort((a, b) => (parseFloat(a.json.en_start_sec) || 0) - (parseFloat(b.json.en_start_sec) || 0));\nif (sortedSegs.length === 0) throw new Error('No segments to synthesize' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\n\nconst slotInfo = {};\nfor (let i = 0; i < sortedSegs.length; i++) {\n  const seg     = sortedSegs[i].json;\n  const prevEnd = i > 0 ? (parseFloat(sortedSegs[i-1].json.en_end_sec) || 0) : 0;\n  const start   = parseFloat(seg.en_start_sec)    || 0;\n  const end     = parseFloat(seg.en_end_sec)      || 0;\n  // Authoritative slot duration: end - start. Stored en_duration_sec can be\n  // corrupted in segments tab (root cause TBD); prefer computed value.\n  const storedDur = parseFloat(seg.en_duration_sec) || 0;\n  const computedDur = Math.max(0, end - start);\n  const dur = computedDur > 0 ? computedDur : storedDur;\n  if (computedDur > 0 && storedDur > 0 && Math.abs(computedDur - storedDur) > 0.5) {\n    console.warn(`W3 Expand TTS Jobs: segment ${seg.segment_id} stored en_duration_sec=${storedDur.toFixed(3)} disagrees with (end-start)=${computedDur.toFixed(3)}. Using computed.`);\n  }\n\n  const isLast = (i === sortedSegs.length - 1);\n  const nextStart = isLast ? end : (parseFloat(sortedSegs[i+1].json.en_start_sec) || 0);\n  const gapAfter = Math.max(0, nextStart - end);\n\n  // Unified signed adjustment: negative = steal needed; positive = borrow available\n  const signedAdj      = gapAfter - MIN_GAP;\n  const trailingSteal  = signedAdj < 0 ? -signedAdj : 0;\n  const maxBorrowable  = isLast ? 0 : Math.max(0, Math.min(signedAdj, MAX_BORROW));\n\n  // Audio budget WITHOUT borrow (steal already accounted)\n  const ttsBudget      = Math.max(dur * 0.5, dur - trailingSteal);\n  // Effective slot WITH borrow allowance\n  const effectiveSlot  = ttsBudget + maxBorrowable;\n\n  slotInfo[seg.segment_id] = {\n    slot_start_sec:           prevEnd,\n    slot_end_sec:             end,\n    lead_silence_natural_sec: Math.max(0, start - prevEnd),\n    tts_budget_sec:           parseFloat(ttsBudget.toFixed(3)),\n    effective_slot_sec:       parseFloat(effectiveSlot.toFixed(3)),\n    max_borrowable_sec:       parseFloat(maxBorrowable.toFixed(3)),\n    trailing_steal_sec:       parseFloat(trailingSteal.toFixed(3)),\n    gap_after_sec:            parseFloat(gapAfter.toFixed(3)),\n  };\n}\n\nconst results = [];\nfor (const item of sortedSegs) {\n  const seg = item.json;\n  // Re-derive dur authoritatively for result row (same logic as slotInfo loop).\n  const _segEnd   = parseFloat(seg.en_end_sec)   || 0;\n  const _segStart = parseFloat(seg.en_start_sec) || 0;\n  const _segDur   = Math.max(0, _segEnd - _segStart) || (parseFloat(seg.en_duration_sec) || 0);\n  for (const lang of activeLangs) {\n    const text = seg[`${lang}_text`];\n    if (!text || !text.trim()) continue;\n    const voice = voiceMap[lang] || {};\n    if (!voice.voice_id) continue;\n    const info = slotInfo[seg.segment_id] || {};\n    results.push({ json: {\n      segment_id:               seg.segment_id,\n      lesson_id:                seg.lesson_id || 'unknown',\n      lang,\n      text,\n      en_text:                  seg.en_text || '',\n      en_duration_sec:          _segDur,\n      en_start_sec:             parseFloat(seg.en_start_sec) || 0,\n      en_end_sec:               parseFloat(seg.en_end_sec) || 0,\n      slot_start_sec:           info.slot_start_sec           || 0,\n      slot_end_sec:             info.slot_end_sec             || 0,\n      lead_silence_natural_sec: info.lead_silence_natural_sec || 0,\n      tts_budget_sec:           info.tts_budget_sec           || (parseFloat(seg.en_duration_sec) || 0),\n      effective_slot_sec:       info.effective_slot_sec       || (parseFloat(seg.en_duration_sec) || 0),\n      max_borrowable_sec:       info.max_borrowable_sec       || 0,\n      trailing_steal_sec:       info.trailing_steal_sec       || 0,\n      gap_after_sec:            info.gap_after_sec            || 0,\n      silence_lead_ratio:       SILENCE_LEAD_RATIO,\n      silence_lead_max_sec:     SILENCE_LEAD_MAX_SEC,\n      expansion_threshold:      EXPANSION_THRESHOLD,\n      voice_id:                 voice.voice_id,\n      stability:                parseFloat(voice.stability)         || 0.5,\n      similarity_boost:         parseFloat(voice.similarity_boost)  || 0.75,\n      style:                    parseFloat(voice.style)             || 0,\n      speed:                    parseFloat(voice.speed)             || 1.0,\n      model:                    voice.model || 'eleven_multilingual_v2',\n    }});\n  }\n}\nreturn results;"
      },
      "id": "91f1393a-8f76-4269-98d8-c923162b40c2",
      "name": "Expand TTS Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        36848,
        13472
      ]
    },
    {
      "parameters": {
        "batchSize": 7,
        "options": {}
      },
      "id": "ad2810af-d75f-43af-bf8d-7c3b5bf37715",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        37056,
        13472
      ]
    },
    {
      "parameters": {
        "jsCode": "const SAMPLE_RATE          = 22050;\nconst BPS                  = 2;\nconst BUDGET_FACTOR        = 1.05;\nconst MIN_RETAIN           = 0.45;\nconst MAX_RETAIN_EXPANSION = 1.5;\n// Per-language CPS — defaults tuned against real ElevenLabs output; overridable via\n// config keys cps_estimate_de, cps_estimate_es, …, cps_estimate_tr. Computed below.\nconst CPS_DEFAULTS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\n// W3 single-segment shortener. Switched from Claude Haiku 4.5 to Gemini 3.5 Flash\n// on 2026-05-31 — Haiku was too conservative on FR tight slots (returned same text\n// across all 3 retries with a \"cannot shorten further\" meta tag, hitting the slot\n// truncation path). Gemini Flash is also significantly cheaper. See DECISIONS.md.\nconst SHORTEN_MODEL        = 'gemini-3.5-flash';\n// Failure threshold: anything shorter than 100ms of PCM (4410 bytes at 22050Hz\n// mono 16-bit) is treated as a failed TTS response.\nconst MIN_VALID_PCM_BYTES = 4410;  // 0.1s × 22050 × 2\n\n// ---------------------------------------------------------------------------\n// Shared context (identical for every job in the batch) — built ONCE.\n// This node now synthesizes the INITIAL TTS itself (the separate \"ElevenLabs TTS\"\n// HTTP node was removed) and processes its whole input batch in parallel via\n// Promise.all. Concurrency = \"Loop Over Items\" batchSize (default 7); retries\n// within a single job stay sequential, so in-flight ElevenLabs calls ≤ batchSize.\n// As of 2026-05-31 each synthOne invocation also enforces a per-segment wall-clock\n// budget (SEG_BUDGET_MS, default 90s). If Gemini or ElevenLabs hangs on one cell,\n// only that cell's retries are skipped — the rest of the Promise.all batch keeps\n// running, so one bad segment can't blow the 300s task-runner timeout for everyone.\n// ---------------------------------------------------------------------------\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst EL_KEY  = configMap.elevenlabs_api_key  || '';\nconst GEM_KEY = configMap.gemini_api_key      || '';\n\n// Externalized-prompts loader. Reads from the \"prompts\" Google Sheets tab via\n// upstream Read Prompts node. Throws if a required key is missing (fail-fast).\n// Placeholders use {{var}} syntax; vars object replaces them at load time.\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\nfunction loadPrompt(key, vars = {}) {\n  const raw = promptMap[key];\n  if (!raw) throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  const result = Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{\\\\s*${k}\\\\s*\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n  const leaks = result.match(/\\{\\{\\s*[a-z][a-z0-9_]*\\s*\\}\\}/g);\n  if (leaks) throw new Error(`Unsubstituted placeholders in prompt \"${key}\": ${leaks.join(', ')}`);\n  return result;\n}\nconst TOV = loadPrompt('tone_of_voice');\n\n// Resolve per-language CPS from config (defaults from CPS_DEFAULTS above).\nconst LANG_CPS = {\n  de: parseFloat(configMap.cps_estimate_de) || CPS_DEFAULTS.de,\n  es: parseFloat(configMap.cps_estimate_es) || CPS_DEFAULTS.es,\n  fr: parseFloat(configMap.cps_estimate_fr) || CPS_DEFAULTS.fr,\n  pl: parseFloat(configMap.cps_estimate_pl) || CPS_DEFAULTS.pl,\n  pt: parseFloat(configMap.cps_estimate_pt) || CPS_DEFAULTS.pt,\n  it: parseFloat(configMap.cps_estimate_it) || CPS_DEFAULTS.it,\n  tr: parseFloat(configMap.cps_estimate_tr) || CPS_DEFAULTS.tr,\n};\nif (!EL_KEY)  throw new Error('elevenlabs_api_key missing from config sheet');\nif (!GEM_KEY) throw new Error('gemini_api_key missing from config sheet');\n\nconst SHORT_SEG_THRESHOLD = parseFloat(configMap.short_seg_threshold_sec) || 2.0;\nconst MAX_SPEED_UP_DELTA  = parseFloat(configMap.max_speed_up_delta) || 0.20;\nconst SHORTEN_STATIC      = loadPrompt('w3_shorten_system', { tov: TOV });\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nfunction pcmDuration(buf) { return buf.length / (SAMPLE_RATE * BPS); }\n\nfunction buildWav(pcmBuf) {\n  const n = pcmBuf.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcmBuf]);\n}\n\n// Strip LLM meta-commentary.\n// Meditation translations are always single-line; cut at FIRST newline — anything after is meta\n// like \"(Already at N characters; cannot shorten further)\" which the LLM sometimes appends.\nfunction sanitizeLLMOutput(rawText) {\n  if (!rawText) return '';\n  let t = rawText.trim();\n  const nlIdx = t.indexOf('\\n');\n  if (nlIdx >= 0) t = t.substring(0, nlIdx).trim();\n  // Strip leading/trailing markdown emphasis (*, **, __)\n  t = t.replace(/^[\\*_]+|[\\*_]+$/g, '').trim();\n  // Strip surrounding quotes\n  t = t.replace(/^[\"'`]+|[\"'`]+$/g, '').trim();\n  // Strip trailing parenthesized meta even on same line (\"text (12 chars)\")\n  t = t.replace(/\\s*\\([^)]*(character|char|cannot|already|maximally|minimal)[^)]*\\)\\s*$/i, '').trim();\n  return t;\n}\n\n// Generic Gemini call — only needs GEM_KEY, so it stays at module scope.\n// Uses the OpenAI-compatible endpoint (same as W2 Editor + Phase 2 Editor); no\n// prompt caching equivalent to Anthropic ephemeral cache, but per-call cost for\n// Gemini 3.5 Flash is ~3× cheaper than cached Haiku 4.5, so net cost still drops.\nasync function callGemini(systemPrompt, userText) {\n  const MAX_TRIES = 4;\n  for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions',\n        headers: { Authorization: `Bearer ${GEM_KEY}`, 'content-type': 'application/json' },\n        body: {\n          model: SHORTEN_MODEL,\n          messages: [\n            { role: 'system', content: systemPrompt },\n            { role: 'user',   content: userText      },\n          ],\n        },\n        json: true,\n      });\n      return resp.choices?.[0]?.message?.content?.trim() || '';\n    } catch (e) {\n      const isLast = attempt === MAX_TRIES - 1;\n      if (isLast) { console.error('W3 callGemini failed after retries:', e.message); return ''; }\n      // Exponential backoff: 2s, 4s, 8s.\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\n// ---------------------------------------------------------------------------\n// Per-job synthesis + timing + padding. Returns one { json, binary } item.\n// All per-job state (voice params, slot budgets, retry loops) lives here so the\n// batch can run many jobs concurrently with no cross-talk.\n// ---------------------------------------------------------------------------\nasync function synthOne(job) {\n  const {\n    voice_id, en_text, en_duration_sec,\n    lead_silence_natural_sec, tts_budget_sec, effective_slot_sec, trailing_steal_sec,\n    silence_lead_ratio, silence_lead_max_sec, expansion_threshold,\n    stability, similarity_boost, segment_id, lang, lesson_id,\n  } = job;\n\n  const enDur        = parseFloat(en_duration_sec)          || 0;\n  const naturalLead  = parseFloat(lead_silence_natural_sec) || 0;\n  const budget       = parseFloat(tts_budget_sec)           || enDur;\n  const slot         = parseFloat(effective_slot_sec)       || budget;\n  const trailSteal   = parseFloat(trailing_steal_sec)       || 0;\n  const leadRatio    = parseFloat(silence_lead_ratio)       || 0.2;\n  const leadMaxSec   = parseFloat(silence_lead_max_sec)     || 0.05;\n  const expThreshold = parseFloat(expansion_threshold)      || 0.75;\n  const enRef        = en_text || '';\n\n  const maxBorrowable = Math.max(0, slot - budget);\n\n  // Conditional breath-borrow: only short segments (< SHORT_SEG_THRESHOLD) with available\n  // trailing silence (slot > enDur) may extend past en_duration into the gap. Bounded by\n  // effective_slot_sec (= en_duration + maxBorrowable). Normal-length segments stay strict.\n  const isShortSeg = enDur > 0 && enDur < SHORT_SEG_THRESHOLD && slot > enDur;\n  const maxAllowed = isShortSeg ? slot : enDur;\n\n  // Dynamic speed-up ceiling for the shorten path, RELATIVE to this voice's configured\n  // speed (replaces the old absolute 1.15 / dead max_speed config key). A 0.8-speed voice\n  // previously jumped to an absolute 1.15 (+0.35, jarring); now it caps at 0.8+delta=0.95.\n  const baseSpeed      = parseFloat(job.speed) || 1.0;\n  const SPEED_UP_STEPS = [\n    parseFloat((baseSpeed + MAX_SPEED_UP_DELTA * (2 / 3)).toFixed(3)),\n    parseFloat((baseSpeed + MAX_SPEED_UP_DELTA).toFixed(3)),\n  ];\n\n  // ElevenLabs call — closes over this job's voice params. Soft-fail: returns null on final\n  // failure instead of throwing. Caller checks for null and either keeps the previous PCM\n  // (retries) or builds a silent WAV with needs_attention=true (initial TTS). Prevents one\n  // bad segment from killing W3 and triggering an expensive full-workflow retry.\n  async function tts(t, speed) {\n    const MAX_TRIES = 4;\n    for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n      try {\n        const resp = await this.helpers.httpRequest({\n          method: 'POST',\n          url: `https://api.elevenlabs.io/v1/text-to-speech/${voice_id}?output_format=pcm_22050`,\n          headers: { 'xi-api-key': EL_KEY, 'content-type': 'application/json' },\n          body: { text: t, model_id: 'eleven_multilingual_v2', voice_settings: { stability, similarity_boost, speed } },\n          json: true, returnFullResponse: true, encoding: 'arraybuffer',\n        });\n        return Buffer.from(resp.body);\n      } catch (e) {\n        const isLast = attempt === MAX_TRIES - 1;\n        if (isLast) {\n          console.error(`tts() failed for ${segment_id}_${lang} after ${MAX_TRIES} tries:`, e.message);\n          return null;\n        }\n        // Exponential backoff: 2s, 4s, 8s.\n        await sleep(2000 * Math.pow(2, attempt));\n      }\n    }\n    return null;\n  }\n\n  async function geminiShorten(currentText, realSec, level) {\n    const minChars       = Math.floor(currentText.length * MIN_RETAIN);\n    const targetChars    = Math.floor(slot * (LANG_CPS[lang] || 15));\n    const targetCharsLow = Math.floor(targetChars * 0.85);\n    const floorChars     = Math.max(minChars, targetCharsLow);\n\n    const dynamicPart = `Task — shorten this segment:\nLANG: ${lang}\nORIGINAL EN: ${enRef}\nCURRENT TRANSLATION: ${currentText}\nTARGET LENGTH: ~${targetChars} characters\nMINIMUM ALLOWED LENGTH: ${floorChars} characters — do NOT go below this\nATTEMPT LEVEL: ${level}`;\n\n    const systemPrompt = `${SHORTEN_STATIC}\\n\\n${dynamicPart}`;\n    const raw = await callGemini.call(this, systemPrompt, currentText);\n    const result = sanitizeLLMOutput(raw);\n    if (!result || result.length < floorChars) return currentText;\n    return result;\n  }\n\n  let text = job.text;\n\n  // Per-segment wall-clock budget. Caps total time spent on shorten + speed-up\n  // retries for ONE segment so that if Gemini or ElevenLabs slows down badly on\n  // a particular cell, the rest of the batch (Promise.all) is not held hostage.\n  // 90s is generous: a normal shorten cycle (3 Gemini + 3 TTS) is ~20-30s. Set\n  // higher than the n8n task-runner default 300s minus initial-TTS+overhead so\n  // 7 parallel segments under worst conditions still fit. When budget is hit\n  // mid-retry, the loop exits, needs_attention=true is set, and the segment\n  // emits with whatever audio was last produced (truncated as needed).\n  const SEG_BUDGET_MS = 90000;\n  const segStartedAt  = Date.now();\n  const overBudget    = () => (Date.now() - segStartedAt) > SEG_BUDGET_MS;\n\n  // Initial TTS — synthesized here (the separate HTTP node was removed).\n  let pcm = await tts.call(this, text, baseSpeed);\n  if (pcm && pcm.length < MIN_VALID_PCM_BYTES) {\n    console.error(`TTS response too small for ${segment_id}_${lang}: ${pcm.length} bytes.`);\n    pcm = null;\n  }\n\n  if (!enDur || enDur <= 0) {\n    const leadBytes   = Math.round(naturalLead * SAMPLE_RATE) * BPS;\n    const leadSilence = leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0);\n    const wav         = buildWav(Buffer.concat([leadSilence, pcm]));\n    const realSec     = pcmDuration(pcm);\n    const fileName    = `${segment_id}_${lang}.wav`;\n    return {\n      json: { segment_id, lang, lesson_id, en_duration_sec: 0,\n              lead_silence_sec:              naturalLead,\n              tts_budget_sec:                0,\n              tail_silence_sec:              0,\n              borrowed_sec:                  0,\n              expansion_attempts:            0,\n              shorten_retries_in_synthesize: 0,\n              real_duration_sec:             parseFloat(realSec.toFixed(3)),\n              final_duration_sec:            parseFloat((naturalLead + realSec).toFixed(3)),\n              final_text:                    text,\n              final_speed: 1.0, needs_attention: true, file_name: fileName,\n              warning: 'en_duration_sec missing — file not strictly timed' },\n      binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n    };\n  }\n\n  let finalSpeed        = parseFloat(job.speed) || 1.0;\n  let needsAttention    = false;\n  let shortenRetries    = 0;\n  let expansionAttempts = 0;\n\n  // Soft fallback: if initial TTS produced no audio, emit a silent placeholder WAV of\n  // en_duration length so downstream Save to Drive / Build Full Audio Per Lang still run.\n  // W3 finishes successfully; W_Master Slack notification still fires; flag for manual\n  // review via needs_attention=true.\n  if (!pcm) {\n    console.error(`Initial ElevenLabs TTS produced no audio for ${segment_id}_${lang}.`);\n    const silentBytes = Math.round(enDur * SAMPLE_RATE) * BPS;\n    const silentPcm   = silentBytes > 0 ? Buffer.alloc(silentBytes, 0) : Buffer.alloc(0);\n    const wav         = buildWav(silentPcm);\n    const fileName    = `${segment_id}_${lang}.wav`;\n    return {\n      json: { segment_id, lang, lesson_id,\n              en_duration_sec:               enDur,\n              lead_silence_sec:              0,\n              tts_budget_sec:                0,\n              tail_silence_sec:              0,\n              borrowed_sec:                  0,\n              expansion_attempts:            0,\n              shorten_retries_in_synthesize: 0,\n              real_duration_sec:             0,\n              final_duration_sec:            parseFloat((silentBytes / (SAMPLE_RATE * BPS)).toFixed(3)),\n              final_text:                    text,\n              final_speed:                   1.0,\n              needs_attention:               true,\n              file_name:                     fileName,\n              warning:                       `ElevenLabs initial TTS failed for ${segment_id}_${lang}` },\n      binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n    };\n  }\n\n  const LEVELS = ['light', 'medium', 'max'];\n  for (let i = 0; i < 3 && pcmDuration(pcm) > maxAllowed; i++) {\n    if (overBudget()) {\n      console.warn(`${segment_id}_${lang}: per-segment budget exhausted in shorten iter ${i + 1}; skipping remaining retries`);\n      needsAttention = true;\n      break;\n    }\n    const realSec = pcmDuration(pcm);\n    const shorter = await geminiShorten.call(this, text, realSec, LEVELS[i]);\n    if (shorter && shorter !== text) {\n      const newPcm = await tts.call(this, shorter, 1.0);\n      if (newPcm) {\n        text = shorter;\n        pcm  = newPcm;\n      } else {\n        // TTS failed during shorten retry — keep previous text/pcm, abort shorten loop.\n        needsAttention = true;\n        shortenRetries = i + 1;\n        break;\n      }\n    }\n    shortenRetries = i + 1;\n  }\n\n  for (const speed of SPEED_UP_STEPS) {\n    if (pcmDuration(pcm) <= maxAllowed) break;\n    if (overBudget()) {\n      console.warn(`${segment_id}_${lang}: per-segment budget exhausted in speed-up at ${speed}; skipping`);\n      needsAttention = true;\n      break;\n    }\n    const newPcm = await tts.call(this, text, speed);\n    if (!newPcm) {\n      // TTS failed during speed retry — keep previous pcm + finalSpeed, abort loop.\n      needsAttention = true;\n      break;\n    }\n    pcm = newPcm;\n    finalSpeed = speed;\n  }\n\n  if (pcmDuration(pcm) > maxAllowed) {\n    needsAttention = true;\n    const truncBytes = Math.round(maxAllowed * SAMPLE_RATE) * BPS;\n    pcm = pcm.subarray(0, truncBytes);\n  }\n\n  // Inline expansion removed — Phase 2 batch handles all expansion candidates.\n\n  const realDur = pcmDuration(pcm);\n  let leadSec, tailSec, borrowedSec;\n\n  if (realDur <= enDur) {\n    const padding = enDur - realDur;\n    borrowedSec = 0;\n    if (naturalLead > 0) {\n      leadSec = naturalLead;\n      tailSec = padding;\n    } else {\n      // Cap breath-lead so dubbed words align with EN even when EN slot has a long trailing silence\n      leadSec = Math.min(padding * leadRatio, leadMaxSec);\n      tailSec = padding - leadSec;\n    }\n  } else if (realDur <= maxAllowed) {\n    // Borrow case (short-seg path): TTS audio extends past en_duration into the trailing\n    // silence budgeted in effective_slot_sec. File duration = lead + real_dur, no tail.\n    // borrowed_sec = how much we extended beyond en_duration. Not flagged for attention —\n    // this is intentional breath-borrow for ultra-short segments.\n    borrowedSec = parseFloat((realDur - enDur).toFixed(3));\n    leadSec     = naturalLead;\n    tailSec     = 0;\n  } else {\n    // Defensive: real_dur exceeds even the borrow ceiling. Hard-truncate earlier in the\n    // shorten/speed loop should have prevented this; flag for manual review if reached.\n    borrowedSec = parseFloat((maxAllowed - enDur).toFixed(3));\n    leadSec     = naturalLead;\n    tailSec     = 0;\n    needsAttention = true;\n  }\n\n  const leadBytes = Math.round(leadSec * SAMPLE_RATE) * BPS;\n  const tailBytes = Math.round(tailSec * SAMPLE_RATE) * BPS;\n  const finalPcm  = Buffer.concat([\n    leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0),\n    pcm,\n    tailBytes > 0 ? Buffer.alloc(tailBytes, 0) : Buffer.alloc(0),\n  ]);\n\n  const wav           = buildWav(finalPcm);\n  const finalDuration = (leadBytes + pcm.length + tailBytes) / (SAMPLE_RATE * BPS);\n  const fileName      = `${segment_id}_${lang}.wav`;\n\n  return {\n    json: {\n      segment_id, lang, lesson_id,\n      en_duration_sec:               enDur,\n      lead_silence_sec:              parseFloat(leadSec.toFixed(3)),\n      tts_budget_sec:                parseFloat(budget.toFixed(3)),\n      tail_silence_sec:              parseFloat(tailSec.toFixed(3)),\n      borrowed_sec:                  parseFloat(borrowedSec.toFixed(3)),\n      expansion_attempts:            expansionAttempts,\n      shorten_retries_in_synthesize: shortenRetries,\n      real_duration_sec:             parseFloat(realDur.toFixed(3)),\n      final_duration_sec:            parseFloat(finalDuration.toFixed(3)),\n      final_text:                    text,\n      final_speed:                   finalSpeed,\n      needs_attention:               needsAttention,\n      file_name:                     fileName,\n    },\n    binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n  };\n}\n\n// Drain the batch in parallel. With \"Loop Over Items\" batchSize=7, ≤7 synthOne run\n// concurrently → ≤7 simultaneous ElevenLabs/Gemini calls; one output item per input\n// job. The per-segment SEG_BUDGET_MS guard above means even if one segment hangs\n// on a slow Gemini/ElevenLabs call, its retries cut off at 90s and the batch\n// progresses — staying well under the 300s task-runner ceiling even with all\n// 7 segments running their full shorten + speed-up paths in parallel.\nconst jobs = $input.all().map(i => i.json);\nconst out  = await Promise.all(jobs.map(j => synthOne.call(this, j)));\nreturn out;\n"
      },
      "id": "9c31580c-7ab5-4e53-8c26-50afa9bf6d4c",
      "name": "Check Timing + Pad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37456,
        13472
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8c9357d8-c7d8-4263-bd3e-4cdc4dc97838",
      "name": "Save to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        37648,
        13472
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Iterate over Drive Save responses (one per uploaded WAV in this batch) and JOIN with\n// Check Timing + Pad + Expand TTS Jobs by file_name. Item-pairing accessors (.item) break\n// when Loop Over Items uses batchSize > 1, so JOIN by file_name is more robust.\nconst checkAll = $('Check Timing + Pad').all();\nconst jobAll = $('Expand TTS Jobs').all();\nconst out = [];\nfor (const driveItem of $input.all()) {\n  const driveResp = driveItem.json || {};\n  const fileName = driveResp.name || '';\n  if (!fileName) { console.warn('Save to Drive response missing name; skipping'); continue; }\n\n  const checkEntry = checkAll.find(c => c.json && c.json.file_name === fileName);\n  if (!checkEntry) { console.warn('No Check Timing + Pad entry for', fileName); continue; }\n  const checkItem = checkEntry.json;\n  const jobEntry = jobAll.find(j => j.json && j.json.segment_id === checkItem.segment_id && j.json.lang === checkItem.lang);\n  const job = jobEntry ? jobEntry.json : {};\n\n  out.push({\n    json: {\n      row_key:                       `${checkItem.segment_id}_${checkItem.lang}`,\n      segment_id:                    checkItem.segment_id,\n      lang:                          checkItem.lang,\n      text_translated:               checkItem.final_text || job.text || '',\n      en_start_sec:                  job.en_start_sec,\n      en_duration_sec:               checkItem.en_duration_sec,\n      slot_start_sec:                job.slot_start_sec,\n      slot_end_sec:                  job.slot_end_sec,\n      lead_silence_sec:              checkItem.lead_silence_sec,\n      tts_budget_sec:                checkItem.tts_budget_sec,\n      tail_silence_sec:              checkItem.tail_silence_sec,\n      borrowed_sec:                  checkItem.borrowed_sec,\n      expansion_attempts:            checkItem.expansion_attempts,\n      shorten_retries_in_synthesize: checkItem.shorten_retries_in_synthesize,\n      real_duration_sec:             checkItem.real_duration_sec,\n      final_duration_sec:            checkItem.final_duration_sec,\n      final_speed:                   checkItem.final_speed,\n      needs_attention:               checkItem.needs_attention ? 'TRUE' : 'FALSE',\n      audio_drive_file_id:           driveResp.id || '',\n      needs_retts:                   'FALSE',\n    },\n  });\n}\nreturn out;"
      },
      "id": "32016c65-6d26-4549-a20e-d1e72092612d",
      "name": "Prepare Localization Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37856,
        13472
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_key"
          ],
          "schema": [
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_translated",
              "displayName": "text_translated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot_start_sec",
              "displayName": "slot_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot_end_sec",
              "displayName": "slot_end_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "lead_silence_sec",
              "displayName": "lead_silence_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tts_budget_sec",
              "displayName": "tts_budget_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tail_silence_sec",
              "displayName": "tail_silence_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "borrowed_sec",
              "displayName": "borrowed_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "expansion_attempts",
              "displayName": "expansion_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "shorten_retries_in_synthesize",
              "displayName": "shorten_retries_in_synthesize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "real_duration_sec",
              "displayName": "real_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_duration_sec",
              "displayName": "final_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_speed",
              "displayName": "final_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "needs_attention",
              "displayName": "needs_attention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "audio_drive_file_id",
              "displayName": "audio_drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d19cfca1-e0ea-47de-82aa-84ed0ea1d396",
      "name": "Update Localizations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        38048,
        13472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "id": "00fb688f-c80f-4e94-910a-4250e8bce424",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        38256,
        13472
      ],
      "webhookId": "synth-v2-rate-limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "6dbdeef1-3816-4a82-a261-19acc8f3c8e0",
      "name": "Read Localizations Fresh",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        37056,
        13680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Concat per-segment WAVs into one full WAV per language.\n// Memory-conscious: iterates active_langs sequentially, no pre-grouping of all items,\n// explicit reference cleanup after each lang. Pairs with N8N_BINARY_DATA_MODE=filesystem\n// for further heap savings.\nconst SAMPLE_RATE = 22050;\nconst BPS         = 2;\n\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean).sort();\n\n// As of 2026-05-31 refactor: borrow compensation is now done UPSTREAM by the\n// new `Trim Lead For Sequence` node (which trims each post-borrow segment's\n// lead silence by the previous segment's borrowed_sec and overwrites the Drive\n// copy via a parallel Save Trimmed Audio path). By the time items reach Build\n// Full Audio Per Lang, they are already sequence-aligned. This node is now a\n// pure concatenator — just strip 44-byte WAV headers, accumulate PCM, emit.\n//\n// Why the change: individual WAVs in Drive used to extend past their slot_end\n// for short-segment-borrow cells; editors placing them end-to-end (e.g. in\n// Reaper) saw ~1.5s cumulative drift. Trimming upstream gives Drive a\n// sequence-friendly set of files; Build Full Audio no longer needs special\n// per-segment compensation logic.\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Download Segment WAV must run first');\n\n// Map item reference → its original index in $input.all() so that, after\n// filter/sort, we can still pass the correct itemIndex to getBinaryDataBuffer.\n// (Critical for N8N_BINARY_DATA_MODE=filesystem support — see Check Timing + Pad.)\nconst indexMap = new Map(items.map((it, idx) => [it, idx]));\n\nconst results = [];\nfor (const lang of activeLangs) {\n  // Lazy filter for current lang only (no pre-grouping → no doubled refs).\n  const entries = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n\n  if (!entries.length) continue;\n\n  // Strip 44-byte WAV header from each segment, accumulate raw PCM.\n  // Segments come in already trimmed by upstream Trim Lead For Sequence node, so\n  // this is a straight concat — no per-segment borrow compensation here.\n  const pcmChunks = [];\n  let skippedNoBinary = 0;\n  let skippedEmptyWav = 0;\n  for (const e of entries) {\n    if (!e.binary?.data) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — no binary slot on item`);\n      continue;\n    }\n    // CRITICAL: must use this.helpers.getBinaryDataBuffer() — with\n    // N8N_BINARY_DATA_MODE=filesystem the raw binary.data.data is a tiny\n    // placeholder, not the actual WAV bytes.\n    const originalIdx = indexMap.get(e);\n    if (originalIdx === undefined) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — could not resolve original item index`);\n      continue;\n    }\n    let wavBuf;\n    try {\n      wavBuf = await this.helpers.getBinaryDataBuffer(originalIdx, 'data');\n    } catch (err) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — getBinaryDataBuffer failed: ${err.message}`);\n      continue;\n    }\n    if (!wavBuf || wavBuf.length <= 44) {\n      skippedEmptyWav++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — WAV is ${wavBuf?.length ?? 0} bytes (header-only or empty)`);\n      continue;\n    }\n    pcmChunks.push(wavBuf.subarray(44));\n  }\n\n  const fullPcm = Buffer.concat(pcmChunks);\n  pcmChunks.length = 0;  // explicit ref clear — helps GC reclaim per-segment buffers\n  const n = fullPcm.length;\n\n  // Build fresh WAV header (22050Hz mono 16-bit — matches segments)\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  const fullWav = Buffer.concat([h, fullPcm]);\n\n  const lessonId = String(entries[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.wav`;\n\n  if (skippedNoBinary > 0 || skippedEmptyWav > 0) {\n    console.warn(`Build Full: ${lang} skipped ${skippedNoBinary} items (no binary) + ${skippedEmptyWav} items (empty WAV) out of ${entries.length}`);\n  }\n  results.push({\n    json: {\n      lang,\n      lesson_id:              lessonId,\n      file_name:              fileName,\n      total_segments:         entries.length,\n      skipped_no_binary:      skippedNoBinary,\n      skipped_empty_wav:      skippedEmptyWav,\n      full_duration_sec:      parseFloat((n / (SAMPLE_RATE * BPS)).toFixed(3)),\n    },\n    binary: {\n      data: {\n        data:     fullWav.toString('base64'),\n        mimeType: 'audio/wav',\n        fileName,\n      },\n    },\n  });\n  // fullPcm + fullWav fall out of scope at next iteration — GC can reclaim.\n}\n\nif (!results.length) throw new Error('No localizations to concat' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;"
      },
      "id": "e08919c6-d1e9-48c2-a270-96f35564ea77",
      "name": "Build Full Audio Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        38160,
        13712
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8361800c-b64e-46b4-9242-555294daa292",
      "name": "Save Full to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        38352,
        13712
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.audio_drive_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7fa19efb-032e-4583-a27b-246612d4cb02",
      "name": "Download Segment WAV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        37952,
        13712
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build WebVTT subtitles per active language. One .vtt per lang, matching the\n// full-lesson WAV positions. Runs in parallel with Download Segment WAV (both read\n// the same Read Localizations Fresh output).\n//\n// Cue timings: en_start_sec → en_end_sec. After the borrow-compensation fix in\n// Build Full Audio Per Lang, each segment in the full WAV starts exactly at\n// en_start_sec — so EN-aligned cues match the dubbed audio for every language.\n// Cue text: text_translated (final version after Verify + Adapt + W3 shorten).\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean);\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Read Localizations Fresh must run first');\n\nfunction fmtTime(sec) {\n  // VTT timestamp: HH:MM:SS.mmm\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = sec - h * 3600 - m * 60;\n  return `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}:${s.toFixed(3).padStart(6, '0')}`;\n}\n\nconst results = [];\nfor (const lang of activeLangs) {\n  const segs = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n  if (!segs.length) continue;\n\n  const lines = ['WEBVTT', ''];\n  let cueIdx = 0;\n  for (const e of segs) {\n    const s = e.json;\n    const start = parseFloat(s.en_start_sec) || 0;\n    const dur   = parseFloat(s.en_duration_sec) || 0;\n    const end   = start + dur;\n    const text  = (s.text_translated || '').toString().trim().replace(/\\r?\\n/g, ' ');\n    if (!text) continue;\n    cueIdx++;\n    lines.push(String(cueIdx));\n    lines.push(`${fmtTime(start)} --> ${fmtTime(end)}`);\n    lines.push(text);\n    lines.push('');\n  }\n  if (cueIdx === 0) continue;\n  const vtt = lines.join('\\n');\n\n  const lessonId = String(segs[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.vtt`;\n  results.push({\n    json: {\n      lang,\n      lesson_id: lessonId,\n      file_name: fileName,\n      total_cues: cueIdx,\n      vtt_bytes:  Buffer.byteLength(vtt, 'utf8'),\n    },\n    binary: {\n      data: {\n        data: Buffer.from(vtt, 'utf8').toString('base64'),\n        mimeType: 'text/vtt',\n        fileName,\n      },\n    },\n  });\n}\n\nif (!results.length) throw new Error('No localizations for VTT' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;\n"
      },
      "id": "vtt00001-build-4abc-9def-perlangbuild",
      "name": "Build VTT Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37952,
        13936
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_vtt_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "vtt00002-save-4abc-9def-tovttdrivefld",
      "name": "Save VTT to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        38160,
        13936
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// W3 Phase 2: Batched late-stage expansion through Verify + Editor with retry pass.\n// Reads all localizations rows from Read Localizations Fresh, identifies cells with\n// real_duration < en_duration × THRESHOLD (and needs_attention=false), runs a 2-pass\n// pipeline:\n//   Attempt 1: Expand (Sonnet, w3_expand_batch_system) → Verify (Sonnet QA)\n//              → Editor (Gemini Flash) → Re-TTS\n//   Attempt 2 (only for cells where attempt 1 was no_change / overshoot / still_short):\n//              Expand-retry-harder OR Expand-retry-shorter (per category)\n//              → Editor (Verify skipped on retry) → Re-TTS\n// For each candidate (accepted OR rejected) emits one item with phase2_outcome diagnostic.\n// Accepted items carry binary (new WAV) → IF node downstream routes them to Drive Update.\n// Rejected items have no binary → IF node routes them directly to Update Localizations\n// (writes phase2_outcome and expansion_attempts only; Phase 1 audio stays in Drive).\n// needs_attention=true is set for accepted cells where newRealDur < en_dur × 0.70.\n\nconst SAMPLE_RATE = 22050;\nconst BPS = 2;\nconst EXPAND_BATCH_SIZE = 8;\nconst CHUNK = 6;                       // Tier 2 Anthropic — higher parallelism than W2's CHUNK=3\nconst ELEVENLABS_CHUNK = 5;            // parallel TTS calls per slice\nconst STILL_SHORT_THRESHOLD = 0.85;    // accepted but newRealDur < en_dur × this → retry harder\nconst NEEDS_ATTENTION_THRESHOLD = 0.70;// accepted but newRealDur < en_dur × this → flag for human\nconst STRUCTURALLY_IMPOSSIBLE_LEAD_RATIO = 0.5; // skip cells where lead_silence ≥ en_dur × this — TTS budget too small to ever expand within slot (Phase 1 borrow / first-segment offset / huge inter-segment gap)\nconst ANTHROPIC_URL = 'https://api.anthropic.com/v1/messages';\nconst GEMINI_URL = 'https://generativelanguage.googleapis.com/v1beta/openai/chat/completions';\nconst ELEVENLABS_URL = (vid) => `https://api.elevenlabs.io/v1/text-to-speech/${vid}/stream?output_format=pcm_22050`;\n\n// --- read config + prompts + voices ---\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n\nconst promptMap = {};\n$('Read Prompts').all().forEach(i => { if (i.json.key) promptMap[i.json.key] = i.json.value; });\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst THRESHOLD = parseFloat(configMap.expansion_threshold) || 0.85;\nconst apiKey = configMap.anthropic_api_key || '';\nconst geminiKey = configMap.gemini_api_key || '';\nconst elevenKey = configMap.elevenlabs_api_key || '';\nif (!apiKey || !geminiKey || !elevenKey) {\n  throw new Error('Phase 2: missing API key in config (anthropic_api_key/gemini_api_key/elevenlabs_api_key)');\n}\n\nfunction loadPrompt(key, vars = {}, optional = false) {\n  const raw = promptMap[key];\n  if (!raw) {\n    if (optional) return null;\n    throw new Error(`Missing prompt \"${key}\" in prompts sheet — add a row with this key`);\n  }\n  const result = Object.entries(vars).reduce(\n    (s, [k, v]) => s.replace(new RegExp(`\\\\{\\\\{\\\\s*${k}\\\\s*\\\\}\\\\}`, 'g'), String(v ?? '')),\n    raw\n  );\n  const leaks = result.match(/\\{\\{\\s*[a-z][a-z0-9_]*\\s*\\}\\}/g);\n  if (leaks) throw new Error(`Unsubstituted placeholders in prompt \"${key}\": ${leaks.join(', ')}`);\n  return result;\n}\n\nconst TOV = loadPrompt('tone_of_voice');\nconst EXPAND_BATCH_SYSTEM = loadPrompt('w3_expand_batch_system', { tov: TOV });\nconst QA_SYSTEM = loadPrompt('qa_verify_system');\nconst EDITOR_SYSTEM = loadPrompt('editor_system');\n// Retry prompts are optional — if missing, Phase 2 falls back to single-pass behavior\nconst EXPAND_RETRY_HARDER = loadPrompt('w3_expand_batch_retry_harder', { tov: TOV }, true);\nconst EXPAND_RETRY_SHORTER = loadPrompt('w3_expand_batch_retry_shorter', { tov: TOV }, true);\nconst RETRY_ENABLED = !!(EXPAND_RETRY_HARDER && EXPAND_RETRY_SHORTER);\nif (!RETRY_ENABLED) {\n  console.log('Phase 2: retry prompts missing — running single-pass (no attempt 2)');\n}\n\nconst CPS_DEFAULTS = { de: 12, es: 15, fr: 15, pl: 14, pt: 16, it: 14, tr: 14 };\nconst LANG_CPS = {};\nfor (const l of ['de','es','fr','pl','pt','it','tr']) {\n  LANG_CPS[l] = parseFloat(configMap['cps_estimate_' + l]) || CPS_DEFAULTS[l];\n}\n\n// Slowdown-to-fill: after expansion, if accepted/kept audio still leaves silence in the\n// slot, slow the voice (down to voice.speed − MAX_SLOW_DOWN_DELTA) to stretch the audio\n// and reduce that silence. Secondary lever AFTER text expansion (text first, then stretch).\n// Only fires when remaining silence > SLOWDOWN_MIN_GAP_SEC (avoids uneven pacing on tiny gaps).\nconst MAX_SLOW_DOWN_DELTA = parseFloat(configMap.max_slow_down_delta) || 0.15;\nconst SLOWDOWN_MIN_GAP_SEC = parseFloat(configMap.slowdown_min_gap_sec) || 0.5;\n// Speed-up to fit (mirrors Phase 1 shorten path): when expanded text slightly overshoots\n// speechBudget at voice.speed, try faster speeds before giving up. Same relative cap as\n// Phase 1 — see DECISIONS 2026-05-27 DYNAMIC_SPEED_AND_SLOWDOWN_FILL. Allows clause-\n// preserving expansions whose char count is right but TTS at default speed lands ~5-10%\n// over the slot (e.g. seg_004_de restoration that needs ~3.5s in a 3.4s speechBudget).\nconst MAX_SPEED_UP_DELTA = parseFloat(configMap.max_speed_up_delta) || 0.20;\n\n// Formality enforcement (mirrors the W2 Formality Lint). Phase 2 expand can re-introduce\n// formal address that the W2 lint — which ran before W3 — never sees. Same deterministic\n// detector + targeted fix, applied to accepted text BEFORE re-TTS so the audio is informal.\nconst FR_FORMAL_IMPERATIVES = ['Faites','Prenez','Respirez','Inspirez','Expirez','Soufflez','Fermez','Ouvrez','Laissez','Imaginez','Commencez','Asseyez','Allongez','Gardez','Sentez','Restez','Continuez','Permettez','Posez','Ramenez','Observez','Écoutez','Répétez','Détendez','Relâchez','Installez','Portez','Dirigez','Visualisez','Concentrez','Relevez','Baissez','Tournez','Placez','Étirez','Bougez','Notez','Accueillez','Abandonnez','Lâchez'];\nfunction mkFormalRe(words, ci) { return new RegExp('(?<!\\\\p{L})(?:' + words.join('|') + ')(?!\\\\p{L})', ci ? 'iu' : 'u'); }\nconst FORMAL_PATTERNS = {\n  fr: [mkFormalRe(['vous','votre','vos', ...FR_FORMAL_IMPERATIVES], true)],\n  de: [mkFormalRe(['Sie','Ihnen','Ihre','Ihrem','Ihren','Ihrer','Ihres'], false)],\n  es: [mkFormalRe(['usted','ustedes'], true)],\n  it: [mkFormalRe(['Lei','Suo','Suoi','Sua','Voi'], false)],\n  pl: [mkFormalRe(['Pan','Pani','Panowie','Panie','Pana','Panu','Panem','Państwo','Państwa'], false)],\n  pt: [mkFormalRe(['você','vocês'], true)],\n  tr: [mkFormalRe(['siz','sizi','sizin','size','sizden','sizinle'], true)],\n};\nfunction isFormal(lang, text) {\n  const pats = FORMAL_PATTERNS[lang];\n  return !!(text && pats && pats.some(re => re.test(text)));\n}\nconst FORMALITY_FIX_SYSTEM = loadPrompt('formality_fix_system', {}, true) ||\n  `You convert formal-address meditation/wellness translations to INFORMAL SINGULAR.\\nINPUT: JSON segment_id -> { en, <lang>: text } (only langs needing a fix per segment).\\nRewrite each cell using informal singular address for THAT language, changing ONLY address/formality — pronouns, verb conjugation, possessives. Keep meaning, vocabulary, register, length and any \"...\" or \"—\" markers IDENTICAL. Each cell stays in its own language.\\nTargets: DE du/dich/dein; ES Castilian tú/te/tu; FR tu/te/ton/ta + TU imperatives (Prends/Inspire/Laisse/Fais/Respire, never Prenez/Faites); IT tu/ti/tuo; PL ty-forms; PT European tu/te/teu; TR sen/seni/senin. If a cell is ALREADY informal, return it UNCHANGED.\\nOUTPUT ONLY JSON segment_id -> { <lang>: corrected_text }, same keys as input. No preamble/markdown/fences. Start with { end with }.`;\n\n// Cross-language false-friend detection (mirrors Formality Lint pattern). Phase 2 batch\n// expansion processes multiple langs side-by-side and Opus occasionally leaks vocabulary\n// or spelling between neighbor Romance langs (e.g. PT \"essencial\"/\"primeiro\" appearing in\n// ES text). Real observed example (sleep1_full seg_019_es):\n//   \"...sino porque es essencial. Recuerda lo primeiro que te dicen...\"\n// Both Verify (CLASS 1) and Editor (CLASS A) are prompt-based and occasionally miss such\n// cells, especially when only one cell in a batch is contaminated. Deterministic regex per\n// target lang catches every known marker with 100% recall on the listed patterns.\n//\n// Patterns are HIGH PRECISION — chosen to never match valid target-language text. A flagged\n// cell may be a true positive or a benign edge case; the targeted LLM fix returns text\n// unchanged when already correct, so over-flagging is harmless.\nconst FALSE_FRIEND_PATTERNS = {\n  es: [\n    /[ãõ]/u,                    // PT diacritics (Spanish never uses these)\n    /\\bessenc/iu,               // PT \"essencial/essência\" — ES uses \"esenc\"\n    /\\bprimeir[oa]\\b/iu,        // PT \"primeiro/primeira\" — ES uses \"primero/primera\"\n    /\\bnecessári[oa]\\b/iu,      // PT \"necessário/a\" — ES uses \"necesario/a\" (single 's')\n    /\\bmissão\\b/iu,             // PT \"missão\" — ES uses \"misión\"\n    /\\banche\\b/iu,              // IT \"anche\" — ES uses \"también\"\n    /\\bmolto\\b/iu,              // IT \"molto\" — ES uses \"mucho\"\n  ],\n  pt: [\n    /[ñ]/u,                     // ES letter (Portuguese never uses ñ)\n    /\\besencial\\b/iu,           // ES \"esencial\" — PT uses \"essencial\"\n    /\\bprimer[oa]\\b/iu,         // ES \"primero/primera\" — PT uses \"primeiro/a\"\n    /\\bnecesari[oa]\\b/iu,       // ES \"necesario/a\" — PT uses \"necessário/a\"\n  ],\n  it: [\n    /[ãõçñ]/u,                  // PT/ES/FR diacritics (Italian never uses these)\n    /\\bessenc/iu,               // ES/PT \"essencial/essência\" — IT uses \"essenziale\" (no \"essenc-\" words in IT)\n    /\\bprimer[oa]\\b/iu,         // ES word\n    /\\bmuy\\b/iu,                // ES word\n    /\\bahora\\b/iu,              // ES word — IT uses \"ora\"\n  ],\n  fr: [\n    /[ñãõ]/u,                   // ES/PT diacritics (French never uses these)\n    /\\bnecessary\\b/iu,          // EN word\n    /\\besenci/iu,               // ES spelling — FR uses \"essentiel\"\n  ],\n  // DE, PL, TR — distance from Romance large enough that cross-leak is rare. Add here if observed.\n};\nfunction hasFalseFriend(lang, text) {\n  const pats = FALSE_FRIEND_PATTERNS[lang];\n  return !!(text && pats && pats.some(re => re.test(text)));\n}\nconst FALSE_FRIEND_FIX_SYSTEM = loadPrompt('false_friend_fix_system', {}, true) ||\n  `You fix cross-language contamination in meditation/wellness translations.\\nINPUT: JSON segment_id -> { en, <lang>: text } (only langs needing a fix per segment). The text contains a word or spelling from a NEIGHBORING language (e.g. Portuguese spelling in Spanish text, Spanish word in Italian text).\\nRewrite each cell so it uses ONLY the target language's vocabulary and spelling, changing as little as possible. Keep meaning, register, length and any \"...\" or \"—\" pause markers IDENTICAL. Each cell stays in its own language.\\n\\nCommon cross-Romance contaminations to fix:\\n- ES (Spanish): never use ã/õ; replace PT spellings \"essencial→esencial\", \"primeiro/a→primero/a\", \"necessário/a→necesario/a\", \"missão→misión\"; replace IT words \"anche→también\", \"molto→mucho\".\\n- PT (Portuguese): never use ñ; replace ES spellings \"esencial→essencial\", \"primero/a→primeiro/a\", \"necesario/a→necessário/a\".\\n- IT (Italian): never use ã/õ/ç/ñ; replace ES/PT words \"essencial→essenziale\", \"primero/a→primo/a\", \"muy→molto\", \"ahora→ora\".\\n- FR (French): never use ñ/ã/õ; replace EN \"necessary→nécessaire\", ES \"esencial→essentiel\".\\n\\nIf a cell is ALREADY clean for the target language, return it UNCHANGED.\\nOUTPUT ONLY JSON segment_id -> { <lang>: corrected_text }, same keys as input. No preamble, no markdown, no fences. Start with { end with }.`;\n\n// Passthrough emit: every input row that is NOT an expansion candidate is still\n// emitted unchanged (has_binary=false) so the downstream full-audio + VTT chain —\n// which now runs AFTER this node completes — receives the COMPLETE 329-row set with\n// refreshed audio_drive_file_id. Without this, Download Segment WAV would only see\n// candidate rows and Build Full Audio would drop ~300 segments. Passthrough rows\n// route through Has Binary?[false] → Update Localizations (idempotent rewrite of\n// values they already hold; phase2_outcome stays empty = not_candidate).\nfunction makePassthrough(j) {\n  const enDur = parseFloat(j.en_duration_sec) || 0;\n  return {\n    json: {\n      row_key:                       j.row_key,\n      segment_id:                    j.segment_id,\n      lang:                          j.lang,\n      lesson_id:                     j.lesson_id || (j.segment_id || '').split('_seg_')[0],\n      text_translated:               j.text_translated,\n      en_start_sec:                  parseFloat(j.en_start_sec) || 0,\n      en_duration_sec:               enDur,\n      real_duration_sec:             parseFloat(j.real_duration_sec) || 0,\n      lead_silence_sec:              parseFloat(j.lead_silence_sec) || 0,\n      slot_start_sec:                parseFloat(j.slot_start_sec) || 0,\n      slot_end_sec:                  parseFloat(j.slot_end_sec) || 0,\n      tts_budget_sec:                parseFloat(j.tts_budget_sec) || enDur,\n      tail_silence_sec:              parseFloat(j.tail_silence_sec) || 0,\n      final_duration_sec:            parseFloat(j.final_duration_sec) || enDur,\n      borrowed_sec:                  parseFloat(j.borrowed_sec) || 0,\n      expansion_attempts:            parseFloat(j.expansion_attempts) || 0,\n      shorten_retries_in_synthesize: parseFloat(j.shorten_retries_in_synthesize) || 0,\n      final_speed:                   parseFloat(j.final_speed) || 1.0,\n      needs_attention:               (j.needs_attention === true || j.needs_attention === 'TRUE' || j.needs_attention === 'true'),\n      audio_drive_file_id:           j.audio_drive_file_id,\n      phase2_outcome:                '',\n      needs_retts:                   'FALSE',\n      file_name:                     `${j.segment_id}_${j.lang}.wav`,\n      has_binary:                    false,\n    },\n  };\n}\n\n// --- collect candidates ---\nconst allItems = $input.all();\nconst candidates = {};  // { segment_id: { en, langs: { [lang]: { ... } } } }\nlet structurallySkipped = 0;\nfor (const it of allItems) {\n  const j = it.json;\n  if (j.needs_attention === true || j.needs_attention === 'TRUE' || j.needs_attention === 'true') continue;\n  const enDur = parseFloat(j.en_duration_sec) || 0;\n  const real = parseFloat(j.real_duration_sec) || 0;\n  if (enDur <= 0 || real <= 0) continue;\n  if (real >= enDur * THRESHOLD) continue;\n\n  const lang = j.lang;\n  const voice = voiceMap[lang];\n  if (!voice || !voice.voice_id) continue;\n\n  // Structural impossibility guard: if Phase 1 lead already consumes ≥50% of slot\n  // (first segment with large EN start offset, accumulated borrow into next slot,\n  // or huge inter-segment gap), TTS budget = en_dur - lead is too small to expand.\n  // Phase 2 expansion would always overshoot or hit negative_tail. Skip entirely\n  // to save LLM cost and avoid noise in diagnostics.\n  const leadSilence = parseFloat(j.lead_silence_sec) || 0;\n  if (leadSilence >= enDur * STRUCTURALLY_IMPOSSIBLE_LEAD_RATIO) {\n    structurallySkipped++;\n    continue;\n  }\n\n  if (!candidates[j.segment_id]) {\n    candidates[j.segment_id] = { en: j.en_text || '', langs: {} };\n  }\n  candidates[j.segment_id].langs[lang] = {\n    current: j.text_translated || '',\n    real_duration: real,\n    en_duration: enDur,\n    lead_silence: leadSilence,\n    audio_drive_file_id: j.audio_drive_file_id,\n    row_key: j.row_key,\n    segment_id: j.segment_id,\n    lesson_id: j.lesson_id || (j.segment_id || '').split('_seg_')[0],\n    lang,\n    voice_id: voice.voice_id,\n    voice_speed: parseFloat(voice.speed) || 1.0,\n    voice_model: voice.model || 'eleven_multilingual_v2',\n    voice_stability: parseFloat(voice.stability) || 0.5,\n    voice_similarity: parseFloat(voice.similarity_boost) || 0.75,\n    voice_style: parseFloat(voice.style) || 0,\n    en_start_sec: parseFloat(j.en_start_sec) || 0,\n    slot_start_sec: parseFloat(j.slot_start_sec) || 0,\n    slot_end_sec: parseFloat(j.slot_end_sec) || 0,\n    tts_budget_sec: parseFloat(j.tts_budget_sec) || enDur,\n    // Phase 1 values preserved verbatim for skipped emit (avoid recomputing tail/final)\n    phase1_tail_silence: parseFloat(j.tail_silence_sec) || 0,\n    phase1_final_duration: parseFloat(j.final_duration_sec) || enDur,\n    phase1_borrowed: parseFloat(j.borrowed_sec) || 0,\n    phase1_final_speed: parseFloat(j.final_speed) || 1.0,\n    phase1_shorten_retries: parseFloat(j.shorten_retries_in_synthesize) || 0,\n  };\n}\nif (structurallySkipped > 0) console.log(`Phase 2: skipped ${structurallySkipped} structurally-impossible cells (lead ≥ en_dur × ${STRUCTURALLY_IMPOSSIBLE_LEAD_RATIO})`);\n\nconst totalSegments = Object.keys(candidates).length;\nlet totalCells = 0;\nfor (const data of Object.values(candidates)) totalCells += Object.keys(data.langs).length;\n\nif (totalSegments === 0) {\n  console.log('Phase 2: no expansion candidates — emitting all rows as passthrough so the full-audio/VTT chain still runs');\n  return allItems.map(it => makePassthrough(it.json));\n}\nconsole.log(`Phase 2: ${totalSegments} segments / ${totalCells} cells to expand`);\n\n// --- HTTP helpers ---\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function callAnthropic(body, retries = 3) {\n  for (let attempt = 0; attempt < retries; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: ANTHROPIC_URL,\n        headers: { 'x-api-key': apiKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.content?.[0]?.text?.trim() || '';\n    } catch (e) {\n      if (attempt === retries - 1) { console.error('Phase 2 Anthropic failed:', e.message); return ''; }\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nasync function callGemini(body, retries = 3) {\n  for (let attempt = 0; attempt < retries; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: GEMINI_URL,\n        headers: { Authorization: `Bearer ${geminiKey}`, 'content-type': 'application/json' },\n        body, json: true,\n      });\n      return resp.choices?.[0]?.message?.content?.trim() || '';\n    } catch (e) {\n      if (attempt === retries - 1) { console.error('Phase 2 Gemini failed:', e.message); return ''; }\n      await sleep(2000 * Math.pow(2, attempt));\n    }\n  }\n  return '';\n}\n\nfunction parseLLMJson(raw) {\n  try {\n    const cleaned = (raw || '').replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) return JSON.parse(match[0]);\n  } catch (e) {\n    console.error('Phase 2 parseLLMJson error:', e.message);\n  }\n  return {};\n}\n\n// Coerce an LLM-returned cell value to a trimmed string. LLMs (especially the\n// retry-expand prompts) sometimes wrap the text in an object — observed shapes:\n// {expanded:\"...\"}, {text:\"...\"}, etc. — or return a number/null. asStr unwraps\n// the common single-text-key object shapes, stringifies primitives, else ''.\n// If unwrapping a known key fails but the object has exactly one string value,\n// use that (defensive against unanticipated wrapper keys).\nfunction asStr(v) {\n  if (typeof v === 'string') return v.trim();\n  if (v == null) return '';\n  if (typeof v === 'number' || typeof v === 'boolean') return String(v).trim();\n  if (typeof v === 'object' && !Array.isArray(v)) {\n    const inner = v.expanded ?? v.text ?? v.value ?? v.translation ?? v.output\n      ?? v.expansion ?? v.result ?? v.corrected ?? v.edited ?? v.fixed;\n    if (typeof inner === 'string') return inner.trim();\n    // Fallback: object with a single string-valued property → use it.\n    const strVals = Object.values(v).filter(x => typeof x === 'string' && x.trim());\n    if (strVals.length === 1) return strVals[0].trim();\n  }\n  return '';\n}\n\n// LLM refusal / meta-output detection. Opus 4.7 (and other models) occasionally\n// \"step out of character\" — refuse to translate, ask clarifying questions, or\n// emit English meta-commentary about the task — instead of producing the requested\n// target-language text. If such output is allowed to flow into re-TTS, ElevenLabs\n// reads it aloud as voiceover (English refusal text spoken in the target voice).\n// Real observed example (sleep1_full seg_020_fr, Opus 4.7):\n//   \"You're absolutely right to flag this. I cannot complete this task as written\n//    because the \"CURRENT TRANSLATION\" input doesn't correspond to the \"ORIGINAL\n//    EN TEXT\" at all.\"\n// This is shipped audio if not blocked here — the W2 + Verify + Editor chain does\n// not catch it because it's grammatically clean English on a semantic level.\n//\n// Detection: regex match on high-precision English refusal phrases. 1+ match in\n// a non-EN cell → reject the LLM output and fall back to Phase 1 audio (which has\n// the correct W2 translation, not an Opus refusal).\nconst REFUSAL_PATTERNS = [\n  /\\bI (?:cannot|can'?t|am unable to|will not|won'?t|need to|have to|should not|shouldn'?t)\\b/i,\n  /\\bYou(?:'re| are)\\s+(?:absolutely\\s+)?right\\b/i,\n  /^Note:\\s/m,\n  /\\b(?:input|task|translation|output|CURRENT|ORIGINAL EN|prompt)\\b[^.\\n]*\\b(?:doesn'?t|does not|cannot|can'?t|won'?t)\\b/i,\n  /\\bI(?:'ll| will)\\s+(?:need|have)\\s+to\\b/i,\n  /\\bSorry,?\\s/i,\n  /\\bAs an AI\\b/i,\n  /\\bI apologize\\b/i,\n  /\\bThis (?:translation|text|input|task) (?:doesn'?t|does not|is not|isn'?t)\\b/i,\n];\nfunction looksLikeRefusal(text) {\n  if (!text || typeof text !== 'string' || text.length < 20) return false;\n  for (const pat of REFUSAL_PATTERNS) {\n    if (pat.test(text)) return true;\n  }\n  return false;\n}\n\n// Diagnostics surfaced on the first emitted item's json.phase2_diag (visible in the\n// node Output panel — n8n Code console.log only reaches server stdout). Captures raw\n// retry-expand samples so we can see exactly what the retry LLM returns without server logs.\nconst phase2Diag = { retryRawSamples: [], retryCoverage: [], retryNoTextTotal: 0, refusalsAttempt1: [], refusalsRetry: [] };\n\n// --- batch helpers ---\nconst segmentEntries = Object.entries(candidates);\nfunction chunkSegments(entries, size) {\n  const batches = [];\n  for (let i = 0; i < entries.length; i += size) batches.push(entries.slice(i, i + size));\n  return batches;\n}\n\nasync function runOneExpandBatch(batch, systemPrompt, charsMultiplier) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    userMap[sid] = { en: data.en };\n    for (const [lang, info] of Object.entries(data.langs)) {\n      const targetChars = Math.round(info.en_duration * (LANG_CPS[lang] || 15) * charsMultiplier);\n      userMap[sid][lang] = { current: info.current, target_chars: targetChars };\n    }\n  }\n  const body = {\n    model: 'claude-opus-4-7',\n    max_tokens: 8000,\n    system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n  };\n  const raw = await callAnthropic.call(this, body);\n  return parseLLMJson(raw);\n}\n\nasync function runOneVerifyBatch(batch, srcMap) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    if (!srcMap[sid]) continue;\n    userMap[sid] = { en: data.en };\n    for (const lang of Object.keys(data.langs)) {\n      const t = asStr(srcMap[sid][lang]);\n      if (t) userMap[sid][lang] = t;\n    }\n  }\n  if (Object.keys(userMap).length === 0) return {};\n  const body = {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 8000,\n    system: [{ type: 'text', text: QA_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n  };\n  const raw = await callAnthropic.call(this, body);\n  return parseLLMJson(raw);\n}\n\nasync function runOneEditorBatch(batch, srcMap) {\n  const userMap = {};\n  for (const [sid, data] of batch) {\n    if (!srcMap[sid]) continue;\n    userMap[sid] = { en: data.en };\n    for (const lang of Object.keys(data.langs)) {\n      const text = asStr(srcMap[sid][lang]);\n      if (text) userMap[sid][lang] = text;\n    }\n  }\n  if (Object.keys(userMap).length === 0) return {};\n  const body = {\n    model: 'gemini-3.5-flash',\n    messages: [\n      { role: 'system', content: EDITOR_SYSTEM },\n      { role: 'user', content: JSON.stringify(userMap, null, 2) },\n    ],\n    response_format: { type: 'json_object' },\n  };\n  const raw = await callGemini.call(this, body);\n  return parseLLMJson(raw);\n}\n\nasync function runAllBatchesParallel(batches, runner) {\n  const out = {};\n  for (let i = 0; i < batches.length; i += CHUNK) {\n    const slice = batches.slice(i, i + CHUNK);\n    const partial = await Promise.all(slice.map(b => runner.call(this, b)));\n    for (const p of partial) Object.assign(out, p);\n  }\n  return out;\n}\n\n// --- RE-TTS + WAV rebuild ---\nfunction buildWav(pcm) {\n  const n = pcm.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0); h.writeUInt32LE(36 + n, 4); h.write('WAVE', 8); h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16); h.writeUInt16LE(1, 20); h.writeUInt16LE(1, 22); h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28); h.writeUInt16LE(BPS, 32); h.writeUInt16LE(16, 34);\n  h.write('data', 36); h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcm]);\n}\n\nasync function reTtsOne(task) {\n  const { sid, lang, info } = task;\n  const newText = asStr(task.newText);\n  if (!newText) return { sid, lang, outcome: 'no_change' };\n\n  // Target the EXACT file duration Phase 1 produced (= the segment's slot). Keeps the\n  // concatenated full WAV EN-aligned (every segment fills its slot; all langs sum equal).\n  const lead = info.lead_silence;\n  const targetFileDur = info.phase1_final_duration > 0\n    ? info.phase1_final_duration\n    : (lead + info.en_duration);\n  const speechBudget = targetFileDur - lead;\n  const textChanged = newText !== asStr(info.current);\n\n  // Unchanged text: only re-synthesize when slowdown could meaningfully cut silence\n  // (Phase 1 real_duration tells us the gap without a wasted TTS call). Else keep Phase 1.\n  if (!textChanged) {\n    const p1Gap = speechBudget - (info.real_duration || 0);\n    if (p1Gap <= SLOWDOWN_MIN_GAP_SEC) return { sid, lang, outcome: 'no_change' };\n  }\n\n  const ttsAt = async (speed) => {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: ELEVENLABS_URL(info.voice_id),\n      headers: { 'xi-api-key': elevenKey, 'content-type': 'application/json', accept: 'audio/pcm' },\n      body: {\n        text: newText,\n        model_id: info.voice_model,\n        voice_settings: {\n          stability: info.voice_stability,\n          similarity_boost: info.voice_similarity,\n          style: info.voice_style,\n          speed,\n        },\n      },\n      encoding: 'arraybuffer',\n      returnFullResponse: false,\n    });\n    return Buffer.from(resp);\n  };\n\n  try {\n    let pcm = await ttsAt(info.voice_speed);\n    if (!pcm || pcm.length < 4410) return { sid, lang, outcome: 'tts_empty', pcmLen: pcm?.length || 0 };\n    let real = pcm.length / (SAMPLE_RATE * BPS);\n    let usedSpeed = info.voice_speed;\n\n    // Speed-up retry: speech at voice.speed slightly overshoots speechBudget. Try faster\n    // speeds (relative to voice.speed) before giving up — mirrors Phase 1 shorten path's\n    // [voice.speed + Δ·⅔, voice.speed + Δ] schedule. Lets clause-preserving expansions fit\n    // when restored text is right by chars but lands ~5-10% over slot at default speed.\n    if (real > speechBudget) {\n      const speedUpSteps = [\n        info.voice_speed + MAX_SPEED_UP_DELTA * (2 / 3),\n        info.voice_speed + MAX_SPEED_UP_DELTA,\n      ];\n      for (const speedTry of speedUpSteps) {\n        const fastPcm = await ttsAt(speedTry);\n        if (!fastPcm || fastPcm.length < 4410) continue;\n        const fastReal = fastPcm.length / (SAMPLE_RATE * BPS);\n        if (fastReal <= speechBudget) {\n          pcm = fastPcm;\n          real = fastReal;\n          usedSpeed = parseFloat(speedTry.toFixed(3));\n          break;\n        }\n      }\n      if (real > speechBudget) {\n        return { sid, lang, outcome: 'overshoot', newRealDur: real, speechBudget, targetFileDur, newText };\n      }\n    }\n\n    // Slowdown-to-fill (secondary lever, AFTER text expansion): if silence remains beyond\n    // the gap threshold, slow the voice to stretch the audio toward filling the slot,\n    // floored at voice.speed − MAX_SLOW_DOWN_DELTA. audio_len ∝ 1/speed, so the speed that\n    // stretches `real` to `speechBudget` is voice.speed × real/speechBudget; clamp to floor.\n    if (speechBudget - real > SLOWDOWN_MIN_GAP_SEC) {\n      const floor = info.voice_speed - MAX_SLOW_DOWN_DELTA;\n      const wanted = info.voice_speed * (real / speechBudget);\n      const slowSpeed = parseFloat(Math.max(floor, wanted).toFixed(3));\n      if (slowSpeed < info.voice_speed - 1e-6 && slowSpeed > 0) {\n        const slowPcm = await ttsAt(slowSpeed);\n        if (slowPcm && slowPcm.length >= 4410) {\n          const slowReal = slowPcm.length / (SAMPLE_RATE * BPS);\n          if (slowReal <= speechBudget) { pcm = slowPcm; real = slowReal; usedSpeed = slowSpeed; }\n        }\n      }\n    }\n\n    const tail = targetFileDur - lead - real;\n    if (tail < 0) {\n      return { sid, lang, outcome: 'negative_tail', lead, newRealDur: real, targetFileDur };\n    }\n    const leadBytes = Math.round(lead * SAMPLE_RATE) * BPS;\n    const tailBytes = Math.round(tail * SAMPLE_RATE) * BPS;\n    const fullPcm = Buffer.concat([\n      leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0),\n      pcm,\n      tailBytes > 0 ? Buffer.alloc(tailBytes, 0) : Buffer.alloc(0),\n    ]);\n    const newWav = buildWav(fullPcm);\n    const finalDur = lead + real + tail;\n    return {\n      sid, lang,\n      outcome: 'accepted',\n      newText,\n      newRealDur: parseFloat(real.toFixed(3)),\n      newTailSilence: parseFloat(tail.toFixed(3)),\n      newLeadSilence: parseFloat(lead.toFixed(3)),\n      newFinalDur: parseFloat(finalDur.toFixed(3)),\n      finalSpeed: usedSpeed,\n      slowed: usedSpeed !== info.voice_speed,\n      wavBase64: newWav.toString('base64'),\n      info,\n    };\n  } catch (e) {\n    return { sid, lang, outcome: 'error', error: e.message };\n  }\n}\n\n// Deterministic cross-language false-friend enforcement, in place, BEFORE re-TTS (and\n// before fixFormalityInTasks — so the formality detector sees the post-fix text). Mirrors\n// fixFormalityInTasks structure: collect flagged cells, single batched LLM call, apply.\nasync function fixFalseFriendsInTasks(tasks) {\n  const flagged = {};\n  const hits = [];\n  for (const t of tasks) {\n    if (hasFalseFriend(t.lang, t.newText)) {\n      if (!flagged[t.sid]) flagged[t.sid] = { en: candidates[t.sid]?.en || '' };\n      flagged[t.sid][t.lang] = t.newText;\n      hits.push(t);\n    }\n  }\n  if (hits.length === 0) return;\n  const byLang = {};\n  for (const h of hits) byLang[h.lang] = (byLang[h.lang] || 0) + 1;\n  console.log(`Phase 2 false-friend: ${hits.length} flagged cells, fixing before re-TTS`, JSON.stringify(byLang));\n  const body = {\n    model: 'claude-sonnet-4-6', max_tokens: 8000,\n    system: [{ type: 'text', text: FALSE_FRIEND_FIX_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(flagged, null, 2) }],\n  };\n  const fixed = parseLLMJson(await callAnthropic.call(this, body));\n  let applied = 0;\n  let stillContaminated = 0;\n  for (const t of hits) {\n    const nf = asStr(fixed[t.sid]?.[t.lang]);\n    if (nf && nf !== t.newText) {\n      t.newText = nf;\n      applied++;\n      if (hasFalseFriend(t.lang, nf)) stillContaminated++;\n    }\n  }\n  console.log(`Phase 2 false-friend: applied ${applied} fixes${stillContaminated ? `; ${stillContaminated} cells still match a marker after fix` : ''}`);\n}\n\n// Deterministic formality enforcement on accepted text, in place, BEFORE re-TTS.\n// Mutates task.newText for any cell whose text matches a formal-address marker.\nasync function fixFormalityInTasks(tasks) {\n  const flagged = {};\n  const hits = [];\n  for (const t of tasks) {\n    if (isFormal(t.lang, t.newText)) {\n      if (!flagged[t.sid]) flagged[t.sid] = { en: candidates[t.sid]?.en || '' };\n      flagged[t.sid][t.lang] = t.newText;\n      hits.push(t);\n    }\n  }\n  if (hits.length === 0) return;\n  const byLang = {};\n  for (const h of hits) byLang[h.lang] = (byLang[h.lang] || 0) + 1;\n  console.log(`Phase 2 formality: ${hits.length} flagged cells, fixing before re-TTS`, JSON.stringify(byLang));\n  const body = {\n    model: 'claude-sonnet-4-6', max_tokens: 8000,\n    system: [{ type: 'text', text: FORMALITY_FIX_SYSTEM, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: JSON.stringify(flagged, null, 2) }],\n  };\n  const fixed = parseLLMJson(await callAnthropic.call(this, body));\n  let applied = 0;\n  for (const t of hits) {\n    const nf = asStr(fixed[t.sid]?.[t.lang]);\n    if (nf && nf !== t.newText) { t.newText = nf; applied++; }\n  }\n  console.log(`Phase 2 formality: applied ${applied} informal rewrites`);\n}\n\nasync function runReTtsTasks(tasks) {\n  await fixFalseFriendsInTasks.call(this, tasks);\n  await fixFormalityInTasks.call(this, tasks);\n  const results = [];\n  for (let i = 0; i < tasks.length; i += ELEVENLABS_CHUNK) {\n    const slice = tasks.slice(i, i + ELEVENLABS_CHUNK);\n    const partial = await Promise.all(slice.map(t => reTtsOne.call(this, t)));\n    for (const r of partial) results.push(r);\n  }\n  return results;\n}\n\n// =====================================================================\n// PHASE 2 — ATTEMPT 1\n// =====================================================================\nconst expandBatches = chunkSegments(segmentEntries, EXPAND_BATCH_SIZE);\nconsole.log(`Phase 2 attempt 1: ${expandBatches.length} batches of up to ${EXPAND_BATCH_SIZE} segments`);\n\nconst expand1Map = await runAllBatchesParallel.call(this,\n  expandBatches,\n  function (b) { return runOneExpandBatch.call(this, b, EXPAND_BATCH_SYSTEM, 0.95); }\n);\nconsole.log(`Phase 2 expand attempt 1 complete — ${Object.keys(expand1Map).length} segments returned`);\n\nconst verify1Map = await runAllBatchesParallel.call(this,\n  expandBatches,\n  function (b) { return runOneVerifyBatch.call(this, b, expand1Map); }\n);\n\nconst postVerify1Map = {};\nfor (const [sid, data] of segmentEntries) {\n  const exp = expand1Map[sid];\n  if (!exp) continue;\n  postVerify1Map[sid] = {};\n  for (const lang of Object.keys(data.langs)) {\n    const expText = asStr(exp[lang]);\n    if (!expText) continue;\n    const verText = asStr(verify1Map[sid]?.[lang]);\n    postVerify1Map[sid][lang] = verText || expText;\n  }\n}\nconsole.log('Phase 2 verify attempt 1 complete');\n\nconst editor1Map = await runAllBatchesParallel.call(this,\n  expandBatches,\n  function (b) { return runOneEditorBatch.call(this, b, postVerify1Map); }\n);\n\nconst final1TextMap = {};\nfor (const [sid, data] of segmentEntries) {\n  if (!postVerify1Map[sid]) continue;\n  final1TextMap[sid] = {};\n  for (const lang of Object.keys(data.langs)) {\n    const pv = asStr(postVerify1Map[sid][lang]);\n    if (!pv) continue;\n    const ed = asStr(editor1Map[sid]?.[lang]);\n    final1TextMap[sid][lang] = ed || pv;\n  }\n}\nconsole.log('Phase 2 editor attempt 1 complete');\n\n// Build attempt 1 re-TTS tasks. Cells where LLM didn't return text get\n// a synthetic 'llm_dropped' result so we record the outcome explicitly\n// (otherwise they'd silently fall through to pickFinal's 'no_attempt' bucket\n// which makes diagnostics ambiguous — was the cell never tried, or did the\n// LLM just drop it from its JSON response).\n// Refusal detection: if the LLM emitted English meta/refusal text (Opus 4.7\n// occasionally does this), reject it as 'llm_refusal' instead of synthesizing.\n// pickFinal will fall back to attempt 2 (if accepted) else Phase 1 audio.\nconst reTts1Tasks = [];\nconst droppedResults1 = [];\nfor (const [sid, data] of segmentEntries) {\n  for (const [lang, info] of Object.entries(data.langs)) {\n    const newText = final1TextMap[sid]?.[lang];\n    if (!newText) {\n      droppedResults1.push({ sid, lang, outcome: 'llm_dropped' });\n    } else if (looksLikeRefusal(newText)) {\n      droppedResults1.push({ sid, lang, outcome: 'llm_refusal' });\n      if (phase2Diag.refusalsAttempt1.length < 5) {\n        phase2Diag.refusalsAttempt1.push({ sid, lang, sample: newText.slice(0, 200) });\n      }\n      console.log(`Phase 2 attempt 1: LLM refusal detected for ${sid}_${lang} — rejecting, will fall back to Phase 1`);\n    } else {\n      reTts1Tasks.push({ sid, lang, newText, info });\n    }\n  }\n}\n\nconst reTtsResults1 = await runReTtsTasks.call(this, reTts1Tasks);\nconst results1 = [...reTtsResults1, ...droppedResults1];\n\n// Build outcomes map keyed by row_key — track attempt 1 for ALL candidates\nconst outcomes = {};\nfor (const [sid, data] of segmentEntries) {\n  for (const [lang, info] of Object.entries(data.langs)) {\n    outcomes[info.row_key] = { info, attempt1: null, attempt2: null };\n  }\n}\nfor (const r of results1) {\n  const rk = `${r.sid}_${r.lang}`;\n  if (outcomes[rk]) outcomes[rk].attempt1 = r;\n}\n\n// Count attempt 1 outcomes\nconst outcomeCounts1 = {};\nfor (const rk of Object.keys(outcomes)) {\n  const a1 = outcomes[rk].attempt1;\n  const oc = a1 ? a1.outcome : 'no_attempt';\n  outcomeCounts1[oc] = (outcomeCounts1[oc] || 0) + 1;\n}\nconsole.log('Phase 2 attempt 1 outcomes:', JSON.stringify(outcomeCounts1));\n\n// =====================================================================\n// PHASE 2 — ATTEMPT 2 (retry pass)\n// =====================================================================\n// Classify retry candidates:\n//   harder: no_change OR (accepted but newRealDur < en_dur × STILL_SHORT_THRESHOLD)\n//   shorter: overshoot\n//   no-retry: negative_tail, tts_empty, error — too edge-case, leave as-is\n\nconst harderTasks = [];   // { sid, lang, info, prevText }\nconst shorterTasks = [];\n\nif (RETRY_ENABLED) {\n  for (const [rk, o] of Object.entries(outcomes)) {\n    const a1 = o.attempt1;\n    const info = o.info;\n    if (!a1) continue;\n    if (a1.outcome === 'no_change') {\n      harderTasks.push({ sid: info.segment_id, lang: info.lang, info, prevText: info.current });\n    } else if (a1.outcome === 'accepted' && a1.newRealDur < info.en_duration * STILL_SHORT_THRESHOLD) {\n      harderTasks.push({ sid: info.segment_id, lang: info.lang, info, prevText: a1.newText });\n    } else if (a1.outcome === 'overshoot') {\n      shorterTasks.push({ sid: info.segment_id, lang: info.lang, info, prevText: a1.newText });\n    }\n  }\n}\n\nconsole.log(`Phase 2 attempt 2 candidates: harder=${harderTasks.length}, shorter=${shorterTasks.length}`);\n\nasync function runRetryGroup(tasks, systemPrompt, charsMultiplier) {\n  if (tasks.length === 0) return [];\n  // Re-group by segment_id for batch input. We need en_text per segment;\n  // candidates[sid].en already has it.\n  const groupedBySid = {};\n  for (const t of tasks) {\n    if (!groupedBySid[t.sid]) groupedBySid[t.sid] = [];\n    groupedBySid[t.sid].push(t);\n  }\n  const entries = Object.entries(groupedBySid);\n  const retryBatches = [];\n  for (let i = 0; i < entries.length; i += EXPAND_BATCH_SIZE) {\n    retryBatches.push(entries.slice(i, i + EXPAND_BATCH_SIZE));\n  }\n  // Build batch in format expected by runOneExpandBatch (segmentEntries-shaped):\n  // each batch element = [sid, { en, langs: { [lang]: info with previous_attempt added } }]\n  const formattedBatches = retryBatches.map(batch =>\n    batch.map(([sid, taskList]) => {\n      const langsObj = {};\n      for (const t of taskList) {\n        langsObj[t.lang] = { ...t.info, previous_attempt: t.prevText };\n      }\n      return [sid, { en: candidates[sid].en, langs: langsObj }];\n    })\n  );\n\n  // Custom expand call that includes previous_attempt in user payload\n  async function runOneRetryExpand(batch) {\n    const userMap = {};\n    for (const [sid, data] of batch) {\n      userMap[sid] = { en: data.en };\n      for (const [lang, info] of Object.entries(data.langs)) {\n        const targetChars = Math.round(info.en_duration * (LANG_CPS[lang] || 15) * charsMultiplier);\n        userMap[sid][lang] = {\n          current: info.current,\n          previous_attempt: info.previous_attempt,\n          target_chars: targetChars,\n        };\n      }\n    }\n    const body = {\n      model: 'claude-opus-4-7',\n      max_tokens: 8000,\n      system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n      messages: [{ role: 'user', content: JSON.stringify(userMap, null, 2) }],\n    };\n    const raw = await callAnthropic.call(this, body);\n    if (phase2Diag.retryRawSamples.length < 3) {\n      phase2Diag.retryRawSamples.push({\n        sids: Object.keys(userMap),\n        rawLen: (raw || '').length,\n        rawHead: (raw || '').slice(0, 400),\n      });\n    }\n    return parseLLMJson(raw);\n  }\n\n  const expandRetryMap = await runAllBatchesParallel.call(this, formattedBatches, runOneRetryExpand);\n\n  // Diagnostic: how many segment_ids did the retry expand actually return? If the\n  // retry LLM returns malformed JSON or omits sids, expandRetryMap is missing keys\n  // and every retry lang under that sid falls through. Whole-segment drops are the\n  // signature of this.\n  const expectedSids = [...new Set(tasks.map(t => t.sid))];\n  const returnedSids = expectedSids.filter(s => expandRetryMap[s] && Object.keys(expandRetryMap[s]).length);\n  phase2Diag.retryCoverage.push({ returned: returnedSids.length, expected: expectedSids.length, missing: expectedSids.filter(s => !returnedSids.includes(s)) });\n  if (returnedSids.length < expectedSids.length) {\n    console.log(`Phase 2 retry expand coverage: ${returnedSids.length}/${expectedSids.length} segments returned (missing: ${expectedSids.filter(s => !returnedSids.includes(s)).join(', ')})`);\n  }\n\n  // Skip Verify, run Editor only\n  const editorRetryMap = await runAllBatchesParallel.call(this,\n    formattedBatches,\n    function (b) { return runOneEditorBatch.call(this, b, expandRetryMap); }\n  );\n\n  // Final text per task: editor → expand. If retry produced NO usable text for a cell,\n  // we do NOT emit a result for it — leaving outcomes[rk].attempt2 unset so pickFinal\n  // falls back to attempt 1. This is critical: a still_short cell had attempt1='accepted'\n  // (a real expansion), and a retry-drop must NOT clobber it down to Phase 1 audio.\n  // Dropped retries are logged, not surfaced as a worse outcome.\n  // Refusals on retry are also dropped without recording a2 — attempt 1 stands.\n  const reTtsRetryTasks = [];\n  let retryNoText = 0;\n  let retryRefusal = 0;\n  for (const t of tasks) {\n    const ed = asStr(editorRetryMap[t.sid]?.[t.lang]);\n    const ex = asStr(expandRetryMap[t.sid]?.[t.lang]);\n    const finalText = ed || ex || null;\n    if (!finalText) {\n      retryNoText++;  // skip → attempt 1 stands (no a2 recorded for this cell)\n    } else if (looksLikeRefusal(finalText)) {\n      retryRefusal++;  // skip → attempt 1 stands\n      if (phase2Diag.refusalsRetry.length < 5) {\n        phase2Diag.refusalsRetry.push({ sid: t.sid, lang: t.lang, sample: finalText.slice(0, 200) });\n      }\n      console.log(`Phase 2 retry: LLM refusal detected for ${t.sid}_${t.lang} — keeping attempt 1 result`);\n    } else {\n      reTtsRetryTasks.push({ sid: t.sid, lang: t.lang, newText: finalText, info: t.info });\n    }\n  }\n  phase2Diag.retryNoTextTotal += retryNoText;\n  if (retryNoText > 0) console.log(`Phase 2 retry: ${retryNoText}/${tasks.length} cells got no retry text — kept attempt 1 result`);\n  if (retryRefusal > 0) console.log(`Phase 2 retry: ${retryRefusal}/${tasks.length} cells got LLM refusal text — kept attempt 1 result`);\n\n  return await runReTtsTasks.call(this, reTtsRetryTasks);\n}\n\nconst [results2Harder, results2Shorter] = await Promise.all([\n  runRetryGroup.call(this, harderTasks, EXPAND_RETRY_HARDER || EXPAND_BATCH_SYSTEM, 1.05),\n  runRetryGroup.call(this, shorterTasks, EXPAND_RETRY_SHORTER || EXPAND_BATCH_SYSTEM, 0.85),\n]);\nconst results2 = [...results2Harder, ...results2Shorter];\nfor (const r of results2) {\n  const rk = `${r.sid}_${r.lang}`;\n  if (outcomes[rk]) outcomes[rk].attempt2 = r;\n}\n\nconst outcomeCounts2 = {};\nfor (const rk of Object.keys(outcomes)) {\n  const a2 = outcomes[rk].attempt2;\n  if (a2) outcomeCounts2[a2.outcome] = (outcomeCounts2[a2.outcome] || 0) + 1;\n}\nconsole.log('Phase 2 attempt 2 outcomes:', JSON.stringify(outcomeCounts2));\n\n// =====================================================================\n// MERGE & EMIT\n// =====================================================================\n// Per row_key, choose best result:\n//   - If attempt 2 accepted → use attempt 2 (it had better target)\n//   - Else if attempt 1 accepted → use attempt 1\n//   - Else → use most recent outcome reason (attempt 2 if exists else attempt 1)\n\nfunction pickFinal(o) {\n  const a1 = o.attempt1;\n  const a2 = o.attempt2;\n  if (a2 && a2.outcome === 'accepted') return { result: a2, attempts: 2, outcome: 'accepted' };\n  if (a1 && a1.outcome === 'accepted') return { result: a1, attempts: a2 ? 2 : 1, outcome: 'accepted' };\n  // No accept — report most recent skip outcome\n  if (a2) return { result: null, attempts: 2, outcome: a2.outcome };\n  if (a1) return { result: null, attempts: 1, outcome: a1.outcome };\n  return { result: null, attempts: 0, outcome: 'no_attempt' };\n}\n\nconst emitted = [];\nconst finalOutcomeCounts = {};\nfor (const [rk, o] of Object.entries(outcomes)) {\n  const { result, attempts, outcome } = pickFinal(o);\n  finalOutcomeCounts[outcome] = (finalOutcomeCounts[outcome] || 0) + 1;\n  const info = o.info;\n  if (result && outcome === 'accepted') {\n    // Accepted — emit with binary, recompute needs_attention\n    const ratio = result.newRealDur / info.en_duration;\n    const needsAttention = ratio < NEEDS_ATTENTION_THRESHOLD;\n    emitted.push({\n      json: {\n        row_key:                       info.row_key,\n        segment_id:                    info.segment_id,\n        lang:                          info.lang,\n        lesson_id:                     info.lesson_id,\n        text_translated:               result.newText,\n        en_start_sec:                  info.en_start_sec,\n        en_duration_sec:               info.en_duration,\n        real_duration_sec:             result.newRealDur,\n        lead_silence_sec:              result.newLeadSilence,\n        slot_start_sec:                info.slot_start_sec,\n        slot_end_sec:                  info.slot_end_sec,\n        tts_budget_sec:                info.tts_budget_sec,\n        tail_silence_sec:              result.newTailSilence,\n        final_duration_sec:            result.newFinalDur,\n        borrowed_sec:                  0,\n        expansion_attempts:            attempts,\n        shorten_retries_in_synthesize: 0,\n        final_speed:                   (result.finalSpeed != null ? result.finalSpeed : info.voice_speed),\n        needs_attention:               needsAttention,\n        audio_drive_file_id:           info.audio_drive_file_id,\n        phase2_outcome:                'accepted',\n        needs_retts:                   'FALSE',\n        file_name:                     `${info.segment_id}_${info.lang}.wav`,\n        has_binary:                    true,\n      },\n      binary: {\n        data: {\n          data:     result.wavBase64,\n          mimeType: 'audio/wav',\n          fileName: `${info.segment_id}_${info.lang}.wav`,\n        },\n      },\n    });\n  } else {\n    // Rejected — emit json only (no binary). Update Localizations writes phase2_outcome\n    // and expansion_attempts; all audio-fitting fields (tail/final/borrowed/final_speed/\n    // shorten_retries) are passed through verbatim from Phase 1 input — we never recompute\n    // them from formulas that may not match Phase 1's actual WAV structure (e.g.\n    // first-segment offset, accumulated borrow, structurally tight slots).\n    emitted.push({\n      json: {\n        row_key:                       info.row_key,\n        segment_id:                    info.segment_id,\n        lang:                          info.lang,\n        lesson_id:                     info.lesson_id,\n        text_translated:               info.current,\n        en_start_sec:                  info.en_start_sec,\n        en_duration_sec:               info.en_duration,\n        real_duration_sec:             info.real_duration,\n        lead_silence_sec:              info.lead_silence,\n        slot_start_sec:                info.slot_start_sec,\n        slot_end_sec:                  info.slot_end_sec,\n        tts_budget_sec:                info.tts_budget_sec,\n        tail_silence_sec:              info.phase1_tail_silence,\n        final_duration_sec:            info.phase1_final_duration,\n        borrowed_sec:                  info.phase1_borrowed,\n        expansion_attempts:            attempts,\n        shorten_retries_in_synthesize: info.phase1_shorten_retries,\n        final_speed:                   info.phase1_final_speed,\n        needs_attention:               false,\n        audio_drive_file_id:           info.audio_drive_file_id,\n        phase2_outcome:                outcome,\n        needs_retts:                   'FALSE',\n        file_name:                     `${info.segment_id}_${info.lang}.wav`,\n        has_binary:                    false,\n      },\n    });\n  }\n}\n\n// Emit passthrough for every input row that was NOT a candidate (non-candidates,\n// needs_attention rows, structurally-impossible skips). Ensures downstream chain\n// receives all 329 rows, not just the candidates.\nconst candidateRowKeys = new Set(Object.keys(outcomes));\nlet passthroughCount = 0;\nfor (const it of allItems) {\n  if (candidateRowKeys.has(it.json.row_key)) continue;\n  emitted.push(makePassthrough(it.json));\n  passthroughCount++;\n}\n\nconsole.log('Phase 2 FINAL outcomes:', JSON.stringify(finalOutcomeCounts));\nconsole.log(`Phase 2 emit: ${emitted.filter(e => e.json.has_binary).length} accepted (binary), ${emitted.filter(e => !e.json.has_binary && e.json.phase2_outcome).length} rejected candidates, ${passthroughCount} passthrough → ${emitted.length} total`);\n\n// Surface diagnostics on the first item so they're visible in the node Output panel\n// (n8n Code console.log only reaches server stdout). phase2_diag is NOT a mapped\n// Update Localizations column, so it never reaches the sheet — UI-only.\nif (emitted.length > 0) {\n  emitted[0].json.phase2_diag = JSON.stringify({\n    finalOutcomes: finalOutcomeCounts,\n    attempt1: outcomeCounts1,\n    attempt2: outcomeCounts2,\n    retryCoverage: phase2Diag.retryCoverage,\n    retryNoTextTotal: phase2Diag.retryNoTextTotal,\n    retryRawSamples: phase2Diag.retryRawSamples,\n  });\n}\n\nreturn emitted;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "mpks3aoucttrx7rj",
      "name": "Phase 2: Batch LLM+TTS",
      "position": [
        37056,
        13888
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.audio_drive_file_id }}?uploadType=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "mpks3aout49kux09",
      "name": "Phase 2: Drive Update",
      "position": [
        37456,
        13696
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_key": "={{ $('Phase 2: Batch LLM+TTS').item.json.row_key }}",
            "segment_id": "={{ $('Phase 2: Batch LLM+TTS').item.json.segment_id }}",
            "lang": "={{ $('Phase 2: Batch LLM+TTS').item.json.lang }}",
            "text_translated": "={{ $('Phase 2: Batch LLM+TTS').item.json.text_translated }}",
            "en_start_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.en_start_sec }}",
            "en_duration_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.en_duration_sec }}",
            "real_duration_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.real_duration_sec }}",
            "lead_silence_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.lead_silence_sec }}",
            "slot_start_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.slot_start_sec }}",
            "slot_end_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.slot_end_sec }}",
            "tts_budget_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.tts_budget_sec }}",
            "tail_silence_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.tail_silence_sec }}",
            "final_duration_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.final_duration_sec }}",
            "borrowed_sec": "={{ $('Phase 2: Batch LLM+TTS').item.json.borrowed_sec }}",
            "expansion_attempts": "={{ $('Phase 2: Batch LLM+TTS').item.json.expansion_attempts }}",
            "shorten_retries_in_synthesize": "={{ $('Phase 2: Batch LLM+TTS').item.json.shorten_retries_in_synthesize }}",
            "final_speed": "={{ $('Phase 2: Batch LLM+TTS').item.json.final_speed }}",
            "needs_attention": "={{ $('Phase 2: Batch LLM+TTS').item.json.needs_attention }}",
            "audio_drive_file_id": "={{ $('Phase 2: Batch LLM+TTS').item.json.audio_drive_file_id }}",
            "phase2_outcome": "={{ $('Phase 2: Batch LLM+TTS').item.json.phase2_outcome }}",
            "needs_retts": "={{ $('Phase 2: Batch LLM+TTS').item.json.needs_retts || 'FALSE' }}"
          },
          "matchingColumns": [
            "row_key"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "id": "mpks3aoulge8uc4k",
      "name": "Phase 2: Update Localizations",
      "position": [
        37664,
        13904
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-binary-check",
              "leftValue": "={{ $json.has_binary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        37248,
        13888
      ],
      "id": "phase2-has-binary-if",
      "name": "Phase 2: Has Binary?"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "id": "phase2-merge-branches",
      "name": "Phase 2: Merge Branches",
      "position": [
        37520,
        13888
      ]
    },
    {
      "parameters": {
        "batchSize": 105,
        "options": {}
      },
      "id": "5da77063-b0f0-de41-9d90-05165bb7ba7f",
      "name": "Loop Phase 2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        36912,
        13888
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "43166350-cb7c-b7cb-17be-cf02b7f78a4a",
      "name": "Read Localizations Fresh 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        37808,
        13760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Trim Lead For Sequence — runs AFTER Phase 2 + Download Segment WAV, BEFORE\n// Build Full Audio Per Lang.\n//\n// Refactor 2026-05-31: previously, per-segment WAVs preserved their natural\n// lead silence (= EN gap from previous segment's end to this segment's start).\n// For most segments this works perfectly when concat'd end-to-end. For the 4\n// short-segment borrow cases per lesson (en_dur < 2s with TTS overflow), the\n// segment file extends past its slot_end by up to ~0.6s into the next EN\n// silence. End-to-end placement of those individual WAVs (e.g. in Reaper)\n// therefore drifts cumulatively — the editor sees ~1.5s overrun by the end\n// of the lesson. Build Full Audio Per Lang compensated for this at concat\n// time, but the individual files in Drive themselves were over-long.\n//\n// This node trims each segment's lead silence by the previous segment's\n// borrowed_sec, in-place on the downloaded binary. Result: individual WAVs\n// in Drive are now co-aligned with the full concat (sum end-to-end = full\n// duration). Build Full Audio Per Lang's inline trim logic is removed\n// (segments come in already trimmed). End-to-end placement in DAWs works\n// correctly without manual adjustment.\n//\n// Items where trim happened carry `trimmed_for_seq: true` in their json,\n// along with the new lead_silence_sec + final_duration_sec values. A\n// downstream \"Has Trim?\" IF routes those to a Drive PATCH so the new audio\n// overwrites the Drive copies; non-trimmed items flow through unchanged.\n\nconst SAMPLE_RATE = 22050;\nconst BPS         = 2;\n\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\n// Read borrow + lead values from the localizations sheet (authoritative source).\n// Same pattern as Build Full Audio Per Lang.\nconst locMap = {};\n$('Read Localizations Fresh 2').all().forEach(i => {\n  const j = i.json || {};\n  if (!j.segment_id || !j.lang) return;\n  locMap[`${j.segment_id}_${j.lang}`] = {\n    borrowed_sec:        parseFloat(j.borrowed_sec) || 0,\n    lead_silence_sec:    parseFloat(j.lead_silence_sec) || 0,\n    final_duration_sec:  parseFloat(j.final_duration_sec) || 0,\n  };\n});\n\nconst items = $input.all();\nif (!items.length) throw new Error('Trim Lead For Sequence: no items — Download Segment WAV must run first');\n\n// indexMap lets us pass the ORIGINAL item index to getBinaryDataBuffer after\n// we sort by lang × segment_id below. Same idiom as Build Full Audio.\nconst indexMap = new Map(items.map((it, idx) => [it, idx]));\n\n// Group by lang, sort by segment_id within each lang. Ordered iteration is\n// essential — borrow compensation is a \"previous-segment\" chain.\nconst byLang = {};\nfor (const it of items) {\n  const lang = it.json?.lang;\n  const sid  = it.json?.segment_id;\n  if (!lang || !sid) continue;\n  if (lesson_id && !sid.startsWith(lesson_id + '_')) continue;\n  if (!byLang[lang]) byLang[lang] = [];\n  byLang[lang].push(it);\n}\nfor (const lang of Object.keys(byLang)) {\n  byLang[lang].sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n}\n\nfunction buildWav(pcm) {\n  const n = pcm.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcm]);\n}\n\nconst output = [];\nlet totalTrimmed = 0;\nlet trimmedSegsCount = 0;\nlet skippedTooSmall = 0;\nlet skippedBinaryRead = 0;\n\nfor (const lang of Object.keys(byLang)) {\n  let prevBorrow = 0;\n  for (const e of byLang[lang]) {\n    const sid  = e.json.segment_id;\n    const loc  = locMap[`${sid}_${lang}`] || {};\n    const segBorrow = loc.borrowed_sec || 0;\n\n    let newJson   = { ...e.json, trimmed_for_seq: false };\n    let newBinary = e.binary;\n\n    if (prevBorrow > 0 && e.binary?.data) {\n      const leadSec   = loc.lead_silence_sec || 0;\n      const trimSec   = Math.min(prevBorrow, leadSec);\n      const trimBytes = Math.round(trimSec * SAMPLE_RATE) * BPS;\n\n      if (trimBytes > 0) {\n        const idx = indexMap.get(e);\n        let wavBuf;\n        try {\n          wavBuf = await this.helpers.getBinaryDataBuffer(idx, 'data');\n        } catch (err) {\n          console.warn(`Trim Lead For Sequence: ${sid}_${lang} skipped — getBinaryDataBuffer failed: ${err.message}`);\n          skippedBinaryRead++;\n          output.push({ json: newJson, binary: newBinary });\n          prevBorrow = segBorrow;\n          continue;\n        }\n        if (!wavBuf || wavBuf.length <= 44 + trimBytes) {\n          console.warn(`Trim Lead For Sequence: ${sid}_${lang} skipped — WAV is ${wavBuf?.length ?? 0} bytes (too small to trim ${trimBytes})`);\n          skippedTooSmall++;\n          output.push({ json: newJson, binary: newBinary });\n          prevBorrow = segBorrow;\n          continue;\n        }\n\n        // Strip 44-byte WAV header, slice off trimBytes from start, rebuild header\n        const pcm    = wavBuf.subarray(44 + trimBytes);\n        const newWav = buildWav(pcm);\n        const newDurSec  = pcm.length / (SAMPLE_RATE * BPS);\n        const newLeadSec = leadSec - trimSec;\n\n        newJson.lead_silence_sec   = parseFloat(newLeadSec.toFixed(3));\n        newJson.final_duration_sec = parseFloat(newDurSec.toFixed(3));\n        newJson.trimmed_for_seq    = true;\n        newJson.trimmed_amount_sec = parseFloat(trimSec.toFixed(3));\n        newBinary = {\n          data: {\n            data:     newWav.toString('base64'),\n            mimeType: 'audio/wav',\n            fileName: `${sid}_${lang}.wav`,\n          },\n        };\n        totalTrimmed += trimSec;\n        trimmedSegsCount++;\n      }\n    }\n\n    output.push({ json: newJson, binary: newBinary });\n    prevBorrow = segBorrow;\n  }\n}\n\nconst note = (skippedBinaryRead || skippedTooSmall)\n  ? ` (skipped ${skippedBinaryRead} for binary-read, ${skippedTooSmall} for too-small)`\n  : '';\nconsole.log(`Trim Lead For Sequence: trimmed ${trimmedSegsCount} segments totaling ${totalTrimmed.toFixed(3)}s${note}`);\n\nreturn output;\n"
      },
      "id": "trim-lead-for-seq-001",
      "name": "Trim Lead For Sequence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        38080,
        13712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "trimmed-for-seq-check",
              "leftValue": "={{ $json.trimmed_for_seq }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-trim-if-001",
      "name": "Has Trim?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        38080,
        13920
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.audio_drive_file_id }}?uploadType=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "save-trimmed-audio-001",
      "name": "Save Trimmed Audio to Drive",
      "position": [
        38304,
        13920
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_key": "={{ $json.row_key }}",
            "lead_silence_sec": "={{ $json.lead_silence_sec }}",
            "final_duration_sec": "={{ $json.final_duration_sec }}",
            "needs_retts": "={{ $json.needs_retts || 'FALSE' }}"
          },
          "matchingColumns": [
            "row_key"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "id": "update-trimmed-loc-001",
      "name": "Update Trimmed Localizations",
      "position": [
        38304,
        14128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voices": {
      "main": [
        [
          {
            "node": "Read Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Segments": {
      "main": [
        [
          {
            "node": "Expand TTS Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand TTS Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read Localizations Fresh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Timing + Pad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timing + Pad": {
      "main": [
        [
          {
            "node": "Save to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Drive": {
      "main": [
        [
          {
            "node": "Prepare Localization Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Localization Row": {
      "main": [
        [
          {
            "node": "Update Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Localizations": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations Fresh": {
      "main": [
        [
          {
            "node": "Loop Phase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Audio Per Lang": {
      "main": [
        [
          {
            "node": "Save Full to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Segment WAV": {
      "main": [
        [
          {
            "node": "Trim Lead For Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VTT Per Lang": {
      "main": [
        [
          {
            "node": "Save VTT to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts": {
      "main": [
        [
          {
            "node": "Read Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Batch LLM+TTS": {
      "main": [
        [
          {
            "node": "Phase 2: Has Binary?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Drive Update": {
      "main": [
        [
          {
            "node": "Phase 2: Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Has Binary?": {
      "main": [
        [
          {
            "node": "Phase 2: Drive Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Phase 2: Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Phase 2: Update Localizations": {
      "main": [
        [
          {
            "node": "Loop Phase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Merge Branches": {
      "main": [
        [
          {
            "node": "Phase 2: Update Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Phase 2": {
      "main": [
        [
          {
            "node": "Read Localizations Fresh 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Phase 2: Batch LLM+TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations Fresh 2": {
      "main": [
        [
          {
            "node": "Download Segment WAV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build VTT Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Lead For Sequence": {
      "main": [
        [
          {
            "node": "Build Full Audio Per Lang",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Trim?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trim?": {
      "main": [
        [
          {
            "node": "Save Trimmed Audio to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Trimmed Localizations",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ded4c96f-7f8d-4662-b2a2-be9e6fc190b7",
  "meta": {
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "MOZzjHF8ATMGkyjl",
  "tags": []
}
