workflows/W3_Synthesize_v2.json
{
  "name": "W3 - Synthesize v2",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "voices",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Read Voices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010758544,
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1010758544"
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Read Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst activeLangs = (configMap.active_langs || 'de,es,fr,it,pl,pt,tr').split(',').map(s => s.trim());\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst results = [];\nfor (const item of $input.all()) {\n  const seg = item.json;\n  if (!seg.segment_id) continue;\n  for (const lang of activeLangs) {\n    const text = seg[`${lang}_text`];\n    if (!text || !text.trim()) continue;\n    const voice = voiceMap[lang] || {};\n    if (!voice.voice_id) continue;\n    results.push({ json: {\n      segment_id:       seg.segment_id,\n      lesson_id:        seg.lesson_id || 'unknown',\n      lang,\n      text,\n      en_duration_sec:  parseFloat(seg.en_duration_sec) || 0,\n      en_start_sec:     parseFloat(seg.en_start_sec) || 0,\n      voice_id:         voice.voice_id,\n      stability:        parseFloat(voice.stability)         || 0.5,\n      similarity_boost: parseFloat(voice.similarity_boost)  || 0.75,\n      style:            parseFloat(voice.style)             || 0,\n      speed:            parseFloat(voice.speed)             || 1.0,\n      model:            voice.model || 'eleven_multilingual_v2',\n    }});\n  }\n}\nreturn results;"
      },
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Expand TTS Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000006",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}?output_format=pcm_22050",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $credentials.apiKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"model_id\": \"{{ $json.model }}\",\n  \"voice_settings\": {\n    \"stability\": {{ $json.stability }},\n    \"similarity_boost\": {{ $json.similarity_boost }},\n    \"style\": {{ $json.style }},\n    \"speed\": {{ $json.speed }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1000001-0000-0000-0000-000000000007",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOMqSSnHPZPvS7PK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SAMPLE_RATE = 22050;\nconst BPS = 2;\nconst BUDGET_FACTOR = 1.05;\n\nconst job = $('Expand TTS Jobs').item.json;\nconst { voice_id, text, en_duration_sec, stability, similarity_boost, segment_id, lang, lesson_id } = job;\nconst budget = parseFloat(en_duration_sec) || 0;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\nconst EL_KEY = configMap.elevenlabs_api_key || '';\nif (!EL_KEY) throw new Error('elevenlabs_api_key missing from config sheet');\n\nconst binaryData = $input.first().binary?.data;\nif (!binaryData) throw new Error(`No binary data for ${segment_id}_${lang}`);\nlet pcm = Buffer.from(binaryData.data, 'base64');\n\nfunction pcmDuration(buf) { return buf.length / (SAMPLE_RATE * BPS); }\n\nfunction buildWav(pcmBuf) {\n  const n = pcmBuf.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcmBuf]);\n}\n\nasync function retryTTS(speed) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.elevenlabs.io/v1/text-to-speech/${voice_id}?output_format=pcm_22050`,\n    headers: { 'xi-api-key': EL_KEY, 'content-type': 'application/json' },\n    body: { text, model_id: 'eleven_multilingual_v2', voice_settings: { stability, similarity_boost, speed } },\n    json: true, returnFullResponse: true, encoding: 'arraybuffer',\n  });\n  return Buffer.from(resp.body);\n}\n\nlet finalSpeed = parseFloat(job.speed) || 1.0;\nlet needsAttention = false;\n\nfor (const speed of [1.10, 1.15]) {\n  if (pcmDuration(pcm) <= budget * BUDGET_FACTOR) break;\n  pcm = await retryTTS.call(this, speed);\n  finalSpeed = speed;\n}\nif (pcmDuration(pcm) > budget * BUDGET_FACTOR) needsAttention = true;\n\nconst realDuration = pcmDuration(pcm);\nconst padBytes = Math.max(0, Math.round((budget - realDuration) * SAMPLE_RATE) * BPS);\nconst paddedPcm = padBytes > 0 ? Buffer.concat([pcm, Buffer.alloc(padBytes, 0)]) : pcm;\nconst wav = buildWav(paddedPcm);\nconst fileName = `${segment_id}_${lang}.wav`;\n\nreturn [{\n  json: { segment_id, lang, lesson_id, en_duration_sec: budget,\n          real_duration_sec: parseFloat(realDuration.toFixed(3)),\n          final_speed: finalSpeed, needs_attention: needsAttention, file_name: fileName },\n  binary: { data: { data: wav.toString('base64'), mimeType: 'audio/wav', fileName } }\n}];"
      },
      "id": "a1000001-0000-0000-0000-000000000008",
      "name": "Check Timing + Pad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Check Timing + Pad').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000009",
      "name": "Save to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const checkItem = $('Check Timing + Pad').item.json;\nconst job = $('Expand TTS Jobs').item.json;\nconst driveResp = $input.first().json;\n\nreturn [{\n  json: {\n    row_key:            `${checkItem.segment_id}_${checkItem.lang}`,\n    segment_id:         checkItem.segment_id,\n    lang:               checkItem.lang,\n    text_translated:    job.text,\n    en_start_sec:       job.en_start_sec,\n    en_duration_sec:    checkItem.en_duration_sec,\n    real_duration_sec:  checkItem.real_duration_sec,\n    final_speed:        checkItem.final_speed,\n    needs_attention:    checkItem.needs_attention ? 'TRUE' : 'FALSE',\n    audio_drive_file_id: driveResp.id || '',\n  }\n}];"
      },
      "id": "a1000001-0000-0000-0000-000000000010",
      "name": "Prepare Localization Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_key"
          ],
          "schema": [
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_id",
              "displayName": "segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_translated",
              "displayName": "text_translated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_start_sec",
              "displayName": "en_start_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "en_duration_sec",
              "displayName": "en_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "real_duration_sec",
              "displayName": "real_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "final_speed",
              "displayName": "final_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "needs_attention",
              "displayName": "needs_attention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "audio_drive_file_id",
              "displayName": "audio_drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000011",
      "name": "Update Localizations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1600,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "a1000001-0000-0000-0000-000000000012",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1800,
        0
      ],
      "webhookId": "synth-v2-rate-limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voices": {
      "main": [
        [
          {
            "node": "Read Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Segments": {
      "main": [
        [
          {
            "node": "Expand TTS Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand TTS Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Check Timing + Pad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timing + Pad": {
      "main": [
        [
          {
            "node": "Save to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Drive": {
      "main": [
        [
          {
            "node": "Prepare Localization Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Localization Row": {
      "main": [
        [
          {
            "node": "Update Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Localizations": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
  "meta": {
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "tags": []
}