workflows/W3_Synthesize.json
{
  "name": "W3 - Synthesize",
  "nodes": [
    {
      "parameters": {},
      "id": "6c22d636-ad98-41ac-9509-622fc1858abc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "segments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=0"
        },
        "options": {}
      },
      "id": "08bafcd7-6827-4318-b6eb-9b1ba53e7165",
      "name": "Read Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        160,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Expand each segment × each language into individual TTS jobs\nconst voices = {\n  de: { voice_id: 'a0CA83xXpwCwAaIpZXae', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  es: { voice_id: 'HRi5Prm2B3PevwpDmVLP', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  fr: { voice_id: 'ucMmKRQbfDEYyb2IIGax', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  it: { voice_id: 'CiwzbDpaN3pQXjTgx3ML', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  pl: { voice_id: 'uvear2FyfRVNE3AJh2sG', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  pt: { voice_id: 'nJ5NFqyKb8kn9JBPmo6i', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n  tr: { voice_id: 'ywzrmJ3AgYiLqAeZAGrq', model: 'eleven_multilingual_v2', stability: 0.5, similarity_boost: 0.75, style: 0, speed: 1.0 },\n};\n\nconst langs = Object.keys(voices);\nconst results = [];\n\nfor (const item of $input.all()) {\n  const seg = item.json;\n  if (!seg.segment_id) continue;\n\n  for (const lang of langs) {\n    const text = seg[lang + '_text'];\n    if (!text || text.trim() === '') continue; // skip if no translation\n\n    results.push({\n      json: {\n        segment_id: seg.segment_id,\n        lang,\n        text,\n        voice_id: voices[lang].voice_id,\n        model: voices[lang].model,\n        stability: voices[lang].stability,\n        similarity_boost: voices[lang].similarity_boost,\n        style: voices[lang].style,\n        speed: voices[lang].speed,\n        filename: seg.segment_id + '_' + lang + '.mp3',\n        drive_folder_id: '1VIsXePlTjUP7D58nvWQ03Gksc_Bp-GCB',\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "b631a047-6536-4fb6-b76f-aa4361d1a123",
      "name": "Expand TTS Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}?output_format=mp3_44100_192",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "{{ $credentials.apiKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"model_id\": \"{{ $json.model }}\",\n  \"voice_settings\": {\n    \"stability\": {{ $json.stability }},\n    \"similarity_boost\": {{ $json.similarity_boost }},\n    \"style\": {{ $json.style }},\n    \"speed\": {{ $json.speed }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4d2bb790-aa3e-43c9-b9fd-c3be438e39ba",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OOMqSSnHPZPvS7PK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Expand TTS Jobs').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "1VIsXePlTjUP7D58nvWQ03Gksc_Bp-GCB",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "d811b9df-ddb8-4de2-8685-d6c8ff59eb77",
      "name": "Save to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "1d994f51-22db-4ad3-a8aa-0d39f1e79863",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "webhookId": "synth-rate-limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        0
      ],
      "id": "efae2480-1b07-4a43-a58d-09202be67825",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Segments": {
      "main": [
        [
          {
            "node": "Expand TTS Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand TTS Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Save to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Drive": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39a45b7d-7b2d-4e99-a468-e890a716874a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "8zmZ2D3ySkmPSUxa",
  "tags": []
}