workflows/W_Master.json
{
  "name": "W_Master - Drive Trigger Orchestrator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pucg6dxUB2h_gSyTc655uahPRWidkbA0",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "48854dab-921d-4e17-ae97-3ac2616e4e77",
      "name": "Drive Trigger (input/)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        13888,
        5088
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse each Drive trigger payload — extract { file_id, lesson_id, filename, mime_type }.\n// Iterates over ALL input items so multi-file drops produce one output item per file.\n// lesson_id is derived from filename (e.g., 'sleep_002.mp3' → 'sleep_002').\nconst out = [];\nfor (const i of $input.all()) {\n  const item = i.json || {};\n  const filename = item.name || '';\n  const file_id = item.id;\n  const mime_type = item.mimeType || '';\n\n  if (!file_id || !filename) {\n    console.warn('Drive trigger payload missing id/name — skipping:', JSON.stringify(item));\n    continue;\n  }\n\n  // Strip extension and sanitize for use as a sheet/file key.\n  const baseName = filename.replace(/\\.[^./\\\\]+$/, '');\n  const lesson_id = baseName.trim().toLowerCase().replace(/[^a-z0-9_-]+/g, '_').replace(/^_+|_+$/g, '');\n  if (!lesson_id) {\n    console.warn('Could not derive lesson_id from filename — skipping:', filename);\n    continue;\n  }\n\n  // Sanity: skip non-audio files (Drive trigger may fire on any file dropped in the folder).\n  const looksAudio = /^audio\\//.test(mime_type) || /\\.(mp3|wav|m4a|aac|flac|ogg|opus)$/i.test(filename);\n  if (!looksAudio) {\n    console.warn('Skipping non-audio file:', filename, mime_type);\n    continue;\n  }\n\n  out.push({ json: { file_id, lesson_id, filename, mime_type } });\n}\nreturn out;"
      },
      "id": "15b4040b-b582-4cac-bd24-f78fdee8724a",
      "name": "Parse Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14112,
        5088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collapse N Parse Filename items down to 1 sentinel item so the archive chain\n// (List → Plan → Move) fires exactly once per Drive Trigger activation, not once\n// per dropped file. Carries the set of just-dropped file IDs so Archive Previous Run\n// can exclude them from the move list.\nconst newFileIds = $('Parse Filename').all().map(i => i.json.file_id).filter(Boolean);\nconst newFileNames = $('Parse Filename').all().map(i => i.json.filename).filter(Boolean);\nreturn [{ json: { archive_run_at: new Date().toISOString(), new_file_ids: newFileIds, new_file_names: newFileNames } }];"
      },
      "id": "e1f2a3b4-c5d6-7890-1234-onceperrun001",
      "name": "Once Per Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13776,
        4880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "config",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8901-2345-readcfgarchv1",
      "name": "Read Config (Archive)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        14000,
        4880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Plan Sources — emits one item per source folder that downstream List Files\n// will hit via Drive REST. We dedupe folder IDs (in case fallback chains collapsed\n// vtt → full → segments onto the same folder) so we don't list the same folder\n// twice. drive_archive_folder_id is validated here, BEFORE any List/Move starts.\nconst cfg = {};\n$('Read Config (Archive)').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\n\nconst ARCHIVE_PARENT = cfg.drive_archive_folder_id;\nif (!ARCHIVE_PARENT) {\n  throw new Error('drive_archive_folder_id missing from config sheet — required for the archive feature. Either set it to the Drive folder ID of 05_archive, or remove the archive chain from W_Master.');\n}\nif (!cfg.drive_input_folder_id) throw new Error('drive_input_folder_id missing from config sheet');\nif (!cfg.drive_output_folder_id) throw new Error('drive_output_folder_id missing from config sheet');\n\nconst sources = [\n  { src_key: '01_input',    folder_id: cfg.drive_input_folder_id },\n  { src_key: '02_output', folder_id: cfg.drive_output_folder_id },\n  { src_key: '03_full',     folder_id: cfg.drive_output_full_folder_id || cfg.drive_output_folder_id },\n  { src_key: '04_vtt',      folder_id: cfg.drive_output_vtt_folder_id || cfg.drive_output_full_folder_id || cfg.drive_output_folder_id },\n];\n\nconst seen = new Set();\nconst out = [];\nfor (const s of sources) {\n  if (!s.folder_id || seen.has(s.folder_id)) continue;\n  seen.add(s.folder_id);\n  out.push({ json: { src_key: s.src_key, folder_id: s.folder_id, q: `'${s.folder_id}' in parents and trashed = false` } });\n}\nreturn out;"
      },
      "id": "aaaa1111-1111-1111-1111-plansources001",
      "name": "Plan Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14224,
        4880
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "aaaa2222-2222-2222-2222-listfiles00001",
      "name": "List Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14448,
        4880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan Archive — aggregates the per-source-folder file lists, filters out the\n// just-dropped trigger files, derives the archive subfolder name, and emits a\n// single plan item that downstream nodes consume via $('Plan Archive').first().json.\n// If nothing remains to archive (first run / pre-cleaned folders) → emits a single\n// item with skip=true and Has Files? routes around the destructive chain.\nconst FOLDER_MIME = 'application/vnd.google-apps.folder';\n\nconst sources = $('Plan Sources').all().map(i => i.json);\nconst responses = $('List Files').all().map(i => i.json);\n\nif (sources.length !== responses.length) {\n  console.warn(`[Archive] source/response count mismatch: ${sources.length} vs ${responses.length}`);\n}\n\nconst newFileIds = new Set(($('Once Per Run').first().json.new_file_ids || []));\n\nconst cfg = {};\n$('Read Config (Archive)').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\n\nconst toMove = [];\nfor (let i = 0; i < sources.length; i++) {\n  const src = sources[i];\n  const files = (responses[i] && responses[i].files) || [];\n  for (const f of files) {\n    if (f.mimeType === FOLDER_MIME) continue;       // never move subfolders\n    if (newFileIds.has(f.id)) continue;             // skip just-dropped trigger files\n    toMove.push({ id: f.id, name: f.name, src_key: src.src_key, src_folder: src.folder_id });\n  }\n}\n\nif (toMove.length === 0) {\n  console.log('[Archive] nothing to archive — folders already clean (first run or operator pre-cleaned)');\n  return [{ json: { skip: true } }];\n}\n\nfunction basenameNoExt(name) { return (name || '').replace(/\\.[^./\\\\]+$/, ''); }\nlet archiveBase = null;\nconst leftoverInputs = toMove.filter(f => f.src_key === '01_input').sort((a, b) => a.name.localeCompare(b.name));\nif (leftoverInputs.length > 0) {\n  archiveBase = basenameNoExt(leftoverInputs[0].name);\n} else {\n  const sample = toMove.find(f => /_(seg|full)_/.test(f.name));\n  if (sample) archiveBase = sample.name.split(/_(seg|full)_/)[0];\n}\nif (!archiveBase) archiveBase = 'archive';\n\n// Kyiv local time. 'sv-SE' locale → \"YYYY-MM-DD HH:MM:SS\"; turn into filename-safe\n// \"YYYY-MM-DD_HH-MM\" (no seconds, underscore between date and time, hyphens not colons).\nconst kyivTime = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Kyiv' });\nconst stamp = kyivTime.replace(' ', '_').replace(/:/g, '-').slice(0, 16);\nconst archive_name = `${archiveBase}_${stamp}`;\n\nconst SHEET_ID = cfg.sheets_document_id || '1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU';\nconst ARCHIVE_PARENT = cfg.drive_archive_folder_id;\n\nconsole.log(`[Archive] plan: ${toMove.length} files → ${archive_name}/ (parent ${ARCHIVE_PARENT})`);\n\nreturn [{ json: { skip: false, archive_name, archive_parent: ARCHIVE_PARENT, sheet_id: SHEET_ID, files: toMove } }];"
      },
      "id": "aaaa3333-3333-3333-3333-planarchive001",
      "name": "Plan Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14672,
        4880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-files-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aaaa4444-4444-4444-4444-hasfilesif0001",
      "name": "Has Files To Archive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14896,
        4880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.archive_name, mimeType: 'application/vnd.google-apps.folder', parents: [$json.archive_parent] }) }}",
        "options": {}
      },
      "id": "aaaa5555-5555-5555-5555-createroot0001",
      "name": "Create Archive Root",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15120,
        4768
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Plan Archive').first().json.sheet_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'sheet_snapshot_' + $('Plan Archive').first().json.archive_name, parents: [$('Create Archive Root').first().json.id] }) }}",
        "options": {}
      },
      "id": "aaaa6666-6666-6666-6666-copysnapsht001",
      "name": "Copy Sheet Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15344,
        4768
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan Subfolders — emits one item per archive subfolder we need to create.\n// Skips any src_key that has no files in the plan (e.g. if 04_vtt had 0 leftovers,\n// we don't create an empty 04_vtt subfolder).\nconst plan = $('Plan Archive').first().json;\nconst rootId = $('Create Archive Root').first().json.id;\nconst presentKeys = new Set(plan.files.map(f => f.src_key));\nconst order = ['01_input', '02_output', '03_full', '04_vtt'];\nreturn order\n  .filter(k => presentKeys.has(k))\n  .map(k => ({ json: { name: k, parent: rootId } }));"
      },
      "id": "aaaa7777-7777-7777-7777-plansubfldrs01",
      "name": "Plan Subfolders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15568,
        4768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, mimeType: 'application/vnd.google-apps.folder', parents: [$json.parent] }) }}",
        "options": {}
      },
      "id": "aaaa8888-8888-8888-8888-createsubfld01",
      "name": "Create Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15792,
        4768
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan Moves — pairs each file in the plan with the just-created destination\n// subfolder ID. Emits one item per file. Move File HTTP node fires per item.\nconst planSubInputs = $('Plan Subfolders').all().map(i => i.json);\nconst createdSubs = $('Create Subfolder').all().map(i => i.json);\n\n// Pair by index: Create Subfolder fires once per Plan Subfolders item in order.\nconst subMap = {};\nfor (let i = 0; i < planSubInputs.length; i++) {\n  if (!createdSubs[i] || !createdSubs[i].id) {\n    console.error(`[Archive] missing subfolder response for ${planSubInputs[i].name}`);\n    continue;\n  }\n  subMap[planSubInputs[i].name] = createdSubs[i].id;\n}\n\nconst plan = $('Plan Archive').first().json;\nconst out = [];\nfor (const f of plan.files) {\n  const dest = subMap[f.src_key];\n  if (!dest) {\n    console.error(`[Archive] no destination subfolder for ${f.name} (src_key=${f.src_key}) — skipping`);\n    continue;\n  }\n  out.push({ json: { file_id: f.id, name: f.name, src_folder: f.src_folder, dest_folder: dest } });\n}\nconsole.log(`[Archive] planned ${out.length} moves`);\nreturn out;"
      },
      "id": "aaaa9999-9999-9999-9999-planmoves00001",
      "name": "Plan Moves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16016,
        4768
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "addParents",
              "value": "={{ $json.dest_folder }}"
            },
            {
              "name": "removeParents",
              "value": "={{ $json.src_folder }}"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "aaab0000-0000-0000-0000-movefile000001",
      "name": "Move File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16240,
        4880
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Plan Archive').first().json.sheet_id }}/values:batchClear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ranges: ['segments!A2:ZZ', 'localizations!A2:ZZ'] }) }}",
        "options": {}
      },
      "id": "aaab1111-1111-1111-1111-cleartabs00001",
      "name": "Clear Sheet Tabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16416,
        4880
      ],
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass Lessons (after Archive) — re-emits the original Parse Filename items so\n// Execute W1 fan-out works as before (one item per dropped file).\n// Same idiom as the existing Pass Lessons (after W1/W2/W3) nodes.\nreturn $('Parse Filename').all().map(i => ({ json: i.json }));"
      },
      "id": "aaab2222-2222-2222-2222-passafterarc01",
      "name": "Pass Lessons (after Archive)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16608,
        4880
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WBsnWAyagEkenM6U",
          "mode": "list",
          "cachedResultUrl": "/workflow/WBsnWAyagEkenM6U",
          "cachedResultName": "W1 - STT_and_Segment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.file_id }}",
            "lesson_id": "={{ $json.lesson_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9ba636fd-93ad-424f-af0c-97ce55ebab55",
      "name": "Execute W1 (STT)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        14336,
        5088
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9LqXZB7SRtYpnMEL",
          "mode": "list",
          "cachedResultUrl": "/workflow/9LqXZB7SRtYpnMEL",
          "cachedResultName": "W2 - Translate v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lesson_id": "={{ $json.lesson_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8c56a669-126b-4b94-8ff5-56c204fba389",
      "name": "Execute W2 (Translate)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        14560,
        5088
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tKWQr2u81BvxtWfV",
          "mode": "list",
          "cachedResultUrl": "/workflow/tKWQr2u81BvxtWfV",
          "cachedResultName": "W3 Dispatch (per-lang)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lesson_id": "={{ $json.lesson_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "ade1c420-c27e-406c-b3eb-c4ed657818ce",
      "name": "Execute W3 (Synthesize)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        14784,
        5088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collapse downstream item stream back to one item per source lesson.\n// Execute Workflow with mode=each emits aggregated sub-workflow output, which\n// would multiply downstream item count and make the next Execute Workflow node\n// call the sub-workflow far more times than intended. Re-emit Parse Filename items\n// so the count is stable at N (= number of dropped files).\nreturn $('Parse Filename').all().map(i => ({ json: i.json }));"
      },
      "id": "de243484-5475-41e7-9e22-3510457b4d85",
      "name": "Pass Lessons (after W1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14448,
        5248
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Parse Filename').all().map(i => ({ json: i.json }));"
      },
      "id": "9c1b0dca-d336-4493-830b-a8bdc0554243",
      "name": "Pass Lessons (after W2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14672,
        5248
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Parse Filename').all().map(i => ({ json: i.json }));"
      },
      "id": "58ea0973-bad7-43c8-a86e-3ae79c09cfee",
      "name": "Pass Lessons (after W3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14896,
        5248
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "config",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-1234-readconfig001",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        15120,
        5088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-4567-readlocaliz001",
      "name": "Read Localizations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        15344,
        5088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Build one Slack message per Parse Filename item (one per source audio file).\n// Reads config from $('Read Config') and per-lesson needs_attention stats from $('Read Localizations').\n// Emits { channel, text } — Slack Notify uses mrkdwn (clickable <url|label> links).\nconst cfg = {};\n$('Read Config').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\n\nconst fullFolder = cfg.drive_output_full_folder_id || cfg.drive_output_folder_id;\nconst segmentsFolder = cfg.drive_output_folder_id;\nconst vttFolder  = cfg.drive_output_vtt_folder_id;\nconst regenUrl   = cfg.w_regen_workflow_url;\nconst channel    = cfg.slack_channel;\nif (!channel) throw new Error('slack_channel missing from config sheet (set to channel ID like C01234ABCDE)');\n\nconst fullUrl     = fullFolder     ? `https://drive.google.com/drive/folders/${fullFolder}`     : null;\nconst segmentsUrl = segmentsFolder ? `https://drive.google.com/drive/folders/${segmentsFolder}` : null;\nconst vttUrl      = vttFolder      ? `https://drive.google.com/drive/folders/${vttFolder}`      : null;\nconst activeLangs = (cfg.active_langs || 'de,es,fr,it,pl,pt,tr').split(',').map(s => s.trim()).filter(Boolean);\n\nconst allLocs = $('Read Localizations').all().map(i => i.json || {});\nconst isFlagged = v => v === true || v === 'TRUE' || v === 'true';\n\nfunction statsForLesson(lesson_id) {\n  const rows = allLocs.filter(r => (r.segment_id || '').startsWith(lesson_id + '_'));\n  const total = rows.length;\n  const flagged = rows.filter(r => isFlagged(r.needs_attention)).length;\n  const pct = total > 0 ? Math.round((flagged / total) * 100) : null;\n  return { total, flagged, pct };\n}\n\nfunction buildMessage(p) {\n  const lesson_id = p.json.lesson_id;\n  const filename  = p.json.filename;\n  const { total, flagged, pct } = statsForLesson(lesson_id);\n  const naLine = pct === null ? 'n/a' : `${pct}% (${flagged} / ${total})`;\n\n  const lines = [\n    ':white_check_mark: *Dubbing complete*',\n    '',\n    `*Lesson:* ${lesson_id}`,\n    `*Source file:* ${filename}`,\n    `*Languages:* ${activeLangs.length} (${activeLangs.join(', ')})`,\n    `*Needs attention:* ${naLine}`,\n  ];\n  if (fullUrl || segmentsUrl || vttUrl || regenUrl) lines.push('');\n  if (fullUrl)     lines.push(`:file_folder: <${fullUrl}|Full audio (per-lang)>`);\n  if (segmentsUrl) lines.push(`:musical_note: <${segmentsUrl}|Per-segment audio>`);\n  if (vttUrl)      lines.push(`:closed_book: <${vttUrl}|VTT subtitles>`);\n  if (regenUrl)    lines.push(`:wrench: <${regenUrl}|Regen Segments>`);\n\n  return { json: { channel, text: lines.join('\\n') } };\n}\n\nreturn $('Parse Filename').all().map(buildMessage);"
      },
      "id": "b2c3d4e5-f6a7-8901-2345-buildslack001",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15568,
        5088
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false,
          "includeLinkToWorkflow": false
        }
      },
      "id": "c3d4e5f6-a7b8-9012-3456-slacknotify01",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        15792,
        5088
      ],
      "webhookId": "36682c9e-8108-46b3-93b2-34f1fda90de1",
      "credentials": {
        "slackApi": {
          "id": "ogtQ2NONkRrXj2kl",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Drive Trigger (input/)": {
      "main": [
        [
          {
            "node": "Parse Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filename": {
      "main": [
        [
          {
            "node": "Once Per Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Once Per Run": {
      "main": [
        [
          {
            "node": "Read Config (Archive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config (Archive)": {
      "main": [
        [
          {
            "node": "Plan Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Sources": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Plan Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Archive": {
      "main": [
        [
          {
            "node": "Has Files To Archive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files To Archive?": {
      "main": [
        [
          {
            "node": "Create Archive Root",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Lessons (after Archive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Archive Root": {
      "main": [
        [
          {
            "node": "Copy Sheet Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Sheet Snapshot": {
      "main": [
        [
          {
            "node": "Plan Subfolders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Subfolders": {
      "main": [
        [
          {
            "node": "Create Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Subfolder": {
      "main": [
        [
          {
            "node": "Plan Moves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Moves": {
      "main": [
        [
          {
            "node": "Move File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move File": {
      "main": [
        [
          {
            "node": "Clear Sheet Tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet Tabs": {
      "main": [
        [
          {
            "node": "Pass Lessons (after Archive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lessons (after Archive)": {
      "main": [
        [
          {
            "node": "Execute W1 (STT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W1 (STT)": {
      "main": [
        [
          {
            "node": "Pass Lessons (after W1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lessons (after W1)": {
      "main": [
        [
          {
            "node": "Execute W2 (Translate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W2 (Translate)": {
      "main": [
        [
          {
            "node": "Pass Lessons (after W2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lessons (after W2)": {
      "main": [
        [
          {
            "node": "Execute W3 (Synthesize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lessons (after W3)": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Localizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0097226-4fc5-4c64-90a8-eab4d8e94ece",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "Y3GWKEi15Lh9njXx",
  "tags": []
}
