workflows/W_Regen.json
{
  "name": "W_Regen — Manual cell regeneration",
  "nodes": [
    {
      "parameters": {},
      "id": "98b0c533-a382-e2a1-97f5-2f4d8d782a4c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -14464,
        12000
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "w-regen",
        "responseMode": "onReceived",
        "responseCode": 200,
        "responseData": "Regen started — you will get a Slack notification when it finishes. You can close this tab.",
        "options": {}
      },
      "id": "c7d8e9f0-a1b2-3c4d-5e6f-webhookregen01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -14464,
        12192
      ],
      "webhookId": "w-regen-public-launch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1187289606,
          "mode": "list",
          "cachedResultName": "config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit#gid=1187289606"
        },
        "options": {}
      },
      "id": "c518213a-ee7f-d497-28a8-47c45c8492c2",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -14256,
        12000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "voices",
          "mode": "name"
        },
        "options": {}
      },
      "id": "2b573f7d-c85e-c30f-8581-38ddf2714593",
      "name": "Read Voices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -14064,
        12000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "15e49a90-601a-f9f3-aed3-79275f15bbdb",
      "name": "Read Localizations Initial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13856,
        12000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// W_Regen Get Params — extracts the lesson_id from rows flagged needs_retts=TRUE,\n// then prepends a sentinel item carrying lesson_id so downstream Build Full / VTT can read\n// $('Get Params').first().json.lesson_id (the W3 contract). Other items pass through unchanged;\n// Regen Engine filters them by needs_retts so the sentinel is harmless.\n// MVP constraint: single-lesson regen per run.\nconst allRows = $input.all();\nconst flagged = allRows.filter(it => {\n  const v = it.json.needs_retts;\n  return v === true || v === 'TRUE' || v === 'true';\n});\nif (flagged.length === 0) {\n  throw new Error('W_Regen: no rows flagged needs_retts=TRUE — set the flag on at least one row before running.');\n}\nconst lessonIds = [...new Set(flagged.map(it => it.json.lesson_id || (it.json.segment_id || '').split('_seg_')[0]))].filter(Boolean);\nif (lessonIds.length > 1) {\n  throw new Error(`W_Regen MVP supports a single lesson per run; flagged rows span: ${lessonIds.join(', ')}. Clear the flag on all but one lesson and re-run.`);\n}\nconst lesson_id = lessonIds[0];\nconsole.log(`W_Regen Get Params: lesson_id=${lesson_id}, flagged_count=${flagged.length}`);\n// Sentinel first, then all rows. Build Full / VTT will read .first().json.lesson_id.\nreturn [{ json: { lesson_id, _sentinel: true } }, ...allRows];\n"
      },
      "id": "afe449d5-6400-cf84-da00-44fdf6b0ddac",
      "name": "Get Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13664,
        12000
      ]
    },
    {
      "parameters": {
        "jsCode": "// W_Regen — Regen Engine Code node.\n// Reads localizations rows from upstream Read Localizations, filters where\n// needs_retts=TRUE, and synthesizes each via ElevenLabs using Phase 1-style\n// timing logic (lead silence + speech + tail silence to match phase1_final_duration).\n//\n// Editor flow:\n//   1. Open localizations sheet, find row(s) to fix.\n//   2. Edit text_translated (and any other content fields if needed).\n//   3. Set needs_retts=TRUE; optionally add regen_comment for audit.\n//   4. Trigger W_Regen via Manual Trigger.\n// Result: audio for each flagged cell overwritten in Drive, sheet metrics updated,\n// needs_retts cleared, last_regen_at set.\n//\n// Multi-cell + multi-lesson handled in one run: cells processed with bounded concurrency\n// (regen_concurrency config key, default 5). Affected lessons are deduped and propagated\n// downstream so Build Full Audio + VTT regenerates only the lessons that had at least\n// one cell touched.\n\nconst SAMPLE_RATE = 44100;\nconst BPS = 2;\nconst MIN_VALID_PCM_BYTES = 8820;\nconst NEEDS_ATTENTION_THRESHOLD = 0.70;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n\nconst voiceMap = {};\n$('Read Voices').all().forEach(i => { if (i.json.lang) voiceMap[i.json.lang] = i.json; });\n\nconst EL_KEY = configMap.elevenlabs_api_key || '';\nif (!EL_KEY) throw new Error('elevenlabs_api_key missing from config sheet');\n\nconst MAX_SPEED_UP_DELTA = parseFloat(configMap.max_speed_up_delta) || 0.20;\nconst MAX_SLOW_DOWN_DELTA = parseFloat(configMap.max_slow_down_delta) || 0.15;\nconst SLOWDOWN_MIN_GAP_SEC = parseFloat(configMap.slowdown_min_gap_sec) || 0.5;\nconst REGEN_CONCURRENCY = parseFloat(configMap.regen_concurrency) || 5;\n\n// Read upstream localizations rows, filter by needs_retts flag\nconst allRows = $input.all();\nconst candidates = allRows.filter(it => {\n  const v = it.json.needs_retts;\n  return v === true || v === 'TRUE' || v === 'true';\n});\n\nif (candidates.length === 0) {\n  console.log('W_Regen: no rows flagged needs_retts=TRUE — exiting cleanly (no Slack notification, no sheet writes).');\n  // Return [] so downstream nodes (Has Audio?, Update Localizations Row, Build Full,\n  // Wait For Saves, Slack Notify) simply don't fire. Workflow ends with success.\n  // This makes spurious triggers (Slack link unfurl, accidental webhook GET) harmless.\n  return [];\n}\n\nconsole.log(`W_Regen: ${candidates.length} cells flagged for regeneration`);\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nfunction buildWav(pcm) {\n  const n = pcm.length;\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0); h.writeUInt32LE(36 + n, 4); h.write('WAVE', 8); h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16); h.writeUInt16LE(1, 20); h.writeUInt16LE(1, 22); h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28); h.writeUInt16LE(BPS, 32); h.writeUInt16LE(16, 34);\n  h.write('data', 36); h.writeUInt32LE(n, 40);\n  return Buffer.concat([h, pcm]);\n}\n\nasync function synthOne(row) {\n  const j = row.json;\n  const lang = j.lang;\n  const voice = voiceMap[lang];\n  if (!voice || !voice.voice_id) {\n    return {\n      json: { ...j, regen_error: `no voice for lang=${lang}`, has_audio: false },\n    };\n  }\n\n  const text = (j.text_translated || '').toString();\n  if (!text.trim()) {\n    return {\n      json: { ...j, regen_error: 'text_translated is empty', has_audio: false },\n    };\n  }\n\n  const enDur = parseFloat(j.en_duration_sec) || 0;\n  const lead = parseFloat(j.lead_silence_sec) || 0;\n  // Target the EXACT slot duration Phase 1 produced — matches Phase 2 reTtsOne logic\n  // so the concatenated full WAV stays EN-aligned after regen.\n  const phase1FinalDur = parseFloat(j.final_duration_sec) || 0;\n  const targetFileDur = phase1FinalDur > 0 ? phase1FinalDur : (lead + enDur);\n  const speechBudget = targetFileDur - lead;\n\n  if (speechBudget <= 0) {\n    return {\n      json: { ...j, regen_error: `speechBudget <= 0 (lead=${lead}, target=${targetFileDur})`, has_audio: false },\n    };\n  }\n\n  const baseSpeed = parseFloat(voice.speed) || 1.0;\n  const stability = parseFloat(voice.stability) || 0.5;\n  const similarity = parseFloat(voice.similarity_boost) || 0.75;\n  const style = parseFloat(voice.style) || 0;\n  const model = voice.model || 'eleven_multilingual_v2';\n\n  async function ttsAt(speed) {\n    const MAX_TRIES = 4;\n    for (let attempt = 0; attempt < MAX_TRIES; attempt++) {\n      try {\n        const resp = await this.helpers.httpRequest({\n          method: 'POST',\n          url: `https://api.elevenlabs.io/v1/text-to-speech/${voice.voice_id}/stream?output_format=pcm_44100`,\n          headers: { 'xi-api-key': EL_KEY, 'content-type': 'application/json', accept: 'audio/pcm' },\n          body: {\n            text,\n            model_id: model,\n            voice_settings: { stability, similarity_boost: similarity, style, speed },\n          },\n          encoding: 'arraybuffer',\n          returnFullResponse: false,\n        });\n        return Buffer.from(resp);\n      } catch (e) {\n        if (attempt === MAX_TRIES - 1) {\n          console.error(`W_Regen TTS failed for ${j.segment_id}_${lang}:`, e.message);\n          return null;\n        }\n        await sleep(2000 * Math.pow(2, attempt));\n      }\n    }\n    return null;\n  }\n\n  let pcm = await ttsAt.call(this, baseSpeed);\n  if (!pcm || pcm.length < MIN_VALID_PCM_BYTES) {\n    return {\n      json: { ...j, regen_error: 'TTS produced no audio', has_audio: false },\n    };\n  }\n  let real = pcm.length / (SAMPLE_RATE * BPS);\n  let usedSpeed = baseSpeed;\n\n  // Speed-up retry if overshoot (mirrors Phase 1 shorten path + Phase 2 reTtsOne)\n  if (real > speechBudget) {\n    const steps = [\n      baseSpeed + MAX_SPEED_UP_DELTA * (2 / 3),\n      baseSpeed + MAX_SPEED_UP_DELTA,\n    ];\n    for (const speedTry of steps) {\n      const fastPcm = await ttsAt.call(this, speedTry);\n      if (!fastPcm || fastPcm.length < MIN_VALID_PCM_BYTES) continue;\n      const fastReal = fastPcm.length / (SAMPLE_RATE * BPS);\n      if (fastReal <= speechBudget) {\n        pcm = fastPcm; real = fastReal; usedSpeed = parseFloat(speedTry.toFixed(3));\n        break;\n      }\n    }\n  }\n\n  let needsAttention = false;\n\n  if (real > speechBudget) {\n    // Still overshoot at max speed-up — hard-truncate and flag\n    needsAttention = true;\n    const truncBytes = Math.round(speechBudget * SAMPLE_RATE) * BPS;\n    pcm = pcm.subarray(0, truncBytes);\n    real = pcm.length / (SAMPLE_RATE * BPS);\n  } else if (speechBudget - real > SLOWDOWN_MIN_GAP_SEC) {\n    // Slowdown-to-fill (mirrors Phase 2 reTtsOne)\n    const floor = baseSpeed - MAX_SLOW_DOWN_DELTA;\n    const wanted = baseSpeed * (real / speechBudget);\n    const slowSpeed = parseFloat(Math.max(floor, wanted).toFixed(3));\n    if (slowSpeed < baseSpeed - 1e-6 && slowSpeed > 0) {\n      const slowPcm = await ttsAt.call(this, slowSpeed);\n      if (slowPcm && slowPcm.length >= MIN_VALID_PCM_BYTES) {\n        const slowReal = slowPcm.length / (SAMPLE_RATE * BPS);\n        if (slowReal <= speechBudget) {\n          pcm = slowPcm; real = slowReal; usedSpeed = slowSpeed;\n        }\n      }\n    }\n  }\n\n  const tail = Math.max(0, targetFileDur - lead - real);\n\n  // Flag if speech is significantly shorter than the EN slot (mirrors Phase 2 threshold)\n  if (enDur > 0 && real / enDur < NEEDS_ATTENTION_THRESHOLD) needsAttention = true;\n\n  const leadBytes = Math.round(lead * SAMPLE_RATE) * BPS;\n  const tailBytes = Math.round(tail * SAMPLE_RATE) * BPS;\n  const fullPcm = Buffer.concat([\n    leadBytes > 0 ? Buffer.alloc(leadBytes, 0) : Buffer.alloc(0),\n    pcm,\n    tailBytes > 0 ? Buffer.alloc(tailBytes, 0) : Buffer.alloc(0),\n  ]);\n  const wav = buildWav(fullPcm);\n  const finalDur = (leadBytes + pcm.length + tailBytes) / (SAMPLE_RATE * BPS);\n\n  return {\n    json: {\n      row_key:                       j.row_key,\n      segment_id:                    j.segment_id,\n      lang,\n      lesson_id:                     j.lesson_id || (j.segment_id || '').split('_seg_')[0],\n      text_translated:               text,\n      en_start_sec:                  parseFloat(j.en_start_sec) || 0,\n      en_duration_sec:               enDur,\n      slot_start_sec:                parseFloat(j.slot_start_sec) || 0,\n      slot_end_sec:                  parseFloat(j.slot_end_sec) || 0,\n      lead_silence_sec:              parseFloat(lead.toFixed(3)),\n      tts_budget_sec:                parseFloat(j.tts_budget_sec) || enDur,\n      tail_silence_sec:              parseFloat(tail.toFixed(3)),\n      real_duration_sec:             parseFloat(real.toFixed(3)),\n      final_duration_sec:            parseFloat(finalDur.toFixed(3)),\n      borrowed_sec:                  parseFloat(j.borrowed_sec) || 0,\n      expansion_attempts:            parseFloat(j.expansion_attempts) || 0,\n      shorten_retries_in_synthesize: parseFloat(j.shorten_retries_in_synthesize) || 0,\n      final_speed:                   usedSpeed,\n      // Tri-state needs_attention semantics:\n      //   TRUE  = W_Regen still couldn't fit audio in slot (hard-truncated or speech <70%)\n      //   REVIEW = W_Regen produced a valid file — human should listen + flip to FALSE/TRUE\n      //   FALSE = (only W3 writes this; W_Regen never demotes to FALSE — human verifies)\n      // Operator workflow: W3 writes TRUE/FALSE → operator flags TRUE → runs W_Regen →\n      // cell becomes REVIEW (yellow) → operator listens → manually flips to FALSE (green)\n      // or back to TRUE (red) if regen still sounds wrong.\n      needs_attention:               needsAttention ? 'TRUE' : 'REVIEW',\n      needs_retts:                   'FALSE',\n      // Kyiv local time, Sheets-friendly format \"YYYY-MM-DD HH:MM:SS\".\n      // 'sv-SE' locale uses ISO-like format with space separator, ideal for sorting.\n      last_regen_at:                 new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Kyiv' }),\n      regen_comment:                 j.regen_comment || '',\n      audio_drive_file_id:           j.audio_drive_file_id,\n      phase2_outcome:                j.phase2_outcome || '',\n      file_name:                     `${j.segment_id}_${lang}.wav`,\n      has_audio:                     true,\n    },\n    binary: {\n      data: {\n        data:     wav.toString('base64'),\n        mimeType: 'audio/wav',\n        fileName: `${j.segment_id}_${lang}.wav`,\n      },\n    },\n  };\n}\n\n// Bounded-concurrent synthesis. Same idiom as W3 Phase 2 reTtsOne batching.\nconst results = [];\nfor (let i = 0; i < candidates.length; i += REGEN_CONCURRENCY) {\n  const slice = candidates.slice(i, i + REGEN_CONCURRENCY);\n  const partial = await Promise.all(slice.map(c => synthOne.call(this, c)));\n  for (const r of partial) results.push(r);\n}\n\nconst ok = results.filter(r => r.json.has_audio).length;\nconst failed = results.length - ok;\nconst affectedLessons = [...new Set(results.filter(r => r.json.has_audio).map(r => r.json.lesson_id))];\nconsole.log(`W_Regen: ${ok} cells regenerated, ${failed} failed, affected lessons: ${affectedLessons.join(', ')}`);\n\nreturn results;\n"
      },
      "id": "422557c6-166f-ccd7-052d-a77f4006b53b",
      "name": "Regen Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13456,
        12000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-audio-check",
              "leftValue": "={{ $json.has_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "498c1495-c313-259a-5886-8e443fe99c93",
      "name": "Has Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -13264,
        12000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.audio_drive_file_id }}?uploadType=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "3e78c6c7-815d-f4ed-cc5b-f6dc7a7971b2",
      "name": "Drive PATCH",
      "position": [
        -13056,
        11888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d5a0b444-0ef7-daf1-359f-ac6fd7afc88b",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -12864,
        12000
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_key": "={{ $('Regen Engine').item.json.row_key }}",
            "segment_id": "={{ $('Regen Engine').item.json.segment_id }}",
            "lang": "={{ $('Regen Engine').item.json.lang }}",
            "text_translated": "={{ $('Regen Engine').item.json.text_translated }}",
            "en_start_sec": "={{ $('Regen Engine').item.json.en_start_sec }}",
            "en_duration_sec": "={{ $('Regen Engine').item.json.en_duration_sec }}",
            "real_duration_sec": "={{ $('Regen Engine').item.json.real_duration_sec }}",
            "lead_silence_sec": "={{ $('Regen Engine').item.json.lead_silence_sec }}",
            "slot_start_sec": "={{ $('Regen Engine').item.json.slot_start_sec }}",
            "slot_end_sec": "={{ $('Regen Engine').item.json.slot_end_sec }}",
            "tts_budget_sec": "={{ $('Regen Engine').item.json.tts_budget_sec }}",
            "tail_silence_sec": "={{ $('Regen Engine').item.json.tail_silence_sec }}",
            "final_duration_sec": "={{ $('Regen Engine').item.json.final_duration_sec }}",
            "borrowed_sec": "={{ $('Regen Engine').item.json.borrowed_sec }}",
            "expansion_attempts": "={{ $('Regen Engine').item.json.expansion_attempts }}",
            "shorten_retries_in_synthesize": "={{ $('Regen Engine').item.json.shorten_retries_in_synthesize }}",
            "final_speed": "={{ $('Regen Engine').item.json.final_speed }}",
            "audio_drive_file_id": "={{ $('Regen Engine').item.json.audio_drive_file_id }}",
            "phase2_outcome": "={{ $('Regen Engine').item.json.phase2_outcome }}",
            "needs_attention": "={{ $('Regen Engine').item.json.needs_attention }}",
            "needs_retts": "={{ $('Regen Engine').item.json.needs_retts }}",
            "last_regen_at": "={{ $('Regen Engine').item.json.last_regen_at }}",
            "regen_comment": "={{ $('Regen Engine').item.json.regen_comment }}"
          },
          "matchingColumns": [
            "row_key"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "id": "dffeaf0e-974f-7ce9-78d3-10f2bd4cbd54",
      "name": "Update Localizations Row",
      "position": [
        -12688,
        12000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LAxDWyV0pAxM1s5W00PTJ7OvFNQUxoeMSuszuOz3lDU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "localizations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c55b38ed-66ab-2f74-e3b5-1516df12b091",
      "name": "Read Localizations Fresh",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12352,
        12000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPkRwpwr0BlVtmZ2",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Concat per-segment WAVs into one full WAV per language.\n// Memory-conscious: iterates active_langs sequentially, no pre-grouping of all items,\n// explicit reference cleanup after each lang. Pairs with N8N_BINARY_DATA_MODE=filesystem\n// for further heap savings.\nconst SAMPLE_RATE = 44100;\nconst BPS         = 2;\n\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n// Per-lang dispatch (B2): scope to the single lang the orchestrator passed (via Get\n// Params active_langs); absent → config (all langs). Keeps peak memory at ~1 lang.\nconst langOverride = $('Get Params').first().json.active_langs;\nconst activeLangs = (langOverride || configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean).sort();\n\n// As of 2026-05-31 refactor: borrow compensation is now done UPSTREAM by the\n// new `Trim Lead For Sequence` node (which trims each post-borrow segment's\n// lead silence by the previous segment's borrowed_sec and overwrites the Drive\n// copy via a parallel Save Trimmed Audio path). By the time items reach Build\n// Full Audio Per Lang, they are already sequence-aligned. This node is now a\n// pure concatenator — just strip 44-byte WAV headers, accumulate PCM, emit.\n//\n// Why the change: individual WAVs in Drive used to extend past their slot_end\n// for short-segment-borrow cells; editors placing them end-to-end (e.g. in\n// Reaper) saw ~1.5s cumulative drift. Trimming upstream gives Drive a\n// sequence-friendly set of files; Build Full Audio no longer needs special\n// per-segment compensation logic.\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Download Segment WAV must run first');\n\n// Map item reference → its original index in $input.all() so that, after\n// filter/sort, we can still pass the correct itemIndex to getBinaryDataBuffer.\n// (Critical for N8N_BINARY_DATA_MODE=filesystem support — see Check Timing + Pad.)\nconst indexMap = new Map(items.map((it, idx) => [it, idx]));\n\nconst results = [];\nfor (const lang of activeLangs) {\n  // Lazy filter for current lang only (no pre-grouping → no doubled refs).\n  const entries = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n\n  if (!entries.length) continue;\n\n  // Strip 44-byte WAV header from each segment, accumulate raw PCM.\n  // Segments come in already trimmed by upstream Trim Lead For Sequence node, so\n  // this is a straight concat — no per-segment borrow compensation here.\n  const pcmChunks = [];\n  let skippedNoBinary = 0;\n  let skippedEmptyWav = 0;\n  for (const e of entries) {\n    if (!e.binary?.data) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — no binary slot on item`);\n      continue;\n    }\n    // CRITICAL: must use this.helpers.getBinaryDataBuffer() — with\n    // N8N_BINARY_DATA_MODE=filesystem the raw binary.data.data is a tiny\n    // placeholder, not the actual WAV bytes.\n    const originalIdx = indexMap.get(e);\n    if (originalIdx === undefined) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — could not resolve original item index`);\n      continue;\n    }\n    let wavBuf;\n    try {\n      wavBuf = await this.helpers.getBinaryDataBuffer(originalIdx, 'data');\n    } catch (err) {\n      skippedNoBinary++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — getBinaryDataBuffer failed: ${err.message}`);\n      continue;\n    }\n    if (!wavBuf || wavBuf.length <= 44) {\n      skippedEmptyWav++;\n      console.warn(`Build Full: ${lang} ${e.json?.segment_id} skipped — WAV is ${wavBuf?.length ?? 0} bytes (header-only or empty)`);\n      continue;\n    }\n    pcmChunks.push(wavBuf.subarray(44));\n  }\n\n  const fullPcm = Buffer.concat(pcmChunks);\n  pcmChunks.length = 0;  // explicit ref clear — helps GC reclaim per-segment buffers\n  const n = fullPcm.length;\n\n  // Build fresh WAV header (44100Hz mono 16-bit — matches segments)\n  const h = Buffer.alloc(44);\n  h.write('RIFF', 0);          h.writeUInt32LE(36 + n, 4);\n  h.write('WAVE', 8);          h.write('fmt ', 12);\n  h.writeUInt32LE(16, 16);     h.writeUInt16LE(1, 20);\n  h.writeUInt16LE(1, 22);      h.writeUInt32LE(SAMPLE_RATE, 24);\n  h.writeUInt32LE(SAMPLE_RATE * BPS, 28);\n  h.writeUInt16LE(BPS, 32);    h.writeUInt16LE(16, 34);\n  h.write('data', 36);         h.writeUInt32LE(n, 40);\n  const fullWav = Buffer.concat([h, fullPcm]);\n\n  const lessonId = String(entries[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.wav`;\n\n  if (skippedNoBinary > 0 || skippedEmptyWav > 0) {\n    console.warn(`Build Full: ${lang} skipped ${skippedNoBinary} items (no binary) + ${skippedEmptyWav} items (empty WAV) out of ${entries.length}`);\n  }\n  results.push({\n    json: {\n      lang,\n      lesson_id:              lessonId,\n      file_name:              fileName,\n      total_segments:         entries.length,\n      skipped_no_binary:      skippedNoBinary,\n      skipped_empty_wav:      skippedEmptyWav,\n      full_duration_sec:      parseFloat((n / (SAMPLE_RATE * BPS)).toFixed(3)),\n    },\n    binary: {\n      data: {\n        data:     fullWav.toString('base64'),\n        mimeType: 'audio/wav',\n        fileName,\n      },\n    },\n  });\n  // fullPcm + fullWav fall out of scope at next iteration — GC can reclaim.\n}\n\nif (!results.length) throw new Error('No localizations to concat' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;"
      },
      "id": "2f8b987a-9d08-6e6e-187d-b4466ea5fffb",
      "name": "Build Full Audio Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11968,
        11888
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4ffa0ae7-9974-dcdf-6eb3-a5d877293ba3",
      "name": "Save Full to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11776,
        11888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build WebVTT subtitles per active language. One .vtt per lang, matching the\n// full-lesson WAV positions. Runs in parallel with Download Segment WAV (both read\n// the same Read Localizations Fresh output).\n//\n// Cue timings: en_start_sec → en_end_sec. After the borrow-compensation fix in\n// Build Full Audio Per Lang, each segment in the full WAV starts exactly at\n// en_start_sec — so EN-aligned cues match the dubbed audio for every language.\n// Cue text: text_translated (final version after Verify + Adapt + W3 shorten).\n\nconst lesson_id = $('Get Params').first().json.lesson_id;\n\nconst configMap = {};\n$('Read Config').all().forEach(i => { if (i.json.key) configMap[i.json.key] = i.json.value; });\n// Per-lang dispatch (B2): scope to the single lang the orchestrator passed (via Get\n// Params active_langs); absent → config (all langs).\nconst langOverride = $('Get Params').first().json.active_langs;\nconst activeLangs = (langOverride || configMap.active_langs || 'de,es,fr,it,pl,pt,tr')\n  .split(',').map(s => s.trim()).filter(Boolean);\n\nconst items = $input.all();\nif (!items.length) throw new Error('No items — Read Localizations Fresh must run first');\n\nfunction fmtTime(sec) {\n  // VTT timestamp: HH:MM:SS.mmm\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = sec - h * 3600 - m * 60;\n  return `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}:${s.toFixed(3).padStart(6, '0')}`;\n}\n\nconst results = [];\nfor (const lang of activeLangs) {\n  const segs = items\n    .filter(i => i.json && i.json.lang === lang)\n    .filter(i => !lesson_id || (i.json.segment_id || '').startsWith(lesson_id + '_'))\n    .sort((a, b) => String(a.json.segment_id).localeCompare(String(b.json.segment_id)));\n  if (!segs.length) continue;\n\n  const lines = ['WEBVTT', ''];\n  let cueIdx = 0;\n  for (const e of segs) {\n    const s = e.json;\n    const start = parseFloat(s.en_start_sec) || 0;\n    const dur   = parseFloat(s.en_duration_sec) || 0;\n    const end   = start + dur;\n    const text  = (s.text_translated || '').toString().trim().replace(/\\r?\\n/g, ' ');\n    if (!text) continue;\n    cueIdx++;\n    lines.push(String(cueIdx));\n    lines.push(`${fmtTime(start)} --> ${fmtTime(end)}`);\n    lines.push(text);\n    lines.push('');\n  }\n  if (cueIdx === 0) continue;\n  const vtt = lines.join('\\n');\n\n  const lessonId = String(segs[0].json.segment_id).split('_seg_')[0] || 'lesson';\n  const fileName = `${lessonId}_full_${lang}.vtt`;\n  results.push({\n    json: {\n      lang,\n      lesson_id: lessonId,\n      file_name: fileName,\n      total_cues: cueIdx,\n      vtt_bytes:  Buffer.byteLength(vtt, 'utf8'),\n    },\n    binary: {\n      data: {\n        data: Buffer.from(vtt, 'utf8').toString('base64'),\n        mimeType: 'text/vtt',\n        fileName,\n      },\n    },\n  });\n}\n\nif (!results.length) throw new Error('No localizations for VTT' + (lesson_id ? ' for lesson_id=' + lesson_id : ''));\nreturn results;\n"
      },
      "id": "8c9fd4a0-e3fc-a2b5-08c9-96ab185abe05",
      "name": "Build VTT Per Lang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11968,
        12096
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Read Config').all().find(i => i.json.key === 'drive_output_vtt_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_full_folder_id')?.json.value || $('Read Config').all().find(i => i.json.key === 'drive_output_folder_id')?.json.value }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "041bddc4-2862-5039-5bd2-aeb43fb6ee6d",
      "name": "Save VTT to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11776,
        12096
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.audio_drive_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "537675b5-226e-36a7-b0e0-40336fde78fd",
      "name": "Download Segment WAV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -12176,
        11888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Coalesce — collapses N Update Localizations Row output items into 1 trigger item.\n// Reason: downstream Read Localizations Fresh fires per-input-item by default. With 3\n// regen'd cells we'd get 3 sheet reads, each emitting 3xN items downstream — Build Full\n// would then concat each segment 3 times. Coalescing to 1 item ensures Read Loc Fresh\n// fires exactly once, returning the clean N-row localizations set.\nconst items = $input.all();\nconsole.log(`W_Regen Coalesce: ${items.length} updates complete, triggering single-fire downstream`);\nreturn [{ json: { updates_count: items.length, _trigger: true } }];\n"
      },
      "id": "48d4dbba-3995-1d9c-6ae0-80aba1113c2a",
      "name": "Coalesce Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12512,
        12000
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ \"name = '\" + $(\"Build Full Audio Per Lang\").item.json.file_name + \"' and '\" + $(\"Read Config\").all().find(i => i.json.key === 'drive_output_full_folder_id').json.value + \"' in parents and trashed = false\" }}"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "3109021b-87d3-a02b-b8e6-22cdd76a9248",
      "name": "Search Same Name Full",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11568,
        11888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan Old Deletes Full — extract file IDs of duplicate files to delete.\n// Input: search responses (one per lang) with .files[] arrays.\n// Read just-saved file IDs from $('Save Full to Drive').all() and exclude them.\nconst items = $input.all();\nconst savedItems = $('Save Full to Drive').all();\nconst newIds = new Set(savedItems.map(i => i.json.id).filter(Boolean));\nconsole.log(`Plan Old Deletes Full: just-saved IDs to preserve: ${[...newIds].join(', ')}`);\nconst out = [];\nlet totalFound = 0, totalOld = 0;\nfor (const item of items) {\n  const files = item.json.files || [];\n  totalFound += files.length;\n  for (const f of files) {\n    if (!newIds.has(f.id)) {\n      totalOld++;\n      out.push({ json: { file_id: f.id, file_name: f.name } });\n    }\n  }\n}\nconsole.log(`Plan Old Deletes Full: search returned ${totalFound} matches total, ${totalOld} old (to delete), ${totalFound - totalOld} kept (just-uploaded)`);\nreturn out;\n"
      },
      "id": "8a98d242-d864-7937-8385-a66ec25efac3",
      "name": "Plan Old Deletes Full",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11376,
        11888
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5fe6c1dd-215c-2de5-164d-beda1e8cfe98",
      "name": "Delete Old Full",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11168,
        11888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ \"name = '\" + $(\"Build VTT Per Lang\").item.json.file_name + \"' and '\" + $(\"Read Config\").all().find(i => i.json.key === 'drive_output_vtt_folder_id').json.value + \"' in parents and trashed = false\" }}"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "2c28aed1-5ec7-120b-6f14-80d35c322667",
      "name": "Search Same Name VTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11568,
        12096
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan Old Deletes VTT — extract file IDs of duplicate files to delete.\n// Input: search responses (one per lang) with .files[] arrays.\n// Read just-saved file IDs from $('Save VTT to Drive').all() and exclude them.\nconst items = $input.all();\nconst savedItems = $('Save VTT to Drive').all();\nconst newIds = new Set(savedItems.map(i => i.json.id).filter(Boolean));\nconsole.log(`Plan Old Deletes VTT: just-saved IDs to preserve: ${[...newIds].join(', ')}`);\nconst out = [];\nlet totalFound = 0, totalOld = 0;\nfor (const item of items) {\n  const files = item.json.files || [];\n  totalFound += files.length;\n  for (const f of files) {\n    if (!newIds.has(f.id)) {\n      totalOld++;\n      out.push({ json: { file_id: f.id, file_name: f.name } });\n    }\n  }\n}\nconsole.log(`Plan Old Deletes VTT: search returned ${totalFound} matches total, ${totalOld} old (to delete), ${totalFound - totalOld} kept (just-uploaded)`);\nreturn out;\n"
      },
      "id": "25b94d44-7502-7355-c0ce-d874871c1b9b",
      "name": "Plan Old Deletes VTT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11376,
        12096
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b1d81447-b21f-50f2-5c16-350238ec60f9",
      "name": "Delete Old VTT",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11168,
        12096
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MoWG4XRaoJGU18eu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "f1e2d3c4-b5a6-9788-0123-waitforsaves01",
      "name": "Wait For Saves",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -11568,
        12288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build one Slack message per affected lesson after a W_Regen run.\n// Symmetric to W_Master's Build Slack Message: emits { channel, text }.\n// Reads:\n//   $('Read Config').all()              — slack_channel, folder IDs, w_regen_workflow_url\n//   $('Regen Engine').all()             — per-cell results (has_audio, lesson_id, regen_error)\n//   $('Read Localizations Fresh').all() — post-regen rows for needs_attention rate\n// Fires only when at least one cell was regenerated; empty runs short-circuit.\nconst cfg = {};\n$('Read Config').all().forEach(i => { if (i.json && i.json.key) cfg[i.json.key] = i.json.value; });\n\nconst channel = cfg.slack_channel;\nif (!channel) {\n  console.log('W_Regen Slack: slack_channel missing — skipping notification');\n  return [];\n}\n\nconst fullFolder = cfg.drive_output_full_folder_id || cfg.drive_output_folder_id;\nconst segmentsFolder = cfg.drive_output_folder_id;\nconst vttFolder  = cfg.drive_output_vtt_folder_id;\nconst regenUrl   = cfg.w_regen_workflow_url;\nconst fullUrl     = fullFolder     ? `https://drive.google.com/drive/folders/${fullFolder}`     : null;\nconst segmentsUrl = segmentsFolder ? `https://drive.google.com/drive/folders/${segmentsFolder}` : null;\nconst vttUrl      = vttFolder      ? `https://drive.google.com/drive/folders/${vttFolder}`      : null;\n\nconst regenResults = $('Regen Engine').all().map(i => i.json || {});\nconst lessonStats = new Map();\nfor (const r of regenResults) {\n  if (!r.lesson_id) continue;\n  const s = lessonStats.get(r.lesson_id) || { ok: 0, failed: 0 };\n  if (r.has_audio) s.ok++;\n  else if (r.regen_error) s.failed++;\n  lessonStats.set(r.lesson_id, s);\n}\nif (lessonStats.size === 0) {\n  console.log('W_Regen Slack: no affected lessons — skipping notification');\n  return [];\n}\n\nconst messages = [];\nfor (const [lesson_id, { ok, failed }] of lessonStats) {\n  const cellsLine = failed > 0 ? `${ok} (${failed} failed)` : `${ok}`;\n\n  const lines = [\n    ':arrows_counterclockwise: *Regen complete*',\n    '',\n    `*Lesson:* ${lesson_id}`,\n    `*Cells regenerated:* ${cellsLine}`,\n  ];\n  if (fullUrl || segmentsUrl || vttUrl || regenUrl) lines.push('');\n  if (fullUrl)     lines.push(`:file_folder: <${fullUrl}|Full audio (per-lang)>`);\n  if (segmentsUrl) lines.push(`:musical_note: <${segmentsUrl}|Per-segment audio>`);\n  if (vttUrl)      lines.push(`:closed_book: <${vttUrl}|VTT subtitles>`);\n  if (regenUrl)    lines.push(`:wrench: <${regenUrl}|Regen Segments>`);\n\n  messages.push({ json: { channel, text: lines.join('\\n') } });\n}\nreturn messages;"
      },
      "id": "a4b5c6d7-e8f9-0a1b-2c3d-buildregenslk1",
      "name": "Build Regen Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11376,
        12288
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false,
          "includeLinkToWorkflow": false
        }
      },
      "id": "b5c6d7e8-f9a0-1b2c-3d4e-slackregennot1",
      "name": "Slack Notify (Regen)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -11168,
        12288
      ],
      "webhookId": "regen-slack-notify-001",
      "credentials": {
        "slackApi": {
          "id": "ogtQ2NONkRrXj2kl",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config": {
      "main": [
        [
          {
            "node": "Read Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voices": {
      "main": [
        [
          {
            "node": "Read Localizations Initial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations Initial": {
      "main": [
        [
          {
            "node": "Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Params": {
      "main": [
        [
          {
            "node": "Regen Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regen Engine": {
      "main": [
        [
          {
            "node": "Has Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio?": {
      "main": [
        [
          {
            "node": "Drive PATCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Drive PATCH": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Update Localizations Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Localizations Row": {
      "main": [
        [
          {
            "node": "Coalesce Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Localizations Fresh": {
      "main": [
        [
          {
            "node": "Download Segment WAV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build VTT Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Audio Per Lang": {
      "main": [
        [
          {
            "node": "Save Full to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VTT Per Lang": {
      "main": [
        [
          {
            "node": "Save VTT to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Segment WAV": {
      "main": [
        [
          {
            "node": "Build Full Audio Per Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coalesce Updates": {
      "main": [
        [
          {
            "node": "Read Localizations Fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Full to Drive": {
      "main": [
        [
          {
            "node": "Search Same Name Full",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait For Saves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Same Name Full": {
      "main": [
        [
          {
            "node": "Plan Old Deletes Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Old Deletes Full": {
      "main": [
        [
          {
            "node": "Delete Old Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save VTT to Drive": {
      "main": [
        [
          {
            "node": "Search Same Name VTT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait For Saves",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Same Name VTT": {
      "main": [
        [
          {
            "node": "Plan Old Deletes VTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Old Deletes VTT": {
      "main": [
        [
          {
            "node": "Delete Old VTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Saves": {
      "main": [
        [
          {
            "node": "Build Regen Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Regen Slack Message": {
      "main": [
        [
          {
            "node": "Slack Notify (Regen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75d75077-0556-66e5-950d-091b82202d69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c12dc3211079879af783deee1a944ea9622a2040afb6e429392b5bbe95dd7037"
  },
  "id": "3b72944ad4a83f92",
  "tags": []
}
